
<!-- <table width="100%"> -->
<!-- 	<tr> -->
<!-- 		<td colspan="2"><strong>{{ 'player_details_game_label' | i18n }}:</strong> {{ userProfile.gameId }}</td> -->
<!-- 	</tr> -->
<!-- 	<tr> -->
<!-- 		<td><strong>{{ 'player_details_badge_label' | i18n }}</strong></td> -->
<!-- 		<td></td> -->
<!-- 	</tr> -->
<!-- 	<tbody class="animate-repeat" ng-repeat="b in userProfile.badges[3].badgeEarned"> -->
<!-- 		<tr> -->
<!-- 			<td colspan="2">{{ b }}</td> -->
<!-- 		</tr> -->
<!-- 	</tbody> -->
<!-- </table> -->
<div ng-show="userNoSpecialBadge==true">
	<h5>{{ 'no_special_badge' | i18n }}</h5>
</div>

<div class="row" align="center">
	<div class="col-md-4" ng-show="userShowEMotion==true">
		<img height="150" width="150" src="img/special/special_emotion.svg" alt="Bedge Special Emotion" title="Bedge Special Emotion">
	</div>
	<div class="col-md-4" ng-show="userShowZeroImpact==true">
		<img height="150" width="150" src="img/special/special_impatto_zero.svg" alt="Bedge Special ZeroImpact" title="Bedge Special ZeroImpact">
	</div>
	<div class="col-md-4" ng-show="userShowManifatturaPark==true">
		<img height="150" width="150" src="img/special/special_special_p_manifattura.svg" alt="Bedge Special Manifattura Park" title="Bedge Special Manifattura Park">
	</div>
	<div class="col-md-4" ng-show="userShowQuerciaPark==true">
		<img height="150" width="150" src="img/special/special_p_quercia.svg" alt="Bedge Special Quercia Park" title="Bedge Special Quercia Park">
	</div>
	<div class="col-md-4" ng-show="userShowCentroStoricoPark==true">
		<img height="150" width="150" src="img/special/special_p_centro.storico.svg" alt="Bedge Special Centro Storico Park" title="Bedge Special Centro Storico Park">
	</div>
	<div class="col-md-4" ng-show="userShowParcheggioCentroPark==true">
		<img height="150" width="150" src="img/special/special_p_centro.svg" alt="Bedge Special Parcheggio Centro Park" title="Bedge Special Parcheggio Centro Park">
	</div>
	<div class="col-md-4" ng-show="userShowALeoniPark==true">
		<img height="150" width="150" src="img/special/special_p_p.le.a.leoni.svg" alt="Bedge Special Piazzale Leoni Park" title="Bedge Special Piazzale Leoni Park">
	</div>
	<div class="col-md-4" ng-show="userShowSpecialBike==true">
		<img height="150" width="150" src="img/special/special_bike.svg" alt="Bedge Salute Silver Medal" title="Bedge Salute Silver Medal">
	</div>
	<div class="col-md-4" ng-show="userShowSpecialWalking==true">
		<img height="150" width="150" src="img/special/special_walking.svg" alt="Bedge Green Salute Medal" title="Bedge Salute Gold Medal">
	</div>
</div>
