<div id="green-big-score" class="row"><!-- ng-show="userShowGreenKingWeek!=true" -->
	<div class="col-md-6 col-md-offset-3" align="center">
		<h5>
			<img height="150" width="150" src="img/green/greenLeavesTesto.svg" alt="Punteggio Green" title="Punteggio Green">
			<strong>{{ userProfile.scores[0].score }} {{ 'player_details_score_label_green' | i18n }}</strong>
		</h5>
	</div>
</div>
<div id="green-big-score-king" class="row" ng-show="userShowGreenKingWeek==true">
	<div class="col-md-6 col-md-offset-3" align="center">
		<h5>
			<img height="180" width="150" src="img/green/greenKingWeek.svg" alt="Bedge Green King Week" title="Bedge Green King Week">
			<strong>{{ 'player_king_week_label_green' | i18n }}</strong>
		</h5>
	</div>
</div>
<div id="green-small-score" class="row" align="center"><!-- ng-show="userShowGreenKingWeek!=true" -->
	<div class="col-md-3 col-md-offset-3" align="center">
		<img height="150" width="150" src="img/green/greenLeavesTesto.svg" alt="Punteggio Green" title="Punteggio Green">
	</div>
	<div class="col-md-3" align="center">
		<h5><strong>{{ userProfile.scores[0].score }} {{ 'player_details_score_label_green' | i18n }}</strong></h5>
	</div>
</div>
<div id="green-small-score-king" class="row" ng-show="userShowGreenKingWeek==true">
	<div class="col-md-3 col-md-offset-3" align="center">
		<img height="180" width="150" src="img/green/greenKingWeek.svg" alt="Bedge Green King Week" title="Bedge Green King Week">
	</div>
	<div class="col-md-3" align="center">
		<h5><strong>{{ 'player_king_week_label_green' | i18n }}</strong></h5>
	</div>
</div>
<div id="big-badges" class="row" align="center">
	<!-- <div class="col-md-4" ng-show="userProfile.scores[0].score >= 10">
		<img height="150" width="150" src="img/green/greenLeaves10.svg" alt="Bedge Green 10" title="Bedge Green 10">
	</div> -->
	<!-- <div class="col-md-4" ng-show="userProfile.scores[0].score >= 50">
		<img height="150" width="150" src="img/green/greenLeaves50.svg" alt="Bedge Green 50" title="Bedge Green 50">
	</div>
	<div class="col-md-4" ng-show="userProfile.scores[0].score >= 100">
		<img height="150" width="150" src="img/green/greenLeaves100.svg" alt="Bedge Green 100" title="Bedge Green 100">
	</div>
	<div class="col-md-4" ng-show="userProfile.scores[0].score >= 250">
		<img height="150" width="150" src="img/green/greenLeaves250.svg" alt="Bedge Green 250" title="Bedge Green 250">
	</div>
	<div class="col-md-4" ng-show="userProfile.scores[0].score >= 500">
		<img height="150" width="150" src="img/green/greenLeaves500.svg" alt="Bedge Green 500" title="Bedge Green 500">
	</div>
	<div class="col-md-4" ng-show="userProfile.scores[0].score >= 1000">
		<img height="150" width="150" src="img/green/greenLeaves1000.svg" alt="Bedge Green 1000" title="Bedge Green 1000">
	</div> -->
	<div class="col-md-4" ng-show="userShowGreenLeaves50==true">
		<img height="150" width="150" src="img/green/greenLeaves50.svg" alt="Bedge Green 50" title="Bedge Green 50">
	</div>
	<div class="col-md-4" ng-show="userShowGreenLeaves100==true">
		<img height="150" width="150" src="img/green/greenLeaves100.svg" alt="Bedge Green 100" title="Bedge Green 100">
	</div>
	<div class="col-md-4" ng-show="userShowGreenLeaves200==true">
		<img height="150" width="150" src="img/green/greenLeaves200.svg" alt="Bedge Green 200" title="Bedge Green 200">
	</div>
	<div class="col-md-4" ng-show="userShowGreenLeaves400==true">
		<img height="150" width="150" src="img/green/greenLeaves400.svg" alt="Bedge Green 400" title="Bedge Green 400">
	</div>
	<div class="col-md-4" ng-show="userShowGreenLeaves800==true">
		<img height="150" width="150" src="img/green/greenLeaves800.svg" alt="Bedge Green 800" title="Bedge Green 800">
	</div>
	<div class="col-md-4" ng-show="userShowGreenLeaves1500==true">
		<img height="150" width="150" src="img/green/greenLeaves1500.svg" alt="Bedge Green 1500" title="Bedge Green 1500">
	</div>
	<div class="col-md-4" ng-show="userShowGreenLeaves2500==true">
		<img height="150" width="150" src="img/green/greenLeaves2500.svg" alt="Bedge Green 2500" title="Bedge Green 2500">
	</div>
	<div class="col-md-4" ng-show="userShowGreenLeaves5000==true">
		<img height="150" width="150" src="img/green/greenLeaves5000.svg" alt="Bedge Green 5000" title="Bedge Green 5000">
	</div>
	<div class="col-md-4" ng-show="userShowGreenBronzeMedal==true">
		<img height="150" width="150" src="img/leaderboard/green/leaderboardGreen3.svg" alt="Bedge Green Bronze Medal" title="Bedge Green Bronze Medal">
	</div>
	<div class="col-md-4" ng-show="userShowGreenSilverMedal==true">
		<img height="150" width="150" src="img/leaderboard/green/leaderboardGreen2.svg" alt="Bedge Green Silver Medal" title="Bedge Green Silver Medal">
	</div>
	<div class="col-md-4" ng-show="userShowGreenGoldMedal==true">
		<img height="150" width="150" src="img/leaderboard/green/leaderboardGreen1.svg" alt="Bedge Green Gold Medal" title="Bedge Green Gold Medal">
	</div>
</div>
<div id="big-badges-bike-trips" class="row" align="center">
	<div class="col-md-12" ng-show="userShowBikeTrip1==true"><h5><strong>&nbsp;&nbsp;Bike Trip Badge</strong></h5></div>
	<div class="col-md-4" ng-show="userShowBikeTrip1==true">
		<img height="150" width="150" src="img/bike/bikeAficionado1.svg" alt="Bedge Bike Trip 1" title="Bedge Bike Trip 1">
	</div>
	<div class="col-md-4" ng-show="userShowBikeTrip5==true">
		<img height="150" width="150" src="img/bike/bikeAficionado5.svg" alt="Bedge Bike Trip 5" title="Bedge Bike Trip 5">
	</div>
	<div class="col-md-4" ng-show="userShowBikeTrip10==true">
		<img height="150" width="150" src="img/bike/bikeAficionado10.svg" alt="Bedge Bike Trip 10" title="Bedge Bike Trip 10">
	</div>
	<div class="col-md-4" ng-show="userShowBikeTrip25==true">
		<img height="150" width="150" src="img/bike/bikeAficionado25.svg" alt="Bedge Bike Trip 25" title="Bedge Bike Trip 25">
	</div>
	<div class="col-md-4" ng-show="userShowBikeTrip50==true">
		<img height="150" width="150" src="img/bike/bikeAficionado50.svg" alt="Bedge Bike Trip 50" title="Bedge Bike Trip 50">
	</div>
</div>
<div id="big-badges-bike-sharing" class="row" align="center">
	<div class="col-md-12" ng-show="userBikeSharingPresent==true"><h5><strong>&nbsp;&nbsp;Bike Trip Badge</strong></h5></div>
	<div class="col-md-4" ng-show="userShowBikeSharingBrione==true">
		<img height="150" width="150" src="img/bike_sharing/bikeSharingPioneerBrione.svg" alt="Bedge Bike Sharing Brione" title="Bedge Bike Sharing Brione">
	</div>
	<div class="col-md-4" ng-show="userShowBikeSharingLizzana==true">
		<img height="150" width="150" src="img/bike_sharing/bikeSharingPioneerLizzana.svg" alt="Bedge Bike Sharing Lizzana" title="Bedge Bike Sharing Lizzana">
	</div>
	<div class="col-md-4" ng-show="userShowBikeSharingMarco==true">
		<img height="150" width="150" src="img/bike_sharing/bikeSharingPioneerMarco.svg" alt="Bedge Bike Sharing Marco" title="Bedge Bike Sharing Marco">
	</div>
	<div class="col-md-4" ng-show="userShowBikeSharingMunicipio==true">
		<img height="150" width="150" src="img/bike_sharing/bikeSharingPioneerMunicipio.svg" alt="Bedge Bike Sharing Municipio" title="Bedge Bike Sharing Municipio">
	</div>
	<div class="col-md-4" ng-show="userShowBikeSharingNoriglio==true">
		<img height="150" width="150" src="img/bike_sharing/bikeSharingPioneerNoriglio.svg" alt="Bedge Bike Sharing Noriglio" title="Bedge Bike Sharing Noriglio">
	</div>
	<div class="col-md-4" ng-show="userShowBikeSharingOrsi==true">
		<img height="150" width="150" src="img/bike_sharing/bikeSharingPioneerOrsi.svg" alt="Bedge Bike Sharing Orsi" title="Bedge Bike Sharing Orsi">
	</div>
	<div class="col-md-4" ng-show="userShowBikeSharingOspedale==true">
		<img height="150" width="150" src="img/bike_sharing/bikeSharingPioneerOspedale.svg" alt="Bedge Bike Sharing Ospedale" title="Bedge Bike Sharing Ospedale">
	</div>
	<div class="col-md-4" ng-show="userShowBikeSharingPaoli==true">
		<img height="150" width="150" src="img/bike_sharing/bikeSharingPioneerPaoli.svg" alt="Bedge Bike Sharing Paoli" title="Bedge Bike Sharing Paoli">
	</div>
	<div class="col-md-4" ng-show="userShowBikeSharingPRosmini==true">
		<img height="150" width="150" src="img/bike_sharing/bikeSharingPioneerPRosmini.svg" alt="Bedge Bike Sharing P.Rosmini" title="Bedge Bike Sharing P.Rosmini">
	</div>
	<div class="col-md-4" ng-show="userShowBikeSharingQuercia==true">
		<img height="150" width="150" src="img/bike_sharing/bikeSharingPioneerQuercia.svg" alt="Bedge Bike Sharing Quercia" title="Bedge Bike Sharing Quercia">
	</div>
	<div class="col-md-4" ng-show="userShowBikeSharingSacco==true">
		<img height="150" width="150" src="img/bike_sharing/bikeSharingPioneerSacco.svg" alt="Bedge Bike Sharing Sacco" title="Bedge Bike Sharing Sacco">
	</div>
	<div class="col-md-4" ng-show="userShowBikeSharingStazione==true">
		<img height="150" width="150" src="img/bike_sharing/bikeSharingPioneerStazioneFFSS.svg" alt="Bedge Bike Sharing Stazione FF.SS." title="Bedge Bike Sharing Stazione FF.SS.">
	</div>
	<div class="col-md-4" ng-show="userShowBikeSharingZonaIndustriale==true">
		<img height="150" width="150" src="img/bike_sharing/bikeSharingPioneerZonaIndustriale.svg" alt="Bedge Bike Sharing Zona Industriale" title="Bedge Bike Sharing Zona Industriale">
	</div>
</div>
<div id="big-badges-zero-impact" class="row" align="center">
	<div class="col-md-12" ng-show="userShowZeroImpact1==true"><h5><strong>&nbsp;&nbsp;Zero Impact Badge</strong></h5></div>
	<div class="col-md-4" ng-show="userShowZeroImpact1==true">
		<img height="150" width="150" src="img/zero_impact/zeroImpact1.svg" alt="Bedge Zero Impact 1" title="Bedge Zero Impact 1">
	</div>
	<div class="col-md-4" ng-show="userShowZeroImpact5==true">
		<img height="150" width="150" src="img/zero_impact/zeroImpact5.svg" alt="Bedge Zero Impact 5" title="Bedge Zero Impact 5">
	</div>
	<div class="col-md-4" ng-show="userShowZeroImpact10==true">
		<img height="150" width="150" src="img/zero_impact/zeroImpact10.svg" alt="Bedge Zero Impact 10" title="Bedge Zero Impact 10">
	</div>
	<div class="col-md-4" ng-show="userShowZeroImpact25==true">
		<img height="150" width="150" src="img/zero_impact/zeroImpact25.svg" alt="Bedge Zero Impact 25" title="Bedge Zero Impact 25">
	</div>
	<div class="col-md-4" ng-show="userShowZeroImpact50==true">
		<img height="150" width="150" src="img/zero_impact/zeroImpact50.svg" alt="Bedge Zero Impact 50" title="Bedge Zero Impact 50">
	</div>
</div>
<div id="big-badges-public-transport" class="row" align="center">
	<div class="col-md-12" ng-show="userShowPublicTransport5==true"><h5><strong>&nbsp;&nbsp;Public Transport Badge</strong></h5></div>
	<div class="col-md-4" ng-show="userShowPublicTransport5==true">
		<img height="150" width="150" src="img/public_transport/publicTransportAficionado5.svg" alt="Bedge Public Transport 5" title="Bedge Public Transport 5">
	</div>
	<div class="col-md-4" ng-show="userShowPublicTransport10==true">
		<img height="150" width="150" src="img/public_transport/publicTransportAficionado10.svg" alt="Bedge Public Transport 10" title="Bedge Public Transport 10">
	</div>
	<div class="col-md-4" ng-show="userShowPublicTransport25==true">
		<img height="150" width="150" src="img/public_transport/publicTransportAficionado25.svg" alt="Bedge Public Transport 25" title="Bedge Public Transport 25">
	</div>
	<div class="col-md-4" ng-show="userShowPublicTransport50==true">
		<img height="150" width="150" src="img/public_transport/publicTransportAficionado50.svg" alt="Bedge Public Transport 50" title="Bedge Public Transport 50">
	</div>
	<div class="col-md-4" ng-show="userShowPublicTransport100==true">
		<img height="150" width="150" src="img/public_transport/publicTransportAficionado100.svg" alt="Bedge Public Transport 100" title="Bedge Public Transport 100">
	</div>
</div>
<div id="big-badges-park-and-ride" class="row" align="center">
	<div class="col-md-12" ng-show="userShowParkAndRideStadio==true || userShowParkAndRideManifattura==true"><h5><strong>&nbsp;&nbsp;Park&Ride Badge</strong></h5></div>
	<div class="col-md-4" ng-show="userShowParkAndRideStadio==true">
		<img height="150" width="150" src="img/pr/p&rPioneerStadio.svg" alt="Bedge Stadio Park Park" title="Bedge Stadio Park">
	</div>
	<div class="col-md-4" ng-show="userShowParkAndRideManifattura==true">
		<img height="150" width="150" src="img/pr/p&rPioneerManifattura.svg" alt="Bedge Manifattura Park" title="Bedge Manifattura Park">
	</div>
</div>
<div id="big-badges-user-recommendation" class="row" align="center">
	<div class="col-md-12" ng-show="userShowRecommendation3==true"><h5><strong>&nbsp;&nbsp;User Recommendation Badge</strong></h5></div>
	<div class="col-md-4" ng-show="userShowRecommendation3==true">
		<img height="150" width="150" src="img/recommendation/inviteFriends3.svg" alt="Bedge User Recommendation 3" title="Bedge User Recommendation 3">
	</div>
	<div class="col-md-4" ng-show="userShowRecommendation5==true">
		<img height="150" width="150" src="img/recommendation/inviteFriends5.svg" alt="Bedge User Recommendation 5" title="Bedge User Recommendation 5">
	</div>
	<div class="col-md-4" ng-show="userShowRecommendation10==true">
		<img height="150" width="150" src="img/recommendation/inviteFriends10.svg" alt="Bedge User Recommendation 10" title="Bedge User Recommendation 10">
	</div>
	<div class="col-md-4" ng-show="userShowRecommendation25==true">
		<img height="150" width="150" src="img/recommendation/inviteFriends25.svg" alt="Bedge User Recommendation 25" title="Bedge User Recommendation 25">
	</div>
</div>
<div id="small-badges" class="row" align="center">
	<!-- <div class="col-md-4" ng-show="userProfile.scores[0].score >= 10">
		<img height="150" width="150" src="img/green/greenLeaves10.svg" alt="Bedge Green 10" title="Bedge Green 10">
	</div> -->
	<!-- <div class="col-xs-6 small_b" ng-show="userProfile.scores[0].score >= 50">
		<img height="100" width="100" src="img/green/greenLeaves50.svg" alt="Bedge Green 50" title="Bedge Green 50">
	</div>
	<div class="col-xs-6 small_b" ng-show="userProfile.scores[0].score >= 100">
		<img height="100" width="100" src="img/green/greenLeaves100.svg" alt="Bedge Green 100" title="Bedge Green 100">
	</div>
	<div class="col-xs-6 small_b" ng-show="userProfile.scores[0].score >= 250">
		<img height="100" width="100" src="img/green/greenLeaves250.svg" alt="Bedge Green 250" title="Bedge Green 250">
	</div>
	<div class="col-xs-6 small_b" ng-show="userProfile.scores[0].score >= 500">
		<img height="100" width="100" src="img/green/greenLeaves500.svg" alt="Bedge Green 500" title="Bedge Green 500">
	</div>
	<div class="col-xs-6 small_b" ng-show="userProfile.scores[0].score >= 1000">
		<img height="100" width="100" src="img/green/greenLeaves1000.svg" alt="Bedge Green 1000" title="Bedge Green 1000">
	</div> -->
	<div class="col-xs-6 small_b" ng-show="userShowGreenLeaves50==true">
		<img height="100" width="100" src="img/green/greenLeaves50.svg" alt="Bedge Green 50" title="Bedge Green 50">
	</div>
	<div class="col-xs-6 small_b" ng-show="userShowGreenLeaves100==true">
		<img height="100" width="100" src="img/green/greenLeaves100.svg" alt="Bedge Green 100" title="Bedge Green 100">
	</div>
	<div class="col-xs-6 small_b" ng-show="userShowGreenLeaves200==true">
		<img height="100" width="100" src="img/green/greenLeaves200.svg" alt="Bedge Green 200" title="Bedge Green 200">
	</div>
	<div class="col-xs-6 small_b" ng-show="userShowGreenLeaves400==true">
		<img height="100" width="100" src="img/green/greenLeaves400.svg" alt="Bedge Green 400" title="Bedge Green 400">
	</div>
	<div class="col-xs-6 small_b" ng-show="userShowGreenLeaves800==true">
		<img height="100" width="100" src="img/green/greenLeaves800.svg" alt="Bedge Green 800" title="Bedge Green 800">
	</div>
	<div class="col-xs-6 small_b" ng-show="userShowGreenLeaves1500==true">
		<img height="100" width="100" src="img/green/greenLeaves1500.svg" alt="Bedge Green 1500" title="Bedge Green 1500">
	</div>
	<div class="col-xs-6 small_b" ng-show="userShowGreenLeaves2500==true">
		<img height="100" width="100" src="img/green/greenLeaves2500.svg" alt="Bedge Green 2500" title="Bedge Green 2500">
	</div>
	<div class="col-xs-6 small_b" ng-show="userShowGreenLeaves5000==true">
		<img height="100" width="100" src="img/green/greenLeaves5000.svg" alt="Bedge Green 5000" title="Bedge Green 5000">
	</div>
	<div class="col-xs-6 small_b" ng-show="userShowGreenBronzeMedal==true">
		<img height="100" width="100" src="img/leaderboard/green/leaderboardGreen3.svg" alt="Bedge Green Bronze Medal" title="Bedge Green Bronze Medal">
	</div>
	<div class="col-xs-6 small_b" ng-show="userShowGreenSilverMedal==true">
		<img height="100" width="100" src="img/leaderboard/green/leaderboardGreen2.svg" alt="Bedge Green Silver Medal" title="Bedge Green Silver Medal">
	</div>
	<div class="col-xs-6 small_b" ng-show="userShowGreenGoldMedal==true">
		<img height="100" width="100" src="img/leaderboard/green/leaderboardGreen1.svg" alt="Bedge Green Gold Medal" title="Bedge Green Gold Medal">
	</div>
</div>
<div id="small-badges-bike-trips" class="row" align="center">
	<div class="col-xs-12" ng-show="userShowBikeTrip1==true"><h5><strong>&nbsp;&nbsp;Bike Trip Badge</strong></h5></div>
	<div class="col-xs-6" ng-show="userShowBikeTrip1==true">
		<img height="100" width="100" src="img/bike/bikeAficionado1.svg" alt="Bedge Bike Trip 1" title="Bedge Bike Trip 1">
	</div>
	<div class="col-xs-6" ng-show="userShowBikeTrip5==true">
		<img height="100" width="100" src="img/bike/bikeAficionado5.svg" alt="Bedge Bike Trip 5" title="Bedge Bike Trip 5">
	</div>
	<div class="col-xs-6" ng-show="userShowBikeTrip10==true">
		<img height="100" width="100" src="img/bike/bikeAficionado10.svg" alt="Bedge Bike Trip 10" title="Bedge Bike Trip 10">
	</div>
	<div class="col-xs-6" ng-show="userShowBikeTrip25==true">
		<img height="100" width="100" src="img/bike/bikeAficionado25.svg" alt="Bedge Bike Trip 25" title="Bedge Bike Trip 25">
	</div>
	<div class="col-xs-6" ng-show="userShowBikeTrip50==true">
		<img height="100" width="100" src="img/bike/bikeAficionado50.svg" alt="Bedge Bike Trip 50" title="Bedge Bike Trip 50">
	</div>
</div>
<div id="small-badges-bike-sharing" class="row" align="center">
	<div class="col-xs-12" ng-show="userBikeSharingPresent==true"><h5><strong>&nbsp;&nbsp;Bike Trip Badge</strong></h5></div>
	<div class="col-xs-4" ng-show="userShowBikeSharingBrione==true">
		<img height="100" width="100" src="img/bike_sharing/bikeSharingPioneerBrione.svg" alt="Bedge Bike Sharing Brione" title="Bedge Bike Sharing Brione">
	</div>
	<div class="col-xs-4" ng-show="userShowBikeSharingLizzana==true">
		<img height="100" width="100" src="img/bike_sharing/bikeSharingPioneerLizzana.svg" alt="Bedge Bike Sharing Lizzana" title="Bedge Bike Sharing Lizzana">
	</div>
	<div class="col-xs-4" ng-show="userShowBikeSharingMarco==true">
		<img height="100" width="100" src="img/bike_sharing/bikeSharingPioneerMarco.svg" alt="Bedge Bike Sharing Marco" title="Bedge Bike Sharing Marco">
	</div>
	<div class="col-xs-4" ng-show="userShowBikeSharingMunicipio==true">
		<img height="100" width="100" src="img/bike_sharing/bikeSharingPioneerMunicipio.svg" alt="Bedge Bike Sharing Municipio" title="Bedge Bike Sharing Municipio">
	</div>
	<div class="col-xs-4" ng-show="userShowBikeSharingNoriglio==true">
		<img height="100" width="100" src="img/bike_sharing/bikeSharingPioneerNoriglio.svg" alt="Bedge Bike Sharing Noriglio" title="Bedge Bike Sharing Noriglio">
	</div>
	<div class="col-xs-4" ng-show="userShowBikeSharingOrsi==true">
		<img height="100" width="100" src="img/bike_sharing/bikeSharingPioneerOrsi.svg" alt="Bedge Bike Sharing Orsi" title="Bedge Bike Sharing Orsi">
	</div>
	<div class="col-xs-4" ng-show="userShowBikeSharingOspedale==true">
		<img height="100" width="100" src="img/bike_sharing/bikeSharingPioneerOspedale.svg" alt="Bedge Bike Sharing Ospedale" title="Bedge Bike Sharing Ospedale">
	</div>
	<div class="col-xs-4" ng-show="userShowBikeSharingPaoli==true">
		<img height="100" width="100" src="img/bike_sharing/bikeSharingPioneerPaoli.svg" alt="Bedge Bike Sharing Paoli" title="Bedge Bike Sharing Paoli">
	</div>
	<div class="col-xs-4" ng-show="userShowBikeSharingPRosmini==true">
		<img height="100" width="100" src="img/bike_sharing/bikeSharingPioneerPRosmini.svg" alt="Bedge Bike Sharing P.Rosmini" title="Bedge Bike Sharing P.Rosmini">
	</div>
	<div class="col-xs-4" ng-show="userShowBikeSharingQuercia==true">
		<img height="100" width="100" src="img/bike_sharing/bikeSharingPioneerQuercia.svg" alt="Bedge Bike Sharing Quercia" title="Bedge Bike Sharing Quercia">
	</div>
	<div class="col-xs-4" ng-show="userShowBikeSharingSacco==true">
		<img height="100" width="100" src="img/bike_sharing/bikeSharingPioneerSacco.svg" alt="Bedge Bike Sharing Sacco" title="Bedge Bike Sharing Sacco">
	</div>
	<div class="col-xs-4" ng-show="userShowBikeSharingStazione==true">
		<img height="100" width="100" src="img/bike_sharing/bikeSharingPioneerStazioneFFSS.svg" alt="Bedge Bike Sharing Stazione FF.SS." title="Bedge Bike Sharing Stazione FF.SS.">
	</div>
	<div class="col-xs-4" ng-show="userShowBikeSharingZonaIndustriale==true">
		<img height="100" width="100" src="img/bike_sharing/bikeSharingPioneerZonaIndustriale.svg" alt="Bedge Bike Sharing Zona Industriale" title="Bedge Bike Sharing Zona Industriale">
	</div>
</div>
<div id="small-badges-zero-impact" class="row" align="center">
	<div class="col-xs-12" ng-show="userShowZeroImpact1==true"><h5><strong>&nbsp;&nbsp;Zero Impact Badge</strong></h5></div>
	<div class="col-xs-6" ng-show="userShowZeroImpact1==true">
		<img height="100" width="100" src="img/zero_impact/zeroImpact1.svg" alt="Bedge Zero Impact 1" title="Bedge Zero Impact 1">
	</div>
	<div class="col-xs-6" ng-show="userShowZeroImpact5==true">
		<img height="100" width="100" src="img/zero_impact/zeroImpact5.svg" alt="Bedge Zero Impact 5" title="Bedge Zero Impact 5">
	</div>
	<div class="col-xs-6" ng-show="userShowZeroImpact10==true">
		<img height="100" width="100" src="img/zero_impact/zeroImpact10.svg" alt="Bedge Zero Impact 10" title="Bedge Zero Impact 10">
	</div>
	<div class="col-xs-6" ng-show="userShowZeroImpact25==true">
		<img height="100" width="100" src="img/zero_impact/zeroImpact25.svg" alt="Bedge Zero Impact 25" title="Bedge Zero Impact 25">
	</div>
	<div class="col-xs-6" ng-show="userShowZeroImpact50==true">
		<img height="100" width="100" src="img/zero_impact/zeroImpact50.svg" alt="Bedge Zero Impact 50" title="Bedge Zero Impact 50">
	</div>
</div>
<div id="small-badges-public-transport" class="row" align="center">
	<div class="col-xs-12" ng-show="userShowPublicTransport5==true"><h5><strong>&nbsp;&nbsp;Public Transport Badge</strong></h5></div>
	<div class="col-xs-6" ng-show="userShowPublicTransport5==true">
		<img height="100" width="100" src="img/public_transport/publicTransportAficionado5.svg" alt="Bedge Public Transport 5" title="Bedge Public Transport 5">
	</div>
	<div class="col-xs-6" ng-show="userShowPublicTransport10==true">
		<img height="100" width="100" src="img/public_transport/publicTransportAficionado10.svg" alt="Bedge Public Transport 10" title="Bedge Public Transport 10">
	</div>
	<div class="col-xs-6" ng-show="userShowPublicTransport25==true">
		<img height="100" width="100" src="img/public_transport/publicTransportAficionado25.svg" alt="Bedge Public Transport 25" title="Bedge Public Transport 25">
	</div>
	<div class="col-xs-6" ng-show="userShowPublicTransport50==true">
		<img height="100" width="100" src="img/public_transport/publicTransportAficionado50.svg" alt="Bedge Public Transport 50" title="Bedge Public Transport 50">
	</div>
	<div class="col-xs-6" ng-show="userShowPublicTransport100==true">
		<img height="100" width="100" src="img/public_transport/publicTransportAficionado100.svg" alt="Bedge Public Transport 100" title="Bedge Public Transport 100">
	</div>
</div>
<div id="small-badges-park-and-ride" class="row" align="center">
	<div class="col-xs-12" ng-show="userShowParkAndRideStadio==true || userShowParkAndRideManifattura==true"><h5><strong>&nbsp;&nbsp;Park&Ride Badge</strong></h5></div>
	<div class="col-xs-6" ng-show="userShowParkAndRideStadio==true">
		<img height="100" width="100" src="img/pr/p&rPioneerStadio.svg" alt="Bedge Stadio Park Park" title="Bedge Stadio Park">
	</div>
	<div class="col-xs-6" ng-show="userShowParkAndRideManifattura==true">
		<img height="100" width="100" src="img/pr/p&rPioneerManifattura.svg" alt="Bedge Manifattura Park" title="Bedge Manifattura Park">
	</div>
</div>
<div id="small-badges-user-recommendation" class="row" align="center">
	<div class="col-xs-12" ng-show="userShowRecommendation3==true"><h5><strong>&nbsp;&nbsp;User Recommendation Badge</strong></h5></div>
	<div class="col-xs-6" ng-show="userShowRecommendation3==true">
		<img height="100" width="100" src="img/recommendation/inviteFriends3.svg" alt="Bedge User Recommendation 3" title="Bedge User Recommendation 3">
	</div>
	<div class="col-xs-6" ng-show="userShowRecommendation5==true">
		<img height="100" width="100" src="img/recommendation/inviteFriends5.svg" alt="Bedge User Recommendation 5" title="Bedge User Recommendation 5">
	</div>
	<div class="col-xs-6" ng-show="userShowRecommendation10==true">
		<img height="100" width="100" src="img/recommendation/inviteFriends10.svg" alt="Bedge User Recommendation 10" title="Bedge User Recommendation 10">
	</div>
	<div class="col-xs-6" ng-show="userShowRecommendation25==true">
		<img height="100" width="100" src="img/recommendation/inviteFriends25.svg" alt="Bedge User Recommendation 25" title="Bedge User Recommendation 25">
	</div>
</div>
<p itemprop="description" ng-show="false">{{ text_gp }}</p>
<div class="row" align="right">
	<div class="col-md-12 sharing_wrapper">
		<div class="facebook_btn_wrapper_large">
			<a facebook-feed-share class="facebookShare" data-title="{{ title }}" data-url="{{ url }}" data-shares='shares' data-caption="{{ caption }}" data-picture="{{ image_url }}" data-description="{{ text_fb }}" data-callback="callback"></a><!-- {{ shares }} -->
		</div>
		&nbsp;&nbsp;
		<div class="twitter_btn_wrapper_large">
			<a twitter data-count='horizontal' data-title="{{ title }}" data-url="{{ url }}"  data-size="medium" data-text='{{ text_tw }}' ></a>
		</div>
	</div>
</div> 