<!-- <table width="100%"> -->
<!-- 	<tr> -->
<!-- 		<td colspan="2"><strong>{{ 'player_details_game_label' | i18n }}:</strong> {{ userProfile.gameId }}</td> -->
<!-- 	</tr> -->
<!-- 	<tr> -->
<!-- 		<td><strong>{{ 'player_details_score_name_label' | i18n }}:</strong> {{ userProfile.scores[1].name }}</td> -->
<!-- 		<td><strong>{{ 'player_details_score_label' | i18n }}:</strong> {{ userProfile.scores[1].score }}</td> -->
<!-- 	</tr> -->
<!-- 	<tr> -->
<!-- 		<td><strong>{{ 'player_details_badge_label' | i18n }}</strong></td> -->
<!-- 		<td></td> -->
<!-- 	</tr> -->
<!-- 	<tbody class="animate-repeat" ng-repeat="b in userProfile.badges[1].badgeEarned"> -->
<!-- 		<tr> -->
<!-- 			<td colspan="2">{{ b }}</td> -->
<!-- 		</tr> -->
<!-- 	</tbody> -->
<!-- </table> -->

<div id="health-big-score" class="row">
	<div class="col-md-6 col-md-offset-3" align="center">
		<h5>
			<img height="150" width="150" src="img/health/healthLeavesTesto.svg" alt="Punteggio Salute" title="Punteggio Salute">
			<strong>{{ userProfile.scores[1].score }} {{ 'player_details_score_label_health' | i18n }}</strong>
		</h5>
	</div>
</div>
<div id="health-small-score" class="row" align="center">
	<div class="col-md-3 col-md-offset-3" align="center">
		<img height="180" width="150" src="img/health/healthLeavesTesto.svg" alt="Punteggio Salute" title="Punteggio Salute">
	</div>
	<div class="col-md-3" align="center">
		<h5><strong>{{ userProfile.scores[1].score }} {{ 'player_details_score_label_health' | i18n }}</strong></h5>
	</div>
</div>
<div id="health-big-score-king" class="row" ng-show="userShowHealthKingWeek==true">
	<div class="col-md-6 col-md-offset-3" align="center">
		<h5>
			<img height="180" width="150" src="img/health/healthKingWeek.svg" alt="Bedge Health King Week" title="Bedge Health King Week">
			<strong>{{ 'player_king_week_label_health' | i18n }}</strong>
		</h5>
	</div>
</div>
<div id="health-small-score-king" class="row" align="center" ng-show="userShowHealthKingWeek==true">
	<div class="col-md-3 col-md-offset-3" align="center">
		<img height="150" width="150" src="img/health/healthKingWeek.svg" alt="Bedge Health King Week" title="Bedge Health King Week">
	</div>
	<div class="col-md-3" align="center">
		<h5><strong>{{ 'player_king_week_label_health' | i18n }}</strong></h5>
	</div>
</div>
<div class="row" align="center">
	<div class="col-md-4" ng-show="userProfile.scores[1].score >= 10">
		<img height="150" width="150" src="img/health/healthLeaves10.svg" alt="Bedge Salute 10" title="Bedge Salute 10">
	</div>
	<div class="col-md-4" ng-show="userProfile.scores[1].score >= 25">
		<img height="150" width="150" src="img/health/healthLeaves25.svg" alt="Bedge Salute 25" title="Bedge Salute 25">
	</div>
	<div class="col-md-4" ng-show="userProfile.scores[1].score >= 50">
		<img height="150" width="150" src="img/health/healthLeaves50.svg" alt="Bedge Salute 50" title="Bedge Salute 50">
	</div>
	<div class="col-md-4" ng-show="userProfile.scores[1].score >= 100">
		<img height="150" width="150" src="img/health/healthLeaves100.svg" alt="Bedge Salute 100" title="Bedge Salute 100">
	</div>
	<div class="col-md-4" ng-show="userProfile.scores[1].score >= 200">
		<img height="150" width="150" src="img/health/healthLeaves200.svg" alt="Bedge Salute 200" title="Bedge Salute 200">
	</div>
	<div class="col-md-4" ng-show="userShowHealthBronzeMedal==true">
		<img height="150" width="150" src="img/health/healthBronzeMedal.svg" alt="Bedge Salute Bronze Medal" title="Bedge Salute Bronze Medal">
	</div>
	<div class="col-md-4" ng-show="userShowHealthSilverMedal==true">
		<img height="150" width="150" src="img/health/healthSilverMedal.svg" alt="Bedge Salute Silver Medal" title="Bedge Salute Silver Medal">
	</div>
	<div class="col-md-4" ng-show="userShowHealthGoldMedal==true">
		<img height="150" width="150" src="img/health/healthGoldMedal.svg" alt="Bedge Green Salute Medal" title="Bedge Salute Gold Medal">
	</div>
</div>