<table width="100%">
	<tr>
		<td colspan="2"><strong>{{ 'player_details_game_label' | i18n }}:</strong> {{ userProfile.gameId }}</td>
	</tr>
	
	<tr>
		<td><strong>{{ 'player_details_score_name_label' | i18n }}:</strong> {{ userProfile.scores[0].name }}</td>
		<td><strong>{{ 'player_details_score_label' | i18n }}:</strong> {{ userProfile.scores[0].score }}</td>
	</tr>
	<tr>
		<td><strong>{{ 'player_details_badge_label' | i18n }}</strong></td>
		<td></td>
	</tr>
	<tbody class="animate-repeat" ng-repeat="b in userProfile.badges[0].badgeEarned">
		<tr>
			<td>{{ b }}</td>
		</tr>
	</tbody>
</table>