body {
  margin:0px;
  background-image:none;
  touch-action:none;
  position:static;
  left:auto;
  width:1024px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:768px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:768px;
}
#u1 {
  position:absolute;
  left:2px;
  top:376px;
  width:1020px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:111px;
  top:287px;
  width:757px;
  height:124px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:21px;
}
#u4 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:100px;
  top:0px;
  width:100px;
  height:20px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:21px;
}
#u6 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:200px;
  top:0px;
  width:393px;
  height:20px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:394px;
  height:21px;
}
#u8 {
  position:absolute;
  left:2px;
  top:2px;
  width:389px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:593px;
  top:0px;
  width:74px;
  height:20px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:21px;
}
#u10 {
  position:absolute;
  left:2px;
  top:2px;
  width:70px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:667px;
  top:0px;
  width:85px;
  height:20px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:21px;
}
#u12 {
  position:absolute;
  left:2px;
  top:2px;
  width:81px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:0px;
  top:20px;
  width:100px;
  height:31px;
  text-align:center;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:32px;
}
#u14 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:100px;
  top:20px;
  width:100px;
  height:31px;
  text-align:center;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:32px;
}
#u16 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:200px;
  top:20px;
  width:393px;
  height:31px;
  text-align:center;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:394px;
  height:32px;
}
#u18 {
  position:absolute;
  left:2px;
  top:8px;
  width:389px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:593px;
  top:20px;
  width:74px;
  height:31px;
  text-align:center;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:32px;
}
#u20 {
  position:absolute;
  left:2px;
  top:8px;
  width:70px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:667px;
  top:20px;
  width:85px;
  height:31px;
  text-align:center;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:32px;
}
#u22 {
  position:absolute;
  left:2px;
  top:8px;
  width:81px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:0px;
  top:51px;
  width:100px;
  height:34px;
  text-align:center;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:35px;
}
#u24 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:100px;
  top:51px;
  width:100px;
  height:34px;
  text-align:center;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:35px;
}
#u26 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:200px;
  top:51px;
  width:393px;
  height:34px;
  text-align:center;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:394px;
  height:35px;
}
#u28 {
  position:absolute;
  left:2px;
  top:10px;
  width:389px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:593px;
  top:51px;
  width:74px;
  height:34px;
  text-align:center;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:35px;
}
#u30 {
  position:absolute;
  left:2px;
  top:9px;
  width:70px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:667px;
  top:51px;
  width:85px;
  height:34px;
  text-align:center;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:35px;
}
#u32 {
  position:absolute;
  left:2px;
  top:9px;
  width:81px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:0px;
  top:85px;
  width:100px;
  height:34px;
  text-align:center;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:35px;
}
#u34 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:100px;
  top:85px;
  width:100px;
  height:34px;
  text-align:center;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:35px;
}
#u36 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:200px;
  top:85px;
  width:393px;
  height:34px;
  text-align:center;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:394px;
  height:35px;
}
#u38 {
  position:absolute;
  left:2px;
  top:10px;
  width:389px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:593px;
  top:85px;
  width:74px;
  height:34px;
  text-align:center;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:35px;
}
#u40 {
  position:absolute;
  left:2px;
  top:9px;
  width:70px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:667px;
  top:85px;
  width:85px;
  height:34px;
  text-align:center;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:35px;
}
#u42 {
  position:absolute;
  left:2px;
  top:9px;
  width:81px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:731px;
  top:313px;
  width:20px;
  height:20px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u44 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:731px;
  top:345px;
  width:20px;
  height:20px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u46 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:731px;
  top:379px;
  width:20px;
  height:20px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u48 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:426px;
  top:425px;
  width:117px;
  height:44px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:45px;
}
#u50 {
  position:absolute;
  left:2px;
  top:3px;
  width:113px;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:559px;
  top:425px;
  width:51px;
  height:46px;
  overflow:hidden;
}
#u51_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:46px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u51_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u51_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:46px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u51_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u53 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:113px;
  top:244px;
  width:350px;
  height:33px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#666666;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:34px;
}
#u55 {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:559px;
  top:15px;
  width:395px;
  height:265px;
  overflow:hidden;
}
#u57_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:395px;
  height:265px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u57_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u58 {
  position:absolute;
  left:10px;
  top:10px;
  width:379px;
  height:131px;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:132px;
}
#u59 {
  position:absolute;
  left:2px;
  top:58px;
  width:375px;
  visibility:hidden;
  word-wrap:break-word;
}
#u60 {
  position:absolute;
  left:33px;
  top:47px;
  width:358px;
  height:215px;
  overflow:hidden;
}
#u60_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:215px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u60_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u60_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:215px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u60_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u61 {
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  height:37px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#666666;
  text-align:left;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:38px;
}
#u61_img.mouseOver {
}
#u61.mouseOver {
}
#u62 {
  position:absolute;
  left:2px;
  top:2px;
  width:305px;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:0px;
  top:37px;
  width:309px;
  height:37px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#666666;
  text-align:left;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:38px;
}
#u63_img.mouseOver {
}
#u63.mouseOver {
}
#u64 {
  position:absolute;
  left:2px;
  top:2px;
  width:305px;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:10px;
  top:10px;
  width:309px;
  height:37px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:38px;
}
#u66 {
  position:absolute;
  left:2px;
  top:2px;
  width:305px;
  word-wrap:break-word;
}
#u68 {
  position:absolute;
  left:291px;
  top:97px;
  width:344px;
  height:90px;
  overflow:hidden;
}
#u68_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:344px;
  height:90px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u68_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u69 {
  position:absolute;
  left:0px;
  top:10px;
  width:343px;
  height:66px;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:344px;
  height:67px;
}
#u70 {
  position:absolute;
  left:2px;
  top:25px;
  width:339px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:38px;
  top:43px;
  width:350px;
  height:26px;
  color:#666666;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:27px;
}
#u72 {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:38px;
  top:14px;
  width:350px;
  height:26px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:22px;
  color:#666666;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:27px;
}
#u74 {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  word-wrap:break-word;
}
#u68_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:344px;
  height:90px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u68_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u75 {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:85px;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  height:86px;
}
#u76 {
  position:absolute;
  left:2px;
  top:34px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:38px;
  top:32px;
  width:352px;
  height:26px;
  color:#666666;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:27px;
}
#u78 {
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:38px;
  top:4px;
  width:352px;
  height:26px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:22px;
  color:#666666;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:27px;
}
#u80 {
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:38px;
  top:58px;
  width:352px;
  height:26px;
  color:#666666;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:27px;
}
#u82 {
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  word-wrap:break-word;
}
#u68_state2 {
  position:absolute;
  left:0px;
  top:0px;
  width:344px;
  height:90px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u68_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u83 {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:85px;
  font-size:18px;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  height:86px;
}
#u84 {
  position:absolute;
  left:2px;
  top:34px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u85 {
  position:absolute;
  left:13px;
  top:25px;
  width:352px;
  height:22px;
  color:#666666;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:23px;
}
#u86 {
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  word-wrap:break-word;
}
#u87 {
  position:absolute;
  left:13px;
  top:4px;
  width:352px;
  height:22px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#666666;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:23px;
}
#u88 {
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  word-wrap:break-word;
}
#u89 {
  position:absolute;
  left:13px;
  top:45px;
  width:352px;
  height:22px;
  font-size:18px;
  color:#666666;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:23px;
}
#u90 {
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  word-wrap:break-word;
}
#u91 {
  position:absolute;
  left:13px;
  top:64px;
  width:352px;
  height:22px;
  font-size:18px;
  color:#666666;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:23px;
}
#u92 {
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  word-wrap:break-word;
}
#u93 {
  position:absolute;
  left:811px;
  top:307px;
  width:28px;
  height:28px;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u94 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u95 {
  position:absolute;
  left:811px;
  top:338px;
  width:28px;
  height:28px;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u96 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u97 {
  position:absolute;
  left:811px;
  top:371px;
  width:28px;
  height:28px;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u98 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
