<div class="modal-header text-center">
  <h4 class="modal-title">{{'lbl_points_configuration' | i18next}}</h4>
</div>
<form role="form">
  <div class="modal-body text-center">
    <div class="form-group form-inline">
      <label for="newPointsInstanceName">{{'lbl_name' | i18next}}</label>
      &nbsp;&nbsp;
      <input type="text" class="form-control" id="newPointsInstanceName" ng-model="newPointsInstance.name" placeholder="{{'lbl_enter_name' | i18next}}" required />
    </div>
    <div class="form-group form-inline">
      <label for="pointsType">{{'lbl_typology' | i18next}}</label>
      &nbsp;&nbsp;
      <div class="btn-group" dropdown is-open="isDropdownOpen">
        <button type="button" class="btn btn-default dropdown-toggle">
          {{newPointsInstance.typology}} <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li>
            <a ng-click="setTypology('Skill points'); isDropdownOpen = !isDropdownOpen">Skill points</a>
          </li>
          <li>
            <a ng-click="setTypology('Experience points'); isDropdownOpen = !isDropdownOpen">Experience points</a>
          </li>
          <li>
            <a ng-click="setTypology('Karma points'); isDropdownOpen = !isDropdownOpen">Karma points</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="reset" class="btn btn-default" ng-click="cancel()">{{'btn_cancel' | i18next}}</button>
    <button type="submit" class="btn btn-primary" ng-click="save()">{{'btn_save' | i18next}}</button>
  </div>
</form>
