<div class="modal-header text-center">
  <h4 class="modal-title">{{'lbl_active_point' | i18next}}</h4>
</div>
<div class="modal-body text-center">
  <p>This leaderboard instance depends on '{{argument}}' points, which is deactived. Do you want to active it?</p>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" ng-click="cancel()">{{'btn_cancel' | i18next}}</button>
    <button type="button" class="btn btn-primary" ng-click="active()">{{'btn_active' | i18next}}</button>
</div>
