<div class="modal-header text-center">
  <h4 class="modal-title">{{'lbl_deactive_leaderboards' | i18next}}</h4>
</div>
<div class="modal-body">
  <p>Leaderboards:
    <ul>
      <li ng-repeat="leaderboard in leaderboards">{{leaderboard.name}}</li>
    </ul>
    depend on this points instance. If you deactive this points instance, all these leaderboards will be deactived. Do you want to deactive it?</p>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" ng-click="cancel()">{{'btn_cancel' | i18next}}</button>
  <button type="button" class="btn btn-primary" ng-click="deactive()">{{'btn_deactive' | i18next}}</button>
</div>
