<div class="container-fluid"><!-- ng-init="getChalleng(params.id)" -->

	<!-- <div id="my-prof-head-title" align="center">
		{{ 'left_menu-challeng' | i18n }}
	</div> -->

<!-- 	<div align="center">
		<h1>{{ getUserName() }} {{ getUserSurname() }} - {{ getNikName() }}</h1>
		<h1>{{ 'hello_home-title' | i18n }} {{ getNikName() }}</h1>
		<h4>{{ 'label_challeng_title_h4' | i18n }}</h4>
	</div> -->
		<div id="ch-big-title" class="row spacedrow">
			<div class="col-md-9">
				<h4 ng-if="actualChellenges"><strong>{{ 'label_challeng_title_actual' | i18n }}</strong></h4>
				<h4 ng-if="!actualChellenges"><strong>{{ 'label_challeng_title_old' | i18n }}</strong></h4>
			</div>
			<div class="col-md-3" align="right">
				<a type="button" href ng-if="actualChellenges && oldChallenges.length > 0" ng-click="loadOldChallenges()" class="btn btn-success">{{ 'button_old_chall_view' | i18n }}</a>
				<a type="button" href ng-if="!actualChellenges" ng-click="loadActualChallenges()" class="btn btn-success">{{ 'button_actual_chall_view' | i18n }}</a> 
			</div>
		</div>
		<div id="ch-small-title" class="row spacedrow">
			<div class="col-xs-8">
				<h4 ng-if="actualChellenges"><strong>{{ 'label_challeng_title_actual' | i18n }}</strong></h4>
				<h4 ng-if="!actualChellenges"><strong>{{ 'label_challeng_title_old' | i18n }}</strong></h4>
			</div>
			<div class="col-xs-2" align="right">
				<a type="button" href ng-if="actualChellenges && oldChallenges.length > 0" ng-click="loadOldChallenges()" class="btn btn-success">{{ 'button_old_chall_view_small' | i18n }}</a>
				<a type="button" href ng-if="!actualChellenges" ng-click="loadActualChallenges()" class="btn btn-success">{{ 'button_actual_chall_view_small' | i18n }}</a> 
			</div>
		</div>
		
		<div ng-repeat="ch in challenges | orderBy:['-success','-endChTs'] " ng-if="actualChellenges">
			<div class="{{ getChallStyle(ch.active, ch.status, ch.success) }}" ng-show="!isShowedDetails(ch.id)">
			   	<div class="panel-body">
			  		<div id="ch-big-block" align="justify">
			  			<div class="row">
							<div class="col-md-1 iconcol" ng-class="{'iconcol-success': ch.success || ch.status == 100, 'iconcol-failed': !ch.success && !ch.active && ch.status != 100}">
								<img ng-if="ch.icon" height="60" width="60" ng-src="{{ ch.icon }}" alt="Sfida" title="Sfida" />
								<div class="info-wrapper"><i class="glyphicon glyphicon-question-sign" ng-click="openInfoChPanel(ch)"></i></div><!-- ng-if="!ch.success && ch.active && ch.status != 100" -->
							</div>
							<div class="col-md-9 headercol" ng-class="{'headercol-success': ch.success || ch.status == 100, 'headercol-failed': !ch.success && !ch.active && ch.status != 100}">
								<div class="desc-wrapper"><strong>{{ ch.desc }}</strong></div>
								<div class="days-wrapper" ng-if="!ch.success && ch.active && ch.status != 100"><strong>{{ ch.daysToEnd }}{{ 'ch_day_to_end_text_label' | i18n }}</strong></div>
								<div class="days-wrapper-failed" ng-if="!ch.success && !ch.active && ch.status != 100"><strong>{{ 'ch_gameover_message_text_label' | i18n }}{{ ch.row_status }} </strong></div>
								<div class="days-wrapper-success" ng-if="ch.success || ch.status == 100">
									<strong>{{ 'ch_win_message_text_label' | i18n }}</strong>
								</div>
								<div class="social-absolute" ng-if="ch.success || ch.status == 100">
									<a facebook-feed-share class="facebookShare" data-title="{{ title }}" data-url="{{ url }}" data-shares='shares' data-caption="{{ caption }}" data-picture="{{ image_url }}" data-description="{{ getTextFb_ch(ch) }}" data-callback="callback"></a><!-- {{ shares }} -->
									&nbsp;&nbsp;
									<a twitter data-count='horizontal' data-title="{{ title }}" data-url="{{ url }}"  data-size="medium" data-text='{{ getTextTw_ch(ch) }}' ></a>
								</div>
							</div>
							<!-- <div class="col-md-1 headercol"><a href ng-click="showDetails(ch)"><i class="glyphicon glyphicon-info-sign"></i></a></div> -->
							<div class="col-md-1 imagecol" ng-if="!ch.success && ch.active && ch.status != 100">
								<img height="80" width="70" ng-src="{{ ch.progress_img }}" alt="Stato sfida" title="Stato sfida" />
								<div class="image-bonus-info" ng-class="ch.bonus_style">{{ ch.bonus }}</div>
								<div class="image-status-info" ng-class="ch.row_status_style">{{ ch.row_status }}</div>
							</div>
							<div class="col-md-1 imagecol" ng-if="!ch.success && !ch.active && ch.status != 100">
								<img height="90" width="75" ng-src="img/challenges_icon/sfida_non_vinta.png" alt="Sfida persa" title="Sfida persa" />
							</div>
							<div class="col-md-1 imagecol" ng-if="ch.success || ch.status == 100">
								<img height="90" width="75" ng-src="{{ ch.progress_img }}" alt="Sfida vinta" title="Sfida vinta" />
								<div class="image-bonus-success-num">{{ ch.bonus }}</div>
								<div class="image-bonus-success">{{ ch.point_type }}</div>
							</div>
						</div>
			  		</div>
			  		<div id="ch-small-block" align="justify">
			  			<div class="row">
							<!-- <div class="col-xs-2 iconcol"><img ng-if="ch.icon" height="50" width="50" ng-src="{{ ch.icon }}" alt="Sfida" title="Sfida" /></div> -->
							<div class="col-xs-10 iconcolsmall"><!-- col-xs-8 -->
								<div class="info-wrapper-small" ng-if="!ch.success && ch.active && ch.status != 100"><i class="glyphicon glyphicon-question-sign" ng-click="openInfoChPanel(ch)"></i></div>
								<strong>{{ ch.desc }}</strong>
								<div class="days-wrapper small" ng-if="!ch.success && ch.active && ch.status != 100"><strong>{{ ch.daysToEnd }}{{ 'ch_day_to_end_text_label' | i18n }}</strong></div>
								<div class="days-wrapper-failed small" ng-if="!ch.success && !ch.active && ch.status != 100"><strong>{{ 'ch_gameover_message_text_label' | i18n }}{{ ch.row_status }} </strong></div>
								<div class="days-wrapper-success small" ng-if="ch.success || ch.status == 100">
									<strong>{{ 'ch_win_message_text_label' | i18n }}</strong>
								</div>
								<div class="verticalpad sharing_wrapper" ng-if="ch.success || ch.status == 100">
									<div class="facebook_btn_wrapper_ch">
										<a facebook-feed-share class="facebookShare" data-title="{{ title }}" data-url="{{ url }}" data-shares='shares' data-caption="{{ caption }}" data-picture="{{ image_url }}" data-description="{{ text_fb }}" data-callback="callback"></a><!-- {{ shares }} -->
									</div>
									&nbsp;&nbsp;
									<div class="twitter_btn_wrapper_ch">
										<a twitter data-count='horizontal' data-title="{{ title }}" data-url="{{ url }}"  data-size="medium" data-text='{{ text_tw }}' ></a>
									</div>
								</div>
							</div>
							<div class="col-xs-10 headercolsmall" ng-if="!ch.success && ch.active && ch.status != 100"><!-- col-xs-1  -->
								<div class="image-succ-wrapper">
									<img height="70" width="60" ng-src="{{ ch.progress_img }}" alt="Stato sfida" title="Stato sfida" />
									<div class="image-bonus-info-small" ng-class="ch.bonus_style_small">{{ ch.bonus }}</div>
									<div class="image-status-info-small" ng-class="ch.row_status_style_small">{{ ch.row_status }}</div>
								</div>
							</div>
							<div class="col-xs-10 headercolsmall" ng-if="!ch.success && !ch.active && ch.status != 100"><!-- col-xs-1 -->
								<div class="image-succ-wrapper">
									<img height="80" width="60" ng-src="img/challenges_icon/sfida_non_vinta.png" alt="Sfida persa" title="Sfida persa" />
								</div>
							</div>
							<div class="col-xs-10 headercolsmall" ng-if="ch.success || ch.status == 100"><!-- col-xs-1  -->
								<div class="image-succ-wrapper">
									<img height="80" width="60" ng-src="{{ ch.progress_img }}" alt="Sfida vinta" title="Sfida vinta" />
									<div class="image-bonus-success-num-small">{{ ch.bonus }}</div>
									<div class="image-bonus-success-small">{{ ch.point_type }}</div>
								</div>
							</div>
							<!-- <div class="col-xs-1 headercolsmall"><a href ng-click="showDetails(ch)"><i class="glyphicon glyphicon-info-sign"></i></a></div> -->
						</div>
						<!-- <div class="row">
							<div class="col-xs-11 progresscol">
								<div class="progress">
									<div ng-if="ch.active || (!ch.active && ch.status == 100)" class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{ ch.status }}" aria-valuemin="0" aria-valuemax="100" style="min-width: 2em; width: {{ ch.status }}%">
								    	{{ ch.status }} %
									</div>
									<div ng-if="!ch.active && ch.status < 100" class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="{{ ch.status }}" aria-valuemin="0" aria-valuemax="100" style="min-width: 2em; width: {{ ch.status }}%">
								    	{{ ch.status }} %
									</div>
								</div>
							</div>
						</div> -->
			  		</div>
			  	</div>
			</div>
		</div>
		<div ng-if="challenges.length == 0">{{ 'ch_empty_list' | i18n }}</div>
		<div ng-repeat="ch in oldChallenges | orderBy:['-success','-endChTs'] " ng-if="!actualChellenges">
			<div class="{{ getChallStyle(ch.active, ch.status, ch.success) }}" ng-show="!isShowedDetails(ch.id)">
			   	<div class="panel-body">
			  		<div id="ch-big-block" align="justify">
			  			<div class="row">
							<div class="col-md-1 iconcol" ng-class="{'iconcol-success': ch.success || ch.status == 100, 'iconcol-failed': !ch.success && !ch.active && ch.status != 100}"><img ng-if="ch.icon" height="60" width="60" ng-src="{{ ch.icon }}" alt="Sfida" title="Sfida" /></div>
							<div class="col-md-9 headercol" ng-class="{'headercol-success': ch.success || ch.status == 100, 'headercol-failed': !ch.success && !ch.active && ch.status != 100}">
								<div class="desc-wrapper"><strong>{{ ch.desc }}</strong></div>
								<div class="days-wrapper" ng-if="!ch.success && ch.active && ch.status != 100"><strong>{{ ch.daysToEnd }}{{ 'ch_day_to_end_text_label' | i18n }}</strong></div>
								<div class="days-wrapper-failed" ng-if="!ch.success && !ch.active && ch.status != 100"><strong>{{ 'ch_gameover_message_text_label' | i18n }}{{ ch.row_status }} </strong></div>
								<div class="days-wrapper-success" ng-if="ch.success || ch.status == 100"><strong>{{ 'ch_win_message_text_label' | i18n }}</strong></div>
							</div>
							<!-- <div class="col-md-1 headercol"><a href ng-click="showDetails(ch)"><i class="glyphicon glyphicon-info-sign"></i></a></div> -->
							<div class="col-md-1 imagecol" ng-if="!ch.success && ch.active && ch.status != 100">
								<img height="80" width="70" ng-src="{{ ch.progress_img }}" alt="Stato sfida" title="Stato sfida" />
								<div class="image-bonus-info" ng-class="ch.bonus_style">{{ ch.bonus }}</div>
								<div class="image-status-info" ng-class="ch.row_status_style">{{ ch.row_status }}</div>
							</div>
							<div class="col-md-1 imagecol" ng-if="!ch.success && !ch.active && ch.status != 100">
								<img height="90" width="75" ng-src="img/challenges_icon/sfida_non_vinta.png" alt="Sfida persa" title="Sfida persa" />
							</div>
							<div class="col-md-1 imagecol" ng-if="ch.success || ch.status == 100">
								<img height="90" width="75" ng-src="{{ ch.progress_img }}" alt="Sfida vinta" title="Sfida vinta" />
								<div class="image-bonus-success-num">{{ ch.bonus }}</div>
								<div class="image-bonus-success">{{ ch.point_type }}</div>
							</div>
						</div>
			  		</div>
			  		<div id="ch-small-block" align="justify">
			  			<div class="row">
							<!-- <div class="col-xs-2 iconcol"><img ng-if="ch.icon" height="50" width="50" ng-src="{{ ch.icon }}" alt="Sfida" title="Sfida" /></div> -->
							<div class="col-xs-8 iconcolsmall">
								<strong>{{ ch.desc }}</strong>
								<div class="days-wrapper small" ng-if="!ch.success && ch.active && ch.status != 100"><strong>{{ ch.daysToEnd }}{{ 'ch_day_to_end_text_label' | i18n }}</strong></div>
								<div class="days-wrapper-failed small" ng-if="!ch.success && !ch.active && ch.status != 100"><strong>{{ 'ch_gameover_message_text_label' | i18n }}{{ ch.row_status }} </strong></div>
								<div class="days-wrapper-success small" ng-if="ch.success || ch.status == 100"><strong>{{ 'ch_win_message_text_label' | i18n }}</strong></div>
							</div>
							<div class="col-xs-1 headercolsmall" ng-if="!ch.success && ch.active && ch.status != 100">
								<img height="70" width="60" ng-src="{{ ch.progress_img }}" alt="Stato sfida" title="Stato sfida" />
								<div class="image-bonus-info-small" ng-class="ch.bonus_style_small">{{ ch.bonus }}</div>
								<div class="image-status-info-small" ng-class="ch.row_status_style_small">{{ ch.row_status }}</div>
							</div>
							<div class="col-xs-1 headercolsmall" ng-if="!ch.success && !ch.active && ch.status != 100">
								<img height="80" width="60" ng-src="img/challenges_icon/sfida_non_vinta.png" alt="Sfida persa" title="Sfida persa" />
							</div>
							<div class="col-xs-1 headercolsmall" ng-if="ch.success || ch.status == 100">
								<img height="80" width="60" ng-src="{{ ch.progress_img }}" alt="Sfida vinta" title="Sfida vinta" />
								<div class="image-bonus-success-num-small">{{ ch.bonus }}</div>
								<div class="image-bonus-success-small">{{ ch.point_type }}</div>
							</div>
							<!-- <div class="col-xs-1 headercolsmall"><a href ng-click="showDetails(ch)"><i class="glyphicon glyphicon-info-sign"></i></a></div> -->
						</div>
						<!-- <div class="row">
							<div class="col-xs-11 progresscol">
								<div class="progress">
									<div ng-if="ch.active || (!ch.active && ch.status == 100)" class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{ ch.status }}" aria-valuemin="0" aria-valuemax="100" style="min-width: 2em; width: {{ ch.status }}%">
								    	{{ ch.status }} %
									</div>
									<div ng-if="!ch.active && ch.status < 100" class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="{{ ch.status }}" aria-valuemin="0" aria-valuemax="100" style="min-width: 2em; width: {{ ch.status }}%">
								    	{{ ch.status }} %
									</div>
								</div>
							</div>
						</div> -->
			  		</div>
			  	</div>
			</div>	
			<div class="{{ getChallStyle(ch.active, ch.status, ch.success) }}" align="justify" ng-show="isShowedDetails(ch.id)">
			   	<div class="panel-body">
<!-- 			  		<h4>{{ 'left_menu-challeng' | i18n }} {{ ch.type }}</h4> -->
					<div id="ch-big-details-block">
						<div class="row">
							<div class="col-md-1 iconcol"><img ng-if="ch.icon" height="50" width="50" ng-src="{{ ch.icon }}" alt="Sfida" title="Sfida" /></div>
							<div class="col-md-9 headercol"><strong>{{ ch.desc }}</strong></div>
							<div class="col-md-1 headercol"><a href ng-click="hideDetails(ch)"><i class="glyphicon glyphicon-remove-sign"></i></a></div>
						</div>
						<!-- <div class="row">
							<div class="col-md-10"><img ng-if="ch.icon" height="50" width="50" src="{{ ch.icon }}" alt="Sfida" title="Sfida" /></div>
							<div class="col-md-1 headerleftcol"><a href ng-click="hideDetails(ch)"><i class="glyphicon glyphicon-remove-sign"></i></a></div>
						</div> -->
						<div align="justify">
							<div class="row">
								<div class="col-md-2 iconcol"><label>{{ 'ch_validity_label' | i18n }}: </label></div>
								<div class="col-md-9">{{ ch.startChTs | date }} - {{ ch.endChTs | date }}</div>
							</div>
							<div class="row" ng-if="ch.daysToEnd > 0">
								<div class="col-md-2 iconcol"><label>{{ 'ch_dayToEnd_label' | i18n }}: </label></div>
								<div class="col-md-9">{{ ch.daysToEnd }}</div>
							</div>
							<div class="row">
								<div class="col-md-2 iconcol"><label>{{ 'ch_target_label' | i18n }}: </label></div>
								<div class="col-md-9">{{ ch.target }}</div>
							</div>
							<div class="row">
								<div ng-if="ch.type == 'ch1'" class="col-md-2 iconcol"><label>{{ 'ch_walked_km_label' | i18n }}: </label></div>
								<div class="col-md-9">{{ ch.Km_walked_during_challenge }}</div>
							</div>
							<div class="row">
								<div ng-if="ch.type == 'ch3'" class="col-md-2 iconcol"><label>{{ 'ch_journey_number_label' | i18n }}: </label></div>
								<div class="col-md-9">{{ ch.counter }}</div>
							</div>
							<div class="row">
								<div ng-if="ch.type == 'ch9'" class="col-md-2 iconcol"><label>{{ 'ch_recommandation_label' | i18n }}: </label></div>
								<div class="col-md-9">{{ ch.recommandation }}</div>
							</div>
							<div class="row">
								<div class="col-md-2 iconcol"><label>{{ 'ch_bonus_label' | i18n }}: </label></div>
								<div class="col-md-9">{{ ch.bonus }}</div>
							</div>
							<div class="row">
								<div class="col-md-2 iconcol"><label>{{ 'ch_status_label' | i18n }}: </label></div>
								<div class="col-md-9">
									<div class="progress">
										<div ng-if="ch.active || (!ch.active && ch.status == 100)" class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{ ch.status }}" aria-valuemin="0" aria-valuemax="100" style="min-width: 2em; width: {{ ch.status }}%">
									    	{{ ch.status }} %
										</div>
										<div ng-if="!ch.active && ch.status < 100" class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="{{ ch.status }}" aria-valuemin="0" aria-valuemax="100" style="min-width: 2em; width: {{ ch.status }}%">
									    	{{ ch.status }} %
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div id="ch-small-details-block" align="justify">
			  			<div class="row">
							<div class="col-xs-2 iconcol"><img ng-if="ch.icon" height="50" width="50" ng-src="{{ ch.icon }}" alt="Sfida" title="Sfida" /></div>
							<div class="col-xs-7 iconcol"><strong>{{ ch.desc }}</strong></div>
							<div class="col-xs-1 headercolsmall"><a href ng-click="hideDetails(ch)"><i class="glyphicon glyphicon-remove-sign"></i></a></div>
						</div>
						<div align="justify">
							<div class="row">
								<div class="col-xs-2 iconcol"><label>{{ 'ch_validity_label' | i18n }}: </label></div>
								<div class="col-xs-8">{{ ch.startChTs | date }} - {{ ch.endChTs | date }}</div>
							</div>
							<div class="row" ng-if="ch.daysToEnd > 0">
								<div class="col-xs-2 iconcol"><label>{{ 'ch_dayToEnd_label' | i18n }}: </label></div>
								<div class="col-xs-8">{{ ch.daysToEnd }}</div>
							</div>
							<div class="row">
								<div class="col-xs-2 iconcol"><label>{{ 'ch_target_label' | i18n }}: </label></div>
								<div class="col-xs-8">{{ ch.target }}</div>
							</div>
							<div class="row">
								<div ng-if="ch.type == 'ch1'" class="col-xs-2 iconcol"><label>{{ 'ch_walked_km_label' | i18n }}: </label></div>
								<div class="col-xs-8">{{ ch.Km_walked_during_challenge }}</div>
							</div>
							<div class="row">
								<div ng-if="ch.type == 'ch9'" class="col-xs-2 iconcol"><label>{{ 'ch_recommandation_label' | i18n }}: </label></div>
								<div class="col-xs-8">{{ ch.recommandation }}</div>
							</div>
							<div class="row">
								<div class="col-xs-2 iconcol"><label>{{ 'ch_bonus_label' | i18n }}: </label></div>
								<div class="col-xs-8">{{ ch.bonus }}</div>
							</div>
							<div class="row">
								<div class="col-xs-2 iconcol"><label>{{ 'ch_status_label' | i18n }}: </label></div>
								<div class="col-xs-8">
									<div class="progress">
										<div ng-if="ch.active || (!ch.active && ch.status == 100)" class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{ ch.status }}" aria-valuemin="0" aria-valuemax="100" style="min-width: 2em; width: {{ ch.status }}%">
									    	{{ ch.status }} %
										</div>
										<div ng-if="!ch.active && ch.status < 100" class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="{{ ch.status }}" aria-valuemin="0" aria-valuemax="100" style="min-width: 2em; width: {{ ch.status }}%">
									    	{{ ch.status }} %
										</div>
									</div>
								</div>
							</div>
						</div>
			  		</div>
				</div>
			</div>		
		</div>
			
</div>