<div class="container-fluid" ><!-- ng-init="init_class();getClassificationPages(gameId, 1)" -->

	<!-- <div id="my-class-head-title" align="center">
		{{ 'left_menu-classification' | i18n }}
	</div> -->
		
	<div id="big-loading" class="row" style="height: 200px" ng-show="isLoading">
		<div style="text-align: center">
			<img src="img/ajax-loader.gif" width="70" height="70" /><br>
			<h3>{{ 'loading_text' | i18n }}...</h3>
		</div>
	</div>
	
	<div id="small-loading" class="row" style="height: 160px" ng-show="isLoading">
		<div style="text-align: center">
			<img src="img/ajax-loader.gif" width="40" height="40" /><br>
			<h4>{{ 'loading_text' | i18n }}...</h4>
		</div>
	</div>
			
	<div class="row" ng-show="!isLoading" align="center">
<!-- 	    <ul class="nav nav-tabs nav-justified-big">
	        <li ng-if="show_gpoint" class="nav active"><a data-target="#G" data-toggle="tab">{{ 'green_leaves_tab_title' | i18n }}</a></li>
	        <li ng-if="show_hpoint" class="nav"><a data-target="#H" data-toggle="tab">{{ 'health_tab_title' | i18n }}</a></li>
	        <li ng-if="show_prpoint" class="nav"><a data-target="#P" data-toggle="tab">{{ 'pr_tab_title' | i18n }}</a></li>
	    </ul> -->
	    <div id="big-dropdown-classification" class="col-md-4 col-md-offset-4">
			<div class="dropdown">
	  			<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuClassification" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
	    			<span ng-show="isClassActive('G')"><strong>{{ 'global_class_tab_title' | i18n }}</strong></span>
	    			<span ng-show="isClassActive('AW')"><strong>{{ 'actual_week_class_tab_title' | i18n }}</strong></span>
	    			<span ng-show="isClassActive('LW')"><strong>{{ 'last_week_class_tab_title' | i18n }}</strong></span>
	    			<span class="caret"></span>
	  			</button>
		  		<ul class="dropdown-menu" aria-labelledby="dropdownMenuClassification">
		  			<li role="presentation" class="{{ isClassActiveForClass('G') }}"><a role="menuitem" tabindex="-1" href ng-click="showClass('G')">{{ 'global_class_tab_title' | i18n }}</a></li>
			       	<li role="presentation" class="{{ isClassActiveForClass('AW') }}"><a role="menuitem" tabindex="-1" href ng-click="showClass('AW')">{{ 'actual_week_class_tab_title' | i18n }}</a></li>
			       	<li role="presentation" class="{{ isClassActiveForClass('LW') }}"><a role="menuitem" tabindex="-1" href ng-click="showClass('LW')">{{ 'last_week_class_tab_title' | i18n }}</a></li>
			    </ul>
		    </div>
	    </div> 
	    <div id="small-dropdown-classification" class="col-xs-10 col-xs-offset-1">
			<div class="dropdown">
	  			<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuClassification" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
	    			<span ng-show="isClassActive('G')"><strong>{{ 'global_class_tab_title' | i18n }}</strong></span>
	    			<span ng-show="isClassActive('AW')"><strong>{{ 'actual_week_class_tab_title' | i18n }}</strong></span>
	    			<span ng-show="isClassActive('LW')"><strong>{{ 'last_week_class_tab_title' | i18n }}</strong></span>
	    			<span class="caret"></span>
	  			</button>
		  		<ul class="dropdown-menu" aria-labelledby="dropdownMenuClassification">
		  			<li role="presentation" class="{{ isClassActiveForClass('G') }}"><a role="menuitem" tabindex="-1" href ng-click="showClass('G')">{{ 'global_class_tab_title' | i18n }}</a></li>
			       	<li role="presentation" class="{{ isClassActiveForClass('AW') }}"><a role="menuitem" tabindex="-1" href ng-click="showClass('AW')">{{ 'actual_week_class_tab_title' | i18n }}</a></li>
			       	<li role="presentation" class="{{ isClassActiveForClass('LW') }}"><a role="menuitem" tabindex="-1" href ng-click="showClass('LW')">{{ 'last_week_class_tab_title' | i18n }}</a></li>
			    </ul>
		    </div>
	    </div>
			
	    <!-- Tab panes -->
		<!-- <div id="big-tab-classification" class="tab-content noborder">
	        <div class="tab-pane fade in active" id="G" ng-include="classTabs[0].content"></div>
	    	<div class="tab-pane fade" id="H" ng-include="classTabs[1].content"></div>
	        <div class="tab-pane fade" id="P" ng-include="classTabs[2].content"></div>
	    </div>
	    <div id="small-tab-classification" class="tab-content small-content noborder">
	        <div class="tab-pane fade in active" id="G" ng-include="classTabs[0].content"></div>
	        <div class="tab-pane fade" id="H" ng-include="classTabs[1].content"></div>
	        <div class="tab-pane fade" id="P" ng-include="classTabs[2].content"></div>
	    </div> -->
	    
	    <div id="big-tab-classification">
	        <div id="G" ng-include="classTabs[0].content" ng-show="isClassActive('G')"></div>
	        <div id="AW" ng-include="classTabs[1].content" ng-show="isClassActive('AW')"></div>
	        <div id="LW" ng-include="classTabs[2].content" ng-show="isClassActive('LW')"></div>
	    </div>
	    <div id="small-tab-classification">
	        <div id="G" ng-include="classTabs[0].content" ng-show="isClassActive('G')"></div>
	        <div id="AW" ng-include="classTabs[1].content" ng-show="isClassActive('AW')"></div>
	        <div id="LW" ng-include="classTabs[2].content" ng-show="isClassActive('LW')"></div>
	    </div>
	    
	    
	</div>
		
</div>