<div id="big-credits-view" class="container-fluid">
	<div class="panel panel-success-trasparent" align="center">
	   <div class="panel-body">
				<h5><font face="Raleway-bold" size="5" color="gray"><strong>Play&Go</strong></font> con ViaggiaTrento</h5>
				&egrave; un progetto di:
				<div class="row margin-row">
					<div class="col-md-3 center-bottom">
						<a href="http://www.streetlife-project.eu/index.html" target="_blank" >
							<img src="img/footer/streetLife.png" width="120" alt="Streetlife" title="Streetfile" />
						</a>
					</div>
					<div class="col-md-2 center-bottom">
						<a href="http://www.fbk.eu" target="_blank" >
							<img src="img/footer/fbk.png" width="85" alt="Fbk" title="Fbk" />
						</a>
					</div>
					<div class="col-md-2 center-bottom">
						<a href="http://www.comune.trento.it" target="_blank" >
							<img src="img/footer/logoTN.png" width="85" alt="Comune Trento" title="Comune Trento" />
						</a>
					</div>
					<div class="col-md-3 center-bottom">
						<a href="http://www.caire.it/" target="_blank" >
							<img src="img/footer/caire.png" width="150" alt="Caire Urbanistica" title="Caire Urbanistica" />
						</a>
					</div>
				</div>
			</div>
	</div>		
</div>
<div id="small-credits-view" class="container-fluid nopadding">
	<div id="my-credits-head-title" align="center">
		{{ 'left_menu-credits' | i18n }}
	</div>
	<div class="panel panel-success-trasparent" align="center">
	   <div class="panel-body panel-body-nopadding">
			<div class="row">
				<div class="col-xs-12" align="center">
					<h5><font face="Raleway-bold" size="5" color="gray"><strong>Play&Go</strong></font> con ViaggiaTrento</h5>
				</div>
				<div class="col-xs-12" align="center">	
					&egrave; un progetto di:
				</div>
			</div>
			<div class="row margin-row">
				<div class="col-xs-6 center-bottom-small-fbk">
					<a href="http://www.fbk.eu" target="_blank" >
						<img class="image-bottom" src="img/footer/fbk.png" width="85" alt="Fbk" title="Fbk" />
					</a>
				</div>
				<div class="col-xs-6 center-bottom-small">
					<a href="http://www.comune.trento.it" target="_blank" >
						<img class="image-bottom" src="img/footer/logoTN.png" width="85" alt="Comune Trento" title="Comune Trento" />
					</a>
				</div>
				<div class="col-xs-6 center-bottom-small">
					<a href="http://www.streetlife-project.eu/index.html" target="_blank" >
						<img class="image-bottom" src="img/footer/streetLife.png" width="120" alt="Streetlife" title="Streetfile" />
					</a>
				</div>
				<div class="col-xs-6 center-bottom-small">
					<a href="http://www.caire.it/" target="_blank" >
						<img class="image-bottom" src="img/footer/caire.png" width="120" alt="Caire Urbanistica" title="Caire Urbanistica" />
					</a>
				</div>
				<br>
			</div>	
		</div>
	</div>		
</div>