<div id="big-rules-view" class="container-fluid">
	<div id="my-rules-head-title" align="center">
		{{ 'left_menu-rules' | i18n }}
	</div>
	<div class="panel panel-success-trasparent" align="justify">
	   <div class="panel-body">
				    <h4>Benvenuto nel Gioco Play&Go con ViaggiaRovereto!</h4>
					<div align="justify">
						Partecipare &egrave; semplice: pianifica i tuoi viaggi con ViaggiaRovereto e scegli delle soluzioni di mobilit&agrave; sostenibile per guadagnare punti e avanzare nel gioco. 
						Divertiti a collezionare punti, badges e mettiti alla prova con le challenges settimanali. Sfida i tuoi amici a scalare le classifiche: ogni settimana puoi vincere ricchi premi e 
						contribuire, divertendoti, a rendere la tua citt&agrave; pi&ugrave; sostenibile e smart!
					</div>
					<br/>
					<h4>Come si gioca?</h4>
					<div align="left">
						Pianifica i tuoi viaggi con ViaggiaRovereto (<strong>"Pianifica viaggio"</strong> nella home), salva il tuo itinerario (<strong>"Salva itinerario"</strong> nella pagina di dettaglio) e ricordati di tracciare il tuo 
						percorso quando esegui il viaggio (<strong>"Inizia"</strong> e <strong>"Termina"</strong> in dettaglio viaggio ne "I miei viaggi"). Ogni viaggio ti permette di guadagnare <strong>punti Green Leaves</strong> in proporzione ai km fatti 
						con mezzi sostenibili (a piedi, in bici/bike sharing, e con i mezzi pubblici).
					</div>
					<div align="left">
						Puoi vincere dei bonus in punti Green Leaves:<br>
						<ul>
							<li>Scegliendo dei viaggi ad emissioni zero di CO2, cio&egrave; esclusivamente in bici o a piedi; </li>
							<li>Scegliendo viaggi sostenibili: suggeriti e marcati in verde da ViaggiaRovereto;</li>
							<li>Superando le tue sfide settimanali, quando ti vengono proposte;</li>
							<li>Invitando i tuoi amici a registrarsi al gioco: &egrave; sufficiente che il tuo amico, in fase di registrazione, indichi il tuo nickname Giocatore.</li>
						</ul>
					</div>
					<br/>
					<h4>Incentivi e premi</h4>
					<div align="left">
						Durante il gioco sono previsti <strong>premi settimanali e finali</strong> che andranno a premiare i primi tre classificati nella classifica (settimanale e generale, rispettivamente) a punti Green Leaves.
						<br/>
						Al seguente link puoi scaricare il regolamento completo del gioco: <a href="pdf/regolamento.pdf" target="_blank" alt="regolamento" title="regolamento" >regolamento Play&Go</a>.
					</div>
			</div>
	</div>		
</div>
<div id="small-rules-view" class="container-fluid nopadding">
	<div id="my-rules-head-title" align="center">
		{{ 'left_menu-rules' | i18n }}
	</div>
	<div class="panel panel-success-trasparent" align="Left">
	   <div class="panel-body panel-body-nopadding">
				    <h4>Benvenuto nel Gioco Play&Go con ViaggiaRovereto!</h4>
					<div align="justify">
						Partecipare &egrave; semplice: pianifica i tuoi viaggi con ViaggiaRovereto e scegli delle soluzioni di mobilit&agrave; sostenibile per guadagnare punti e avanzare nel gioco. 
						Divertiti a collezionare punti, badges e mettiti alla prova con le challenges settimanali. Sfida i tuoi amici a scalare le classifiche: ogni settimana puoi vincere ricchi premi e 
						contribuire, divertendoti, a rendere la tua citt&agrave; pi&ugrave; sostenibile e smart!
					</div>
					<br/>
					<h4>Come si gioca?</h4>
					<div align="left">
						Pianifica i tuoi viaggi con ViaggiaRovereto (<strong>"Pianifica viaggio"</strong> nella home), salva il tuo itinerario (<strong>"Salva itinerario"</strong> nella pagina di dettaglio) e ricordati di tracciare il tuo 
						percorso quando esegui il viaggio (<strong>"Inizia"</strong> e <strong>"Termina"</strong> in dettaglio viaggio ne "I miei viaggi"). Ogni viaggio ti permette di guadagnare <strong>punti Green Leaves</strong> in proporzione ai km fatti 
						con mezzi sostenibili (a piedi, in bici/bike sharing, e con i mezzi pubblici).
					</div>
					<div align="left">
						Puoi vincere dei bonus in punti Green Leaves:<br>
						<ul>
							<li>Scegliendo dei viaggi ad emissioni zero di CO2, cio&egrave; esclusivamente in bici o a piedi; </li>
							<li>Scegliendo viaggi sostenibili: suggeriti e marcati in verde da ViaggiaRovereto;</li>
							<li>Superando le tue sfide settimanali, quando ti vengono proposte;</li>
							<li>Invitando i tuoi amici a registrarsi al gioco: &egrave; sufficiente che il tuo amico, in fase di registrazione, indichi il tuo nickname Giocatore.</li>
						</ul>
					</div>
					<br/>
					<h4>Incentivi e premi</h4>
					<div align="left">
						Durante il gioco sono previsti <strong>premi settimanali e finali</strong> che andranno a premiare i primi tre classificati nella classifica (settimanale e generale, rispettivamente) a punti Green Leaves.
						<br/>
						Al seguente link puoi scaricare il regolamento completo del gioco: <a href="pdf/regolamento.pdf" target="_blank" alt="regolamento" title="regolamento" >regolamento Play&Go</a>.
					</div>
			</div>
	</div>		
</div>