<div id="big-rules-view" class="container-fluid">
	<div id="my-rules-head-title" align="center">
		{{ 'left_menu-rules' | i18n }}
	</div>
	<div class="panel panel-success-trasparent" align="justify">
	   <div class="panel-body">
				    <h4>{{ 'welcome_rules_page_title' | i18n }}</h4>
					<div align="justify">
						{{ 'welcome_rules_page_text' | i18n }}
					</div>
					<br/>
					<h4>{{ 'game_rules_page_title' | i18n }}</h4>
					<div align="left">
						{{ 'game_rules_page_text_1' | i18n }}<strong>{{ 'game_rules_page_text_2' | i18n }}</strong>{{ 'game_rules_page_text_3' | i18n }}<strong>{{ 'game_rules_page_text_4' | i18n }}</strong>{{ 'game_rules_page_text_5' | i18n }}
						<strong>{{ 'game_rules_page_text_6' | i18n }}</strong>{{ 'game_rules_page_text_7' | i18n }}<strong>{{ 'game_rules_page_text_8' | i18n }}</strong>{{ 'game_rules_page_text_9' | i18n }}
						<strong>{{ 'game_rules_page_text_10' | i18n }}</strong>{{ 'game_rules_page_text_7' | i18n }}<strong>{{ 'game_rules_page_text_11' | i18n }}</strong>
						{{ 'game_rules_page_text_12' | i18n }}<strong>{{ 'game_rules_page_text_13' | i18n }}</strong>{{ 'game_rules_page_text_14' | i18n }}
					</div>
					<div align="left">
						{{ 'game_rules_page_text_15' | i18n }}<br>
						<ul>
							<li>{{ 'game_rules_page_text_16' | i18n }}</li>
							<li>{{ 'game_rules_page_text_17' | i18n }}</li>
							<li>{{ 'game_rules_page_text_18' | i18n }}</li>
						</ul>
					</div>
					<br/>
					<h4>{{ 'prize_rules_page_title' | i18n }}</h4>
					<div align="left">
						{{ 'prize_rules_page_text_1' | i18n }}<strong>{{ 'prize_rules_page_text_2' | i18n }}</strong>{{ 'prize_rules_page_text_3' | i18n }}
						<br/>
						{{ 'prize_rules_page_text_4' | i18n }}<br/>
						{{ 'prize_rules_page_text_5' | i18n }}<a href="pdf/regolamento.pdf" target="_blank" alt="regolamento" title="regolamento" >{{ 'prize_rules_page_text_6' | i18n }}</a>.
					</div>
			</div>
	</div>		
</div>
<div id="small-rules-view" class="container-fluid nopadding">
	<div id="my-rules-head-title" align="center">
		{{ 'left_menu-rules' | i18n }}
	</div>
	<div class="panel panel-success-trasparent" align="Left">
	   <div class="panel-body panel-body-nopadding">
				    <h4>{{ 'welcome_rules_page_title' | i18n }}</h4>
					<div align="justify">
						{{ 'welcome_rules_page_text' | i18n }}
					</div>
					<br/>
					<h4>{{ 'game_rules_page_title' | i18n }}</h4>
					<div align="left">
						{{ 'game_rules_page_text_1' | i18n }}<strong>{{ 'game_rules_page_text_2' | i18n }}</strong>{{ 'game_rules_page_text_3' | i18n }}<strong>{{ 'game_rules_page_text_4' | i18n }}</strong>{{ 'game_rules_page_text_5' | i18n }}
						<strong>{{ 'game_rules_page_text_6' | i18n }}</strong>{{ 'game_rules_page_text_7' | i18n }}<strong>{{ 'game_rules_page_text_8' | i18n }}</strong>{{ 'game_rules_page_text_9' | i18n }}
						<strong>{{ 'game_rules_page_text_10' | i18n }}</strong>{{ 'game_rules_page_text_7' | i18n }}<strong>{{ 'game_rules_page_text_11' | i18n }}</strong>
						{{ 'game_rules_page_text_12' | i18n }}<strong>{{ 'game_rules_page_text_13' | i18n }}</strong>{{ 'game_rules_page_text_14' | i18n }}
					</div>
					<div align="left">
						{{ 'game_rules_page_text_15' | i18n }}<br>
						<ul>
							<li>{{ 'game_rules_page_text_16' | i18n }}</li>
							<li>{{ 'game_rules_page_text_17' | i18n }}</li>
							<li>{{ 'game_rules_page_text_18' | i18n }}</li>
						</ul>
					</div>
					<br/>
					<h4>{{ 'prize_rules_page_title' | i18n }}</h4>
					<div align="left">
						{{ 'prize_rules_page_text_1' | i18n }}<strong>{{ 'prize_rules_page_text_2' | i18n }}</strong>{{ 'prize_rules_page_text_3' | i18n }}
						<br/>
						{{ 'prize_rules_page_text_4' | i18n }}<br/>
						{{ 'prize_rules_page_text_5' | i18n }}<a href="pdf/regolamento.pdf" target="_blank" alt="regolamento" title="regolamento" >{{ 'prize_rules_page_text_6' | i18n }}</a>.
					</div>
			</div>
	</div>		
</div>