<div id="big-prizes-view" class="container-fluid">
	<div id="my-rules-head-title" align="center">
		{{ 'left_menu-prizes' | i18n }}
	</div>
	<div class="panel panel-success-trasparent" align="justify">
	   <div class="panel-body">
		<h4>RISULTATI E INCENTIVI</h4>
		<div align="justify">
			Alla fine del Gioco, ogni Giocatore ricever&agrave; un attestato che riporter&agrave; i risultati raggiunti.
			I primi tre Giocatori nella <strong>classifica globale a punti Green Leaves</strong> alla fine del Gioco riceveranno i seguenti premi:<br/>
			<ul>
				<li>1) primo classificato: <strong>n. 1 abbonamento semestrale in palestra</strong>;</li>
				<li>2) secondo classificato: <strong>n. 1 bicicletta city bike per adulti</strong>;</li>
				<li>3) terzo classificato: <strong>n.1 abbonamento stagionale-estivo per piscina</strong>.</li>
			</ul>
 			In alcune settimane di Gioco saranno inoltre messi a diposizione dei premi settimanali che andranno a premiare i primi classificati nella classifica settimanale a punti Green Leaves.<br/><br/>
			Una premiazione, con consegna degli attestati e dei premi summenzionati, avverr&agrave; presso e a cura del Comune di Rovereto al termine del Gioco.<br/><br/>
			I premi finali sono gentilmente offerti da:<br/><br/>
			<div class="row" align="center">
				<div class="col-md-6">
					<a href="http://www.2001team.com/rovereto/" title="centro natatorio leno" alt="centro natatorio leno" target="_blank">
						<img src="img/centro_natatorio.png" width="200px">
					</a>
				</div>
				<div class="col-md-6">
					<a href="http://www.tettamantibike.it" title="tettamanti bike" alt="tettamanti bike" target="_blank">
						<img src="img/tettamanti.png" width="250px">
					</a>
				</div>
			</div>
		</div>
	   </div>		
	</div>		
</div>
<div id="small-prizes-view" class="container-fluid nopadding">
	<div id="my-rules-head-title" align="center">
		{{ 'left_menu-prizes' | i18n }}
	</div>
	<div class="panel panel-success-trasparent" align="justify">
	   <div class="panel-body panel-body-nopadding">
		<h4>RISULTATI E INCENTIVI</h4>
		<div align="justify">
			Alla fine del Gioco, ogni Giocatore ricever&agrave; un attestato che riporter&agrave; i risultati raggiunti.
			I primi tre Giocatori nella <strong>classifica globale a punti Green Leaves</strong> alla fine del Gioco riceveranno i seguenti premi:
			<ul>
				<li>1) primo classificato: <strong>n. 1 abbonamento semestrale in palestra</strong>;</li>
				<li>2) secondo classificato: <strong>n. 1 bicicletta city bike per adulti</strong>;</li>
				<li>3) terzo classificato: <strong>n.1 abbonamento stagionale-estivo per piscina</strong>.</li>
			</ul>
 			In alcune settimane di Gioco saranno inoltre messi a diposizione dei premi settimanali che andranno a premiare i primi classificati nella classifica settimanale a punti Green Leaves.<br/>
			Una premiazione, con consegna degli attestati e dei premi summenzionati, avverr&agrave; presso e a cura del Comune di Rovereto al termine del Gioco.<br/>
			I premi finali sono gentilmente offerti da:<br/><br/>
			<div class="row" align="center">
				<div class="col-xs-12">
					<a href="http://www.2001team.com/rovereto/" title="centro natatorio leno" alt="centro natatorio leno" target="_blank">
						<img src="img/centro_natatorio.png" width="200px">
					</a>
				</div>
				<div class="col-xs-12">
					<a href="http://www.tettamantibike.it" title="tettamanti bike" alt="tettamanti bike" target="_blank">
						<img src="img/tettamanti.png" width="250px">
					</a>
				</div>
			</div>
		</div>
	   </div>		
	</div>		
</div>