<div id="big-privacy-view" class="container-fluid">
	<div id="my-rules-head-title" align="center">
		{{ 'left_menu-privacy' | i18n }}
	</div>
	<div class="panel panel-success-trasparent" align="justify">
	   <div class="panel-body">
	    <h4>{{ 'privacy_page_title' | i18n }}</h4>
		<div align="justify">
			{{ 'privacy_page_text' | i18n }} <a href="pdf/normativa.pdf" target="_blank" alt="normativa privacy" title="normativa privacy" >{{ 'privacy_page_link' | i18n }}</a>.
		</div>
		<br/>
	   </div>
	</div>
</div>
<div id="small-privacy-view" class="container-fluid nopadding">
	<div id="my-rules-head-title" align="center">
		{{ 'left_menu-privacy' | i18n }}
	</div>
	<div class="panel panel-success-trasparent" align="justify">
	   <div class="panel-body panel-body-nopadding">
	    <h4>{{ 'privacy_page_title' | i18n }}</h4>
		<div align="justify">
			{{ 'privacy_page_text' | i18n }} <a href="pdf/normativa.pdf" target="_blank" alt="normativa privacy" title="normativa privacy" >{{ 'privacy_page_link' | i18n }}</a>.
		</div>
		<br/>
	   </div>
	</div>
</div>