<div id="big-privacy-view" class="container-fluid">
	<div id="my-rules-head-title" align="center">
		{{ 'left_menu-privacy' | i18n }}
	</div>
	<div class="panel panel-success-trasparent" align="justify">
	   <div class="panel-body">
	    <h4>TRATTAMENTO DEI DATI PERSONALI</h4>
		<div align="justify">
			Lo scopo del gioco ViaggiaRovereto (di seguito, "il Gioco") &egrave; quello di indurre e 
			facilitare i partecipanti all'esplorazione e all'uso di soluzioni di mobilit&agrave; urbana 
			sostenibile per mezzo di incentivi virtuali e reali, che vengono introdotti, presentati e 
			raggiunti nell'ambito di un contesto ludico, mediato dall'uso delle tecnologie ICT, in 
			questo caso dall'applicazione mobile ViaggiaRovereto (di seguito, l'App), secondo la 
			tecnica cosiddetta della "gamification".
			Gli enti che organizzano e gestiscono il Gioco sono il <strong>Comune di Rovereto</strong>, la 
			<strong>Fondazione Bruno Kessler</strong> e <strong>CAIRE</strong> - Cooperativa Architetti e Ingegneri – Urbanistica 
			(di seguito, "gli Organizzatori”), nell’ambito del progetto Europeo <strong>STREETLIFE</strong>.
		</div>
		<br/>
	   </div>
	</div>
</div>
<div id="small-privacy-view" class="container-fluid nopadding">
	<div id="my-rules-head-title" align="center">
		{{ 'left_menu-privacy' | i18n }}
	</div>
	<div class="panel panel-success-trasparent" align="justify">
	   <div class="panel-body panel-body-nopadding">
	    <h4>TRATTAMENTO DEI DATI PERSONALI</h4>
		<div align="justify">
			Lo scopo del gioco ViaggiaRovereto (di seguito, "il Gioco") &egrave; quello di indurre e 
			facilitare i partecipanti all'esplorazione e all'uso di soluzioni di mobilit&agrave; urbana 
			sostenibile per mezzo di incentivi virtuali e reali, che vengono introdotti, presentati e 
			raggiunti nell'ambito di un contesto ludico, mediato dall'uso delle tecnologie ICT, in 
			questo caso dall'applicazione mobile ViaggiaRovereto (di seguito, l'App), secondo la 
			tecnica cosiddetta della "gamification".
			Gli enti che organizzano e gestiscono il Gioco sono il <strong>Comune di Rovereto</strong>, la 
			<strong>Fondazione Bruno Kessler</strong> e <strong>CAIRE</strong> - Cooperativa Architetti e Ingegneri – Urbanistica 
			(di seguito, "gli Organizzatori”), nell’ambito del progetto Europeo <strong>STREETLIFE</strong>.
		</div>
		<br/>
	   </div>
	</div>
</div>