<div id="big-privacy-view" class="container-fluid">
	<div id="my-rules-head-title" align="center">
		{{ 'left_menu-privacy' | i18n }}
	</div>
	<div class="panel panel-success-trasparent" align="justify">
	   <div class="panel-body">
	    <h4>TRATTAMENTO DEI DATI PERSONALI</h4>
		<div align="justify">
			Al fine di permettere lo svolgimento del gioco Play&Go con ViaggiaTrento si rendono necessari la raccolta ed il trattamento delle informazioni relative ai viaggi pianificati e salvati, al tracciato dei viaggi effettuati tramite App, e ai risultati del gioco. 
			I tuoi dati personali verranno trattati nel pieno rispetto della vigente normativa sulla privacy, <a href="pdf/normativa.pdf" target="_blank" alt="normativa privacy" title="normativa privacy" >come da seguente documento</a>.
		</div>
		<br/>
	   </div>
	</div>
</div>
<div id="small-privacy-view" class="container-fluid nopadding">
	<div id="my-rules-head-title" align="center">
		{{ 'left_menu-privacy' | i18n }}
	</div>
	<div class="panel panel-success-trasparent" align="justify">
	   <div class="panel-body panel-body-nopadding">
	    <h4>TRATTAMENTO DEI DATI PERSONALI</h4>
		<div align="justify">
			Al fine di permettere lo svolgimento del gioco Play&Go con ViaggiaTrento si rendono necessari la raccolta ed il trattamento delle informazioni relative ai viaggi pianificati e salvati, al tracciato dei viaggi effettuati tramite App, e ai risultati del gioco. 
			I tuoi dati personali verranno trattati nel pieno rispetto della vigente normativa sulla privacy, <a href="pdf/normativa.pdf" target="_blank" alt="normativa privacy" title="normativa privacy" >come da seguente documento</a>.
		</div>
		<br/>
	   </div>
	</div>
</div>