<div class="container-fluid" ng-init="getProfile(params.id)">

	<div id="my-prof-head-title" align="center">
		{{ 'left_menu-profile' | i18n }}
	</div>

	<div align="center" class="homeheadertitle">
		<!-- <h1>{{ getUserName() }} {{ getUserSurname() }} - {{ myNick }}</h1> -->
		<h1>{{ 'hello_home-title' | i18n }} {{ myNick }}</h1>
		<h4>{{ 'label_profile_title_h4' | i18n }}</h4>
	</div>	
<!-- 		<div class="row" style="height: 200px; margin-top: 20px" ng-show="isLoading"> -->
<!-- 			<div style="text-align: center"> -->
<!-- 				<img src="img/ajax-loader.gif" width="70" height="70" /><br> -->
<!-- 				<h2>{{ 'loading_text' | i18n }}...</h2> -->
<!-- 			</div> -->
<!-- 		</div> -->
<!-- 		<tabset id="prof-nav" justified="true" ng-show="!isLoading"> -->
<!-- 			<tab  ng-repeat="tab in profTabs" heading="{{ tab.title }}" active="tab.active" disabled="tab.disabled"  select="setProfIndex($index)"> -->
<!-- 				<br> -->
<!-- 				<div ng-include="tab.content"></div> -->
<!-- 			</tab> -->
<!-- 		</tabset> -->
		
	<div class="row">
	    <ul class="nav nav-tabs nav-justified">
	        <li ng-if="show_gpoint" class="nav active"><a data-target="#G" data-toggle="tab">{{ 'points_and_badges_tab_title' | i18n }}</a></li>
	        <li ng-if="show_hpoint" class="nav"><a data-target="#H" data-toggle="tab">{{ 'health_tab_title' | i18n }}</a></li>
	        <li ng-if="show_prpoint" class="nav"><a data-target="#P" data-toggle="tab">{{ 'pr_tab_title' | i18n }}</a></li>
	        <li ng-if="show_otherpoint" class="nav"><a data-target="#O" data-toggle="tab">{{ 'other_tab_title' | i18n }}</a></li>
	        <li ng-if="show_specialpoint" class="nav"><a data-target="#S" data-toggle="tab">{{ 'special_tab_title' | i18n }}</a></li><!-- ng-click="activeProfTab(3)" -->
	    	<li class="nav"><a data-target="#CH" data-toggle="tab" ng-click="getChalleng(gameId)">{{ 'chall_tab_title' | i18n }}</a></li>
	    	<li class="nav"><a data-target="#CL" data-toggle="tab" ng-click="init_class();getClassification(gameId)">{{ 'class_tab_title' | i18n }}</a></li>
	    </ul>
		
	    <!-- Tab panes -->
	    <div class="tab-content">
	        <div class="tab-pane fade in active" id="G" ng-include="profTabs[0].content"></div>
	        <div class="tab-pane fade" id="H" ng-include="profTabs[1].content"></div>
	        <div class="tab-pane fade" id="P" ng-include="profTabs[2].content"></div>
	        <div class="tab-pane fade" id="O" ng-include="profTabs[4].content"></div>
	        <div class="tab-pane fade" id="S" ng-include="profTabs[3].content"></div>
	        <div class="tab-pane fade" id="CH" ng-include="profTabs[5].content"></div>
	        <div class="tab-pane fade" id="CL" ng-include="profTabs[6].content"></div>
	    </div>
	</div>	
</div>