<div class="container-fluid" ng-init="getProfile(params.id);checksponsorbanner()">

	<!-- <div id="my-prof-head-title" align="center">
		{{ 'left_menu-profile' | i18n }}
	</div> -->
	<div class="row" ng-show="sponsored_week">
		<div class="alert alert-success" role="alert">
			<h4>
				{{ 'week_prize_from_title' | i18n }} <!-- {{ week_sponsor }} -->
			</h4>
			<a href="http://www.mozartitalia.org/it/" target="_blank" ng-if="showBannerAMI">
				<img class="banner-imgs" src="img/sponsor/Ami.png" alt="Associazione Mozart Italia" title="Associazione Mozart Italia">
			</a>
			<a href="http://www.carsharing.tn.it/" target="_blank" ng-if="showBannerCARSHARING">
				<img class="banner-imgs" src="img/sponsor/CarSharing.png" alt="Car Sharing" title="Car Sharing">
			</a>
			<a href="http://www.2001team.com/rovereto/" target="_blank" ng-if="showBannerLENO2001">
				<img class="banner-imgs" src="img/sponsor/LENO2001.png" alt="Centro Natatorio LENO2001" title="Centro Natatorio LENO2001">
			</a>
			<a href="http://www.mart.trento.it/" target="_blank" ng-if="showBannerMART">
				<img class="banner-imgs" src="img/sponsor/MART.png" alt="MART" title="MART">
			</a>
			<a href="http://www.orienteoccidente.it/it/oriente-occidente/" target="_blank" ng-if="showBannerORIENTEOCCIDENTE">
				<img class="banner-imgs" src="img/sponsor/OrienteOccidentale.png" alt="Oriente Occidentale" title="Oriente Occidentale">
			</a>
			<a href="http://www.provincia.tn.it/" target="_blank" ng-if="showBannerPAT">
				<img class="banner-imgs" src="img/sponsor/ProvinciaTrento.png" alt="Provincia di Trento" title="Provincia di Trento">
			</a>
		</div>
	</div>

	<div align="center" class="homeheadertitle">
		<!-- <h1>{{ getUserName() }} {{ getUserSurname() }} - {{ myNick }}</h1> -->
		<h1 class="h1_reduced_margin">{{ 'hello_home-title' | i18n }} {{ myNick }}</h1>
		<h4>{{ 'label_profile_title_h4' | i18n }}</h4>
	</div>	
<!-- 		<div class="row" style="height: 200px; margin-top: 20px" ng-show="isLoading"> -->
<!-- 			<div style="text-align: center"> -->
<!-- 				<img src="img/ajax-loader.gif" width="70" height="70" /><br> -->
<!-- 				<h2>{{ 'loading_text' | i18n }}...</h2> -->
<!-- 			</div> -->
<!-- 		</div> -->
<!-- 		<tabset id="prof-nav" justified="true" ng-show="!isLoading"> -->
<!-- 			<tab  ng-repeat="tab in profTabs" heading="{{ tab.title }}" active="tab.active" disabled="tab.disabled"  select="setProfIndex($index)"> -->
<!-- 				<br> -->
<!-- 				<div ng-include="tab.content"></div> -->
<!-- 			</tab> -->
<!-- 		</tabset> -->
		
	<div class="row">
		<div class="all-width">
	    <ul class="nav nav-tabs nav-justified">
	        <li ng-if="show_gpoint" class="nav active"><a data-target="#G" data-toggle="tab">{{ 'points_tab_title' | i18n }}</a></li>
	        <li ng-if="show_hpoint" class="nav"><a data-target="#H" data-toggle="tab">{{ 'health_tab_title' | i18n }}</a></li>
	        <li ng-if="show_prpoint" class="nav"><a data-target="#P" data-toggle="tab">{{ 'pr_tab_title' | i18n }}</a></li>
	        <li ng-if="show_otherpoint" class="nav"><a data-target="#O" data-toggle="tab">{{ 'other_tab_title' | i18n }}</a></li>
	        <li ng-if="show_specialpoint" class="nav"><a data-target="#S" data-toggle="tab">{{ 'special_tab_title' | i18n }}</a></li><!-- ng-click="activeProfTab(3)" -->
	    	<li class="nav"><a data-target="#CH" data-toggle="tab" ng-click="getChalleng(gameId)">{{ 'chall_tab_title' | i18n }}</a></li>
	    	<li class="nav"><a data-target="#CL" data-toggle="tab" ng-click="init_class();getClassificationPages(gameId, 1)">{{ 'class_tab_title' | i18n }}</a></li>
	    </ul>
	    </div>
		
	    <!-- Tab panes -->
	    <div class="tab-content">
	        <div class="tab-pane fade in active" id="G" ng-include="profTabs[0].content"></div>
	        <div class="tab-pane fade" id="H" ng-include="profTabs[1].content"></div>
	        <div class="tab-pane fade" id="P" ng-include="profTabs[2].content"></div>
	        <div class="tab-pane fade" id="O" ng-include="profTabs[4].content"></div>
	        <div class="tab-pane fade" id="S" ng-include="profTabs[3].content"></div>
	        <div class="tab-pane fade" id="CH" ng-include="profTabs[5].content"></div>
	        <div class="tab-pane fade" id="CL" ng-include="profTabs[6].content"></div>
	    </div>
	</div>	
</div>