/**
 * Copyright 2018-2019 SmartCommunity Lab(FBK-ICT).
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 *
 */

/*
 * Gamification Engine API
 * No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)
 *
 * OpenAPI spec version: v1.0
 * 
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */


package it.smartcommunitylab.basic.api;

import java.io.IOException;
import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

import com.google.gson.reflect.TypeToken;

import it.smartcommunitylab.ApiCallback;
import it.smartcommunitylab.ApiClient;
import it.smartcommunitylab.ApiException;
import it.smartcommunitylab.ApiResponse;
import it.smartcommunitylab.Configuration;
import it.smartcommunitylab.Pair;
import it.smartcommunitylab.ProgressRequestBody;
import it.smartcommunitylab.ProgressResponseBody;
import it.smartcommunitylab.model.ArchivedConcept;

public class ArchiveConceptControllerApi {
    private ApiClient apiClient;

    public ArchiveConceptControllerApi() {
        this(Configuration.getDefaultApiClient());
    }

    public ArchiveConceptControllerApi(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return apiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    /**
     * Build call for readArchivesForGameUsingGET
     * @param gameId gameId (required)
     * @param playerId playerId (optional)
     * @param state state (optional)
     * @param from from (optional)
     * @param to to (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call readArchivesForGameUsingGETCall(String gameId, String playerId, String state, Long from, Long to, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/data/game/{gameId}/archive"
            .replaceAll("\\{" + "gameId" + "\\}", apiClient.escapeString(gameId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (playerId != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("playerId", playerId));
        if (state != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("state", state));
        if (from != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("from", from));
        if (to != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("to", to));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "basic" };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call readArchivesForGameUsingGETValidateBeforeCall(String gameId, String playerId, String state, Long from, Long to, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'gameId' is set
        if (gameId == null) {
            throw new ApiException("Missing the required parameter 'gameId' when calling readArchivesForGameUsingGET(Async)");
        }
        

        com.squareup.okhttp.Call call = readArchivesForGameUsingGETCall(gameId, playerId, state, from, to, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Read archive concepts for a game with optional filter parameters
     * 
     * @param gameId gameId (required)
     * @param playerId playerId (optional)
     * @param state state (optional)
     * @param from from (optional)
     * @param to to (optional)
     * @return List&lt;ArchivedConcept&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public List<ArchivedConcept> readArchivesForGameUsingGET(String gameId, String playerId, String state, Long from, Long to) throws ApiException {
        ApiResponse<List<ArchivedConcept>> resp = readArchivesForGameUsingGETWithHttpInfo(gameId, playerId, state, from, to);
        return resp.getData();
    }

    /**
     * Read archive concepts for a game with optional filter parameters
     * 
     * @param gameId gameId (required)
     * @param playerId playerId (optional)
     * @param state state (optional)
     * @param from from (optional)
     * @param to to (optional)
     * @return ApiResponse&lt;List&lt;ArchivedConcept&gt;&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<List<ArchivedConcept>> readArchivesForGameUsingGETWithHttpInfo(String gameId, String playerId, String state, Long from, Long to) throws ApiException {
        com.squareup.okhttp.Call call = readArchivesForGameUsingGETValidateBeforeCall(gameId, playerId, state, from, to, null, null);
        Type localVarReturnType = new TypeToken<List<ArchivedConcept>>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Read archive concepts for a game with optional filter parameters (asynchronously)
     * 
     * @param gameId gameId (required)
     * @param playerId playerId (optional)
     * @param state state (optional)
     * @param from from (optional)
     * @param to to (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call readArchivesForGameUsingGETAsync(String gameId, String playerId, String state, Long from, Long to, final ApiCallback<List<ArchivedConcept>> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = readArchivesForGameUsingGETValidateBeforeCall(gameId, playerId, state, from, to, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<List<ArchivedConcept>>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
}
