<div class="well">
<!-- 	<div class="tab_menu" ng-model="tabs.index" bs-tabs> -->
<!-- 		<div ng-repeat="tab in tabs" data-title="{{tab}}"></div> -->
<!-- 	</div> -->
<!-- 	<div ng-show="tabs.active() == 'Practices'"> -->
		<div class="container"
			style="text-align: center; padding-top: 2%;">
			<div class="row">
				<br>
<!-- 				practice_ctrl.params.id -->
				<div class="span7" ng-controller="PracticeCtrl" ng-init="getPractice({{$scope.params.id}})">
				<form editable-form name="editableForm"
						onaftersave="editPractice(practice.id, practice.code, practice.name, practice.type, practice.openingDate, practice.state)">
					<table class="table">
						<tr>
							<td>
							<!-- <a ng-href="#/{{practice_ctrl.params.frompage}}" ng-click="{{practice_ctrl.params.frommenu}}" ></a> -->
<!-- 								<a class="btn btn-primary" ng-href="#/{{$routeParams.frompage}}" ng-click="{{$routeParams.frommenu}}" ><i class="icon-arrow-left"></i>  Indietro</a> -->
							</td>
							<td>
								<div class="buttons">
									<!-- button to show form ng-disabled="true" editableForm.$show() -->
									<a href="#/Practice/new/add" ng-show="!editableForm.$visible" class="btn btn-primary btn-lg" role="button">Modifica</a>
<!-- 									<button type="button" class="btn btn-default" -->
<!-- 										href="#/Practice/new/add" ng-click="openFrame()"  ng-show="!editableForm.$visible"> -->
<!-- 										Modifica</button> -->
									<!-- buttons to submit / cancel form -->
									<span ng-show="editableForm.$visible">
										<button type="submit" class="btn btn-primary"
											ng-disabled="editableForm.$waiting">Salva</button>
										<button type="button" class="btn btn-default"
											ng-disabled="editableForm.$waiting"
											ng-click="editableForm.$cancel()">Cancella</button>
									</span>
								</div>
							</td>
						</tr>
						<tr>
							<th>
								Dettagli Pratica
							</th>
							<th>
<!-- 								<a href="#/Practice/{{practice.id}}/edit"><i class="icon-pencil"></i></a> -->
							</th>
						</tr>
						<tr>
							<td>
								Id: 
							</td>
							<td>
								<strong>{{practice.id}}</strong>
							</td>
							<td>
								
							</td>
						</tr>
						<tr>
							<td>
								Cod: 
							</td>
							<td>
								<span
									editable-text="practice.code" e-name="code" e-required>
									<strong>{{ practice.code || 'empty' }}</strong>
								</span>
<!-- 								<strong>{{practice.code}}</strong> -->
							</td>
							<td>
								
							</td>
						</tr>
						<tr>
							<td>
								Titolo: 
							</td>
							<td>
								<span
									editable-text="practice.name" e-name="name" e-required>
									<strong>{{ practice.name || 'empty' }}</strong>
								</span>
							</td>
							<td>
								
							</td>
						</tr>
						<tr>
							<td>
								Tipo: 
							</td>
							<td>
								<strong>
								<div class="text" ng-show = "practice.type == 1" >{{ practiceType.edil }}</div>
								<div class="text" ng-show = "practice.type == 2">{{ practiceType.ass }}</div>
								</strong>
							</td>
							<td>
							</td>
						</tr>
						<tr>
							<td>
								Data Creazione: 
							</td>
							<td>
								<span
									editable-bsdate="practice.openingDate" e-datepicker-popup="dd-MMMM-yyyy"
								e-required>
								<strong>{{ (practice.openingDate | date:"dd/MM/yyyy")  || 'empty' }}</strong>
							</td>
							<td>
								
							</td>
						</tr>
						<tr>
							<td>
								Stato: 
							</td>
							<td>
								<div class="text" ng-show = "practice.state == 1 && !editableForm.$visible" ><i class="icon-ok"></i> (Approvata)</div>
								<div class="text" ng-show = "practice.state == 2 && !editableForm.$visible"><i class="icon-time"></i> (Da approvare)</div>
								<div class="text" ng-show = "practice.state == 3 && !editableForm.$visible"><i class="icon-ok"></i> (Consolidata)</div>
								<div class="text" ng-show = "practice.state == 4 && !editableForm.$visible"><i class="icon-time"></i> (Da Consolidare)</div>
								<div class="text" ng-show = "practice.state == 5 && !editableForm.$visible"><i class="icon-remove"></i> (Rimossa)</div>
								<span
									editable-select="practice.state" e-name="state"
									e-ng-options="s.value as s.text for s in states" ng-show = "editableForm.$visible">{{ PracticeCtrl.showStates(practice) }}
								</span>
							</td>
							<td>
								
							</td>
						</tr>	
					</table>
					</form>
				</div>
			</div>
		</div>
<!-- 	</div> -->
</div>