<html lang="en" ng-app="cp">
<link href="../../css/bootstrap.min.css" rel="stylesheet">
<link href="../../css/bootstrap-responsive.min.css" rel="stylesheet">
<link href="../../css/prettify.css" rel="stylesheet">
<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css"
	rel="stylesheet">
<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.css"
	rel="stylesheet">
<link href="../../css/xeditable.css" rel="stylesheet">

<!-- required libraries -->
<script src="../../lib/jquery.min.js"></script>
<script src="../../lib/angular.js"></script>
<script src="../../lib/angular-route.js"></script>
<script src="../../lib/angular-sanitize.js"></script>
<script src="../../lib/bootstrap.min.js"></script>
<script src="../../lib/angular-strap.js"></script>
<script src="../../lib/xeditable.js"></script>
<script src="../../lib/ui-bootstrap-tpls.min.js"></script>
<script src="../../js/services.js"></script>

<!-- optional libraries -->
<script src="../../lib/underscore-min.js"></script>
<script src="../../lib/moment.min.js"></script>
<script src="../../lib/fastclick.min.js"></script>
<script src="../../lib/prettify.js"></script>
<script src="../../lib/angular-resource.min.js"></script>
<script src="../../lib/angular-cookies.min.js"></script>
<script src="../../lib/angular-route.min.js"></script>
<script src="../../lib/xeditable.min.js"></script>

	<body>
		<div class="span10 well">
			<div class="container" style="padding-left: 3%;">
				<div class="row">
					<div ng-controller="MainCtrl" ng-init="prepareUserData()">
<!-- 						<form editable-form name="editableForm" onaftersave="savePractice()" ng-init="prepareUserData()" -->
<!-- 							shown="true"> -->
<!-- 							<table class="table"> -->
<!-- 								<tr> -->
<!-- 									<td> -->
<!-- 										editable code (text with validation) <span -->
<!-- 										class="title">Code: </span> -->
<!-- 									</td> -->
<!-- 									<td><span editable-text="practice.code" e-name="code" -->
<!-- 										e-required>{{ practice.code || 'empty' }} </span></td> -->
<!-- 								</tr> -->
<!-- 								<tr> -->
<!-- 									<td> -->
<!-- 										editable name (select-local) <span class="title">Name: -->
<!-- 									</span> -->
<!-- 									</td> -->
<!-- 									<td><span editable-text="practice.name" e-name="name" -->
<!-- 										e-required>{{ practice.name || 'empty' }} </span></td> -->
<!-- 								</tr> -->
<!-- 								<tr> -->
<!-- 									<td> -->
<!-- 										editable Creation Time (select-local) <span -->
<!-- 										class="title">Creation Time: </span> -->
<!-- 									</td> -->
<!-- 									<td><span editable-bsdate="practice.openingDate" -->
<!-- 										e-name="openingDate" e-datepicker-popup="dd-MMMM-yyyy" -->
<!-- 										e-required>{{ (practice.openingDate | date:'dd/MM/yyyy') -->
<!-- 											|| 'empty' }} </span></td> -->
<!-- 								</tr> -->
<!-- 								<tr> -->
<!-- 									<td> -->
<!-- 										editable state (select-local) <span class="title">States: -->
<!-- 									</span> -->
<!-- 									</td> -->
<!-- 									<td><span editable-select="practice.state" e-name="state" -->
<!-- 										e-ng-options="s.id as s.text for s in states"> {{ (states -->
<!-- 											| filter:{value: practice.state}).text || 'Not set' }} </span></td> -->
<!-- 								</tr> -->
		
<!-- 								<div class="buttons"> -->
<!-- 									button to show form -->
<!-- 									<button type="button" class="btn btn-default" -->
<!-- 										ng-click="editableForm.$show()" ng-show="!editableForm.$visible"> -->
<!-- 										Edit</button> -->
<!-- 									buttons to submit / cancel form -->
<!-- 									<span ng-show="editableForm.$visible"> -->
<!-- 										<button type="submit" class="btn btn-primary" -->
<!-- 											ng-disabled="editableForm.$waiting">Save</button> -->
<!-- 										<button type="button" class="btn btn-default" -->
<!-- 											ng-disabled="editableForm.$waiting" -->
<!-- 											ng-click="editableForm.$cancel()">Cancel</button> -->
<!-- 									</span> -->
<!-- 								</div> -->
<!-- 							</table> -->
<!-- 						</form> -->
						<form novalidate class="simple-form">
							Name: <input type="text" ng-model="userdata.name">{{ username }}</input><br />
						    Surname: <input type="text" ng-model="userdata.surname">{{ usersurname }}</input><br />
						    E-mail: <input type="email" ng-model="userdata.email" /><br />
						    CF: <input type="text" ng-model="userdata.cf" /><br />
						    Authorize personal data: <input type="radio" ng-model="user.authorize" value="authorize" />authorize
						    <input type="radio" ng-model="user.authorize" value="decline" />decline<br />
						    <button ng-click="reset()">RESET</button>
						    <button ng-click="save(userdata)">SAVE</button>
						</form>
<!-- 						<form novalidate class="simple-form"> -->
<!-- 							Code: <input type="text" ng-model="practice.code" /><br /> -->
<!-- 						    Name: <input type="text" ng-model="practice.name" /><br /> -->
<!-- 						    Opening Date: <input type="datetime-local" ng-model="practice.openingDate" /><br /> -->
<!-- 						    Note: <input type="text" ng-model="practice.note" /><br /> -->
<!-- 						    <button ng-click="reset()">RESET</button> -->
<!-- 						    <button ng-click="save(practice)">SAVE</button> -->
<!-- 						</form>						 -->
					</div>
				</div>
			</div>
		</div>
	</body>
</html>