<div class="span10 well">
	<div class="tab_menu" ng-model="tabs.index" bs-tabs>
		<div ng-repeat="tab in tabs" data-title="{{tab}}"></div>
	</div>
	<div ng-show="tabs.active() == 'Practices'">
		<div class="container" style="padding-left: 3%;">
			<div class="row">
				<div ng-controller="PracticeCtrl" ng-init="getPractice({{cont_practice.params.id}})">
				<form editable-form name="editableForm"
						onaftersave="savePractice()">  <!-- shown="true" onshow="getPractice($cont_practice.params.id)" -->
					<table class="table">
<!-- 					ng-init="getPractice({{cont_practice.params.id}})" -->
					
<!-- 						<div> -->
<!-- 							editable id (text with validation) -->
<!-- 							<span class="title">Id: </span> <span editable-text="practice.id" -->
<!-- 								e-name="id" onbeforesave="checkId($data)" e-required>{{ -->
<!-- 								practice.id || 'empty' }}</span> -->
<!-- 						</div> -->
						<tr>
							<td>
								<!-- editable code (text with validation) -->
								<span class="title">Code: </span> 
							</td>
							<td>
								<span
									editable-text="practice.code" e-name="code" e-required>{{
									practice.code || 'empty' }}
								</span>
							</td>
						</tr>
						<tr>
							<td>
								<!-- editable name (select-local) -->
								<span class="title">Name: </span>
							</td>
							<td>	
								<span
									editable-text="practice.name" e-name="name" e-required>{{
									practice.name || 'empty' }}
								</span>
							</td>
						</tr>
						<tr>
							<td>
								<!-- editable Creation Time (select-local) -->
								<span class="title">Creation Time: </span>
							</td>
							<td>	
								<span
									editable-bsdate="practice.openingDate" e-name="openingDate" e-datepicker-popup="dd-MMMM-yyyy"
								e-required>{{ (practice.openingDate | date:'dd/MM/yyyy') || 'empty' }}
								</span>
							</td>
						</tr>
						<tr>
							<td>
								<!-- editable state (select-local) -->
								<span class="title">States: </span>
							</td>
							<td>	
								<span
									editable-select="practice.state" e-name="state"
								e-ng-options="s.id as s.text for s in states">
								{{ (states | filter:{value: practice.state}).text || 'Not set' }}
								 </span>
							</td>
						</tr>
<!-- 						<div> -->
<!-- 							editable group (select-remote) -->
<!-- 							<span class="title">States: </span> <span -->
<!-- 								editable-select="practice.state" e-name="state" -->
<!-- 								onshow="loadStates()" -->
<!-- 								e-ng-options="s.id as s.text for s in states"> {{ -->
<!-- 								showStates() }} </span> -->
<!-- 						</div> -->

						<div class="buttons">
							<!-- button to show form -->
							<button type="button" class="btn btn-default"
								ng-click="editableForm.$show()" ng-show="!editableForm.$visible">
								Edit</button>
							<!-- buttons to submit / cancel form -->
							<span ng-show="editableForm.$visible">
								<button type="submit" class="btn btn-primary"
									ng-disabled="editableForm.$waiting">Save</button>
								<button type="button" class="btn btn-default"
									ng-disabled="editableForm.$waiting"
									ng-click="editableForm.$cancel()">Cancel</button>
							</span>
						</div>
					</table>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>