<div class="row">
  <div class="col-md-8">
    <ol class="breadcrumb">
      <li><a href="#/home">Home</a>
      </li>
      <li><a ng-href="#/game/{{game.id}}">{{game.name}}</a>
      </li>
      <li><a ng-href="#/game/{{game.id}}">Configure gamification plugin</a>
      </li>
      <li><a ng-href="#/game/{{game.id}}?tab=badges_collections">badges collections</a>
      </li>
      <li class="active">{{badges_collection.name}}</li>
    </ol>
  </div>
</div>
<div class="row">
  <div class="col-md-12 text-center">
    <alert ng-if="alerts.loadGameError" type="danger" close="closeAlert('loadGameError')">{{'msg_load_games_error' | i18next}}</alert>
  </div>
</div>
<div class="row">
  <div class="col-md-12 text-center">
    <alert ng-if="alerts.settingsEdited" type="success" close="closeAlert('settingsEdited')">{{'msg_badges_collection_settings_edited' | i18next}}</alert>
  </div>
</div>
<div class="row vertical-spacing">
  <div class="col-md-8">
    <h2>{{badges_collection.name}}</h2>
  </div>
  <div class="col-md-4 top-margined">
    <div class="pull-right">
      <button type="button" class="btn btn-danger btn-circle right-spaced" ng-click="deleteInstance()">
        <span class="glyphicon glyphicon-remove"></span>
      </button>
      <button type="button" class="btn btn-default btn-circle" ng-click="openEditInstanceModal()">
        <span class="glyphicon glyphicon-cog"></span>
      </button>
    </div>
  </div>
</div>
<div class="row vertical-spacing">
  <div class="col-md-4">
    <a href="#/game/{{game.id}}?tab=badges_collections"><span class="glyphicon glyphicon-chevron-left"></span> {{'btn_back' | i18next}}</a>
  </div>
</div>
<div class="row vertical-spacing">
  <div class="col-md-12">
    <tabset>
      <tab class="clickable" heading="{{'lbl_rules' | i18next}}">
        <h3>{{'lbl_basic_first_time_action_badges' | i18next}}</h3>
        <h5>Description lorem ipsum dolor sit amet.</h5>
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <h3>{{'lbl_parametric_first_time_action_badges' | i18next}}</h3>
        <h5>Description lorem ipsum dolor sit amet.</h5>
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <h3>{{'lbl_parametric_point_total_badges' | i18next}}</h3>
        <h5>Description lorem ipsum dolor sit amet.</h5>
      </tab>
      <tab class="clickable" heading="{{'lbl_badges' | i18next}}">
        <div class="text-center top-margined">
          <div class="col-md-2" ng-repeat="path in badges_collection.badges">
            <img ng-src="{{path}}" class="badge-item" height="100%" />
          </div>
        </div>
      </tab>
    </tabset>
  </div>
</div>
