<div class="row vertical-spacing">
  <div class="col-md-8">
    <ol class="breadcrumb">
      <li><a href="#/home">Home</a>
      </li>
      <li><a ng-href="#/game/{{game.id}}">{{game.name}}</a>
      </li>
      <li class="active">Configure gamification plugin</li>
    </ol>
  </div>
</div>
<div class="row vertical-spacing">
  <div class="tabs-vertical-left">
    <tabset>
      <tab heading="{{'tab_points' | i18next}}">
        <ul class="list-unstyled list-inline">
          <li class="col-md-4" ng-repeat="points in game.instances.points">
            <div class="panel panel-default panel-plugin">
              <div class="panel-body text-center bg-primary">
                <h4>{{points.name}}</h4>
                <h6>Points</h6>
                <h5>{{points.typology}}</h5>
              </div>
              <div class="panel-footer">
                <div class="pull-left">
                  <button type="button" class="btn btn-default btn-edit btn-circle" onClick="alert('Not implemented, yet!')">
                    <span class="glyphicon glyphicon-cog"></span>
                  </button>
                  <button type="button" class="btn btn-default btn-edit btn-circle" onClick="alert('Not implemented, yet!')">
                    <span class="glyphicon glyphicon-bullhorn"></span>
                  </button>
                </div>
                <div class="pull-right">
                  <toggle-switch model="points.is_active" />
                </div>
                <div class="clearfix" />
              </div>
            </div>
          </li>
        </ul>
      </tab>
      <tab heading="{{'tab_badges_collections' | i18next}}">
        <ul class="list-unstyled list-inline">
          <li class="col-md-4" ng-repeat="badges_collections in game.instances.badges_collections">
            <div class="panel panel-default panel-plugin">
              <div class="panel-body text-center bg-success">
                <h4>{{badges_collections.name}}</h4>
                <h6>Badges collection</h6>
                <div class="text-center">
                  <div ng-repeat="path in badges_collections.badges">
                    <img ng-src="{{path}}" class="badge-preview" height="100%" />
                  </div>
                </div>
              </div>
              <div class="panel-footer">
                <div class="pull-left">
                  <button type="button" class="btn btn-default btn-edit btn-circle" onClick="alert('Not implemented, yet!')">
                    <span class="glyphicon glyphicon-cog"></span>
                  </button>
                  <button type="button" class="btn btn-default btn-edit btn-circle" onClick="alert('Not implemented, yet!')">
                    <span class="glyphicon glyphicon-bullhorn"></span>
                  </button>
                  <button type="button" class="btn btn-default btn-edit btn-circle" onClick="alert('Not implemented, yet!')">
                    <span class="glyphicon glyphicon-star"></span>
                  </button>
                </div>
                <div class="pull-right">
                  <toggle-switch model="badges_collections.is_active" />
                </div>
                <div class="clearfix" />
              </div>
            </div>
          </li>
        </ul>
      </tab>
      <tab heading="{{'tab_leaderboards' | i18next}}">
        LEADERBOARDS
      </tab>
    </tabset>
  </div>
</div>
