<br />
<div class="row vertical-spacing">
  <div class="col-md-4 col-md-offset-8 text-center">
    <button type="button" class="btn btn-lg btn-success">Add new game <span class="glyphicon glyphicon-plus-sign"></span>
    </button>
  </div>
</div>
<!--

Text will be soon placed in the middle of the panel-body
A (+) ICON will be soon placed in the 'ADD GAME' button

Text in the panel-heading MUST be no longer than 1 line!!!
Text in the panel body MUST be no longer than 7 lines!!!

-->
<div class="row vertical-spacing">
  <ul class="list-unstyled list-inline">
    <li class="col-md-4">
      <div class="panel panel-info panel-games">
        <div class="panel-heading">
          <h3 class="truncated">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur fringilla justo sit amet aliquam congue. Ut malesuada ligula enim, ut ultricies tortor tempor bibendum. Donec id tempor eros. Aenean bibendum leo ut ipsum sollicitudin, et faucibus nulla sollicitudin</h3>
        </div>
        <div class="panel-body">
          <p class="truncated">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur fringilla justo sit amet aliquam congue. Ut malesuada ligula enim, ut ultricies tortor tempor bibendum. Donec id tempor eros. Aenean bibendum leo ut ipsum sollicitudin, et faucibus nulla sollicitudin. Pellentesque suscipit egestas varius. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur fringilla justo sit amet aliquam congue. Ut malesuada ligula enim, ut ultricies tortor tempor bibendum. Donec id tempor eros. Aenean bibendum leo ut ipsum sollicitudin, et faucibus nulla sollicitudin. Pellentesque suscipit egestas varius. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur fringilla justo sit amet aliquam congue. Ut malesuada ligula enim, ut ultricies tortor tempor bibendum. Donec id tempor eros. Aenean bibendum leo ut ipsum sollicitudin, et faucibus nulla sollicitudin. Pellentesque suscipit egestas varius.</p>
        </div>
      </div>
    </li>
    <li class="col-md-4">
      <div class="panel panel-info panel-games">
        <div class="panel-heading">
          <h3>Game 2</h3>
        </div>
        <div class="panel-body">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur fringilla justo sit amet aliquam congue. Ut malesuada ligula enim, ut ultricies tortor tempor bibendum.</p>
        </div>
      </div>
    </li>
    <li class="col-md-4">
      <div class="panel panel-info panel-games">
        <div class="panel-heading">
          <h3>Game 3</h3>
        </div>
        <div class="panel-body">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur fringilla justo sit amet aliquam congue. Ut malesuada ligula enim, ut ultricies tortor tempor bibendum. Donec id tempor eros. Aenean bibendum leo ut ipsum sollicitudin, et faucibus nulla sollicitudin. Pellentesque suscipit egestas varius.</p>
        </div>
      </div>
    </li>
    <li class="col-md-4">
      <div class="panel panel-info panel-games">
        <div class="panel-heading">
          <h3>Game 4</h3>
        </div>
        <div class="panel-body">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
      </div>
    </li>
    <li class="col-md-4">
      <div class="panel panel-info panel-games">
        <div class="panel-heading">
          <h3>Game 5</h3>
        </div>
        <div class="panel-body">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur fringilla justo sit amet aliquam congue. Ut malesuada ligula enim, ut ultricies tortor tempor bibendum. Donec id tempor eros. Aenean bibendum leo ut ipsum sollicitudin, et faucibus nulla sollicitudin. Pellentesque suscipit egestas varius.</p>
        </div>
      </div>
    </li>
  </ul>
</div>
