<div class="row vertical-spacing">
  <div class="col-md-2 col-md-offset-10">
    <button type="button" class="btn btn-lg btn-default">Add new game</button>
  </div>
</div>
<div class="row vertical-spacing">
  <div class="col-md-4">
    <button type="button" class="btn btn-lg btn-default">Game 1</button>
  </div>
  <div class="col-md-4">
    <button type="button" class="btn btn-lg btn-default">Game 2</button>
  </div>
  <div class="col-md-4">
    <button type="button" class="btn btn-lg btn-default">Game 3</button>
  </div>
</div>
