<br />
<div class="row vertical-spacing">
  <div class="col-md-4 col-md-offset-8 text-center">
    <button type="button" class="btn btn-lg btn-success" ng-click="openGameModal()">
      {{'btn_add_game' | i18n}} <span class="glyphicon glyphicon-plus-sign"></span>
    </button>
  </div>
</div>
<!--

Text will be soon placed in the middle of the panel-body

Text in the panel-heading MUST be no longer than 1 line!!!
Text in the panel body MUST be no longer than 7 lines!!!

-->
<div class="row vertical-spacing">
  <ul class="list-unstyled list-inline">
    <li class="col-md-4" ng-repeat="game in games">
      <div class="panel panel-info panel-games">
        <div class="panel-heading">
          <h3 class="ellipsis">{{game.name}}</h3>
        </div>
        <div class="panel-body">
          <p>
            Points: {{'game_info' | i18n:countActive(game, 'points'):''+getLength(game, 'points')}}.
            <br />Badges collections: {{'game_info' | i18n:countActive(game, 'badges_collections'):''+game.instances.['badges_collections'].length}}.
            <br />Leaderboards: {{'game_info' | i18n:countActive(game, 'leaderboards'):''+game.instances.['leaderboards'].length}}.
          </p>
        </div>
        <div class="panel-footer ">
        </div>
      </div>
    </li>
  </ul>
</div>
