<div class="modal-header">
  <h3 class="modal-title">{{'lbl_edit_game' | i18next}}</h3>
</div>
<form data-role="form">
  <div class="modal-body">
    <div class="row">
      <div class="col-md-12 text-center">
        <alert ng-if="!!alerts.editGameError" type="danger" close="closeAlert('editGameError')">{{alerts.editGameError | i18next}}</alert>
      </div>
    </div>
    <div class="form-group">
      <label for="action">{{'lbl_new_name' | i18next}}</label>
      <input type="text" class="form-control" id="action" data-ng-model="input.actionName" placeholder="{{'lbl_enter_new_name' | i18next}}" required />
    </div>
  </div>
  <div class="modal-footer clearfix">
    <button type="reset" class="btn btn-default" data-ng-click="cancel()">{{'btn_cancel' | i18next}}</button>
    <button type="submit" class="btn btn-primary" data-ng-click="ok()">{{'btn_ok' | i18next}}</button>
  </div>
</form>
