<div class="modal-header text-center">
  <h4 class="modal-title">{{'lbl_delete_confirm' | i18next}}</h4>
</div>
<div class="modal-body text-center">
      <div class="col-md-12 text-center">
        <alert  ng-if="!!alerts.deleteError" type="danger" close="closeAlert('deleteError')">{{alerts.deleteError | i18next}}</alert>
      </div>
 	 <p>Are you sure you want to delete '{{argument}}'?</p>
 	 <p data-ng-show="isGame"><strong>Attention: Be sure that game is not actually active</strong></p>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" data-ng-click="cancel()">{{'btn_cancel' | i18next}}</button>
  <button type="button" class="btn btn-danger" data-ng-click="delete()">{{'btn_delete' | i18next}}</button>
</div>
