body {
  margin:0px;
  background-image:none;
  touch-action:none;
  position:static;
  left:auto;
  width:1024px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:768px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:768px;
}
#u1 {
  position:absolute;
  left:2px;
  top:376px;
  width:1020px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:303px;
  top:290px;
  width:268px;
  height:234px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  height:235px;
}
#u3 {
  position:absolute;
  left:2px;
  top:109px;
  width:264px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:338px;
  top:351px;
  width:200px;
  height:25px;
}
#u4_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#666666;
  text-align:left;
}
#u5 {
  position:absolute;
  left:338px;
  top:320px;
  width:350px;
  height:21px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:17px;
  color:#FFFFFF;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:22px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:338px;
  top:417px;
  width:200px;
  height:25px;
}
#u7_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#666666;
  text-align:left;
}
#u8 {
  position:absolute;
  left:338px;
  top:386px;
  width:350px;
  height:21px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:17px;
  color:#FFFFFF;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:22px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:380px;
  top:464px;
  width:117px;
  height:40px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:41px;
}
#u11 {
  position:absolute;
  left:2px;
  top:8px;
  width:113px;
  word-wrap:break-word;
}
