<div class="row">
  <div class="col-md-8">
    <ol class="breadcrumb">
      <li><a href="#/home">Home</a>
      </li>
      <li><a ng-href="#/game/{{game.id}}">{{game.name}}</a>
      </li>
      <li><a ng-href="#/game/{{game.id}}">Configure gamification plugin</a>
      </li>
      <li><a ng-href="#/game/{{game.id}}?tab=leaderboards">leaderboards</a>
      </li>
      <li class="active">{{leaderboard.name}}</li>
    </ol>
  </div>
</div>
<div class="row">
  <div class="col-md-12 text-center">
    <alert ng-if="alerts.loadGameError" type="danger" close="closeAlert('loadGameError')">{{'msg_load_games_error' | i18next}}</alert>
  </div>
</div>
<div class="row">
  <div class="col-md-12 text-center">
    <alert ng-if="alerts.settingsEdited" type="success" close="closeAlert('settingsEdited')">{{'msg_leaderboard_settings_edited' | i18next}}</alert>
  </div>
</div>
<div class="row vertical-spacing">
  <div class="col-md-8">
    <h2>{{leaderboard.name}}</h2>
    <h4>Points dependency: {{leaderboard.points_dependency}}</h4>
    <h4>Update rate: {{leaderboard.update_rate}}</h4>
  </div>
  <div class="col-md-4 top-margined">
    <div class="pull-right">
      <button type="button" class="btn btn-danger btn-circle right-spaced" ng-click="deleteInstance()">
        <span class="glyphicon glyphicon-remove"></span>
      </button>
      <button type="button" class="btn btn-default btn-circle" ng-click="openEditInstanceModal()">
        <span class="glyphicon glyphicon-cog"></span>
      </button>
    </div>
  </div>
</div>
<div class="row vertical-spacing">
  <div class="col-md-4">
    <a href="#/game/{{game.id}}?tab=leaderboards"><span class="glyphicon glyphicon-chevron-left"></span> {{'btn_back' | i18next}}</a>
  </div>
</div>
<div class="row vertical-spacing">
  <div class="col-md-12">
    <tabset>
      <tab class="clickable" heading="{{'lbl_rules' | i18next}}">
        <h3>Type 1 (TODO)</h3>
        <table class="table table-striped table-bordered">
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Description</th>
            <th>Activation</th>
            <th>Delete</th>
            <th>Edit</th>
          </tr>
          <tr>
            <td>1</td>
            <td>Rule 1</td>
            <td>Desc 1</td>
            <td class="text-center">
              <input type="checkbox" />
            </td>
            <td class="text-center">
              <button type="button" class="btn btn-default btn-circle" ng-click="deleteRule()">
                <span class="glyphicon glyphicon-remove"></span>
              </button>
            </td>
            <td class="text-center">
              <button type="button" class="btn btn-default btn-circle" ng-click="openEditRuleModal()">
                <span class="glyphicon glyphicon-cog"></span>
              </button>
            </td>
          </tr>
        </table>
        <button type="button" class="btn btn-success btn-circle pull-right" ng-click="openAddRuleModal()">
          <span class="glyphicon glyphicon-plus"></span>
        </button>
        <br />
        <h3>Type 2 (TODO)</h3>
        <table class="table table-striped table-bordered">
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Description</th>
            <th>Activation</th>
            <th>Delete</th>
            <th>Edit</th>
          </tr>
          <tr>
            <td>1</td>
            <td>Rule 1</td>
            <td>Desc 1</td>
            <td class="text-center">
              <input type="checkbox" />
            </td>
            <td class="text-center">
              <button type="button" class="btn btn-default btn-circle" ng-click="deleteRule()">
                <span class="glyphicon glyphicon-remove"></span>
              </button>
            </td>
            <td class="text-center">
              <button type="button" class="btn btn-default btn-circle" ng-click="openEditRuleModal()">
                <span class="glyphicon glyphicon-cog"></span>
              </button>
            </td>
          </tr>
        </table>
        <button type="button" class="btn btn-success btn-circle pull-right" ng-click="openAddRuleModal()">
          <span class="glyphicon glyphicon-plus"></span>
        </button>
        <br />
      </tab>
    </tabset>
  </div>
</div>
