body {
  margin:0px;
  background-image:none;
  touch-action:none;
  position:static;
  left:auto;
  width:1024px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:768px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:768px;
}
#u1 {
  position:absolute;
  left:2px;
  top:376px;
  width:1020px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:390px;
  top:291px;
  width:170px;
  height:78px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:79px;
}
#u3 {
  position:absolute;
  left:2px;
  top:16px;
  width:166px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:390px;
  top:390px;
  width:170px;
  height:80px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:81px;
}
#u5 {
  position:absolute;
  left:2px;
  top:5px;
  width:166px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:200px;
  top:235px;
  width:543px;
  height:33px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#666666;
  text-align:center;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:544px;
  height:34px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:543px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:559px;
  top:15px;
  width:395px;
  height:265px;
  overflow:hidden;
}
#u9_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:395px;
  height:265px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u9_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u10 {
  position:absolute;
  left:10px;
  top:10px;
  width:379px;
  height:131px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:132px;
}
#u11 {
  position:absolute;
  left:2px;
  top:58px;
  width:375px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:33px;
  top:47px;
  width:358px;
  height:215px;
  overflow:hidden;
}
#u12_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:215px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u12_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u12_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:215px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u12_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  height:37px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#666666;
  text-align:left;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:38px;
}
#u13_img.mouseOver {
}
#u13.mouseOver {
}
#u14 {
  position:absolute;
  left:2px;
  top:2px;
  width:305px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:0px;
  top:37px;
  width:309px;
  height:37px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#666666;
  text-align:left;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:38px;
}
#u15_img.mouseOver {
}
#u15.mouseOver {
}
#u16 {
  position:absolute;
  left:2px;
  top:2px;
  width:305px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:10px;
  top:10px;
  width:309px;
  height:37px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:38px;
}
#u18 {
  position:absolute;
  left:2px;
  top:2px;
  width:305px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:291px;
  top:97px;
  width:344px;
  height:90px;
  overflow:hidden;
}
#u20_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:344px;
  height:90px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u20_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u21 {
  position:absolute;
  left:0px;
  top:10px;
  width:343px;
  height:66px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:344px;
  height:67px;
}
#u22 {
  position:absolute;
  left:2px;
  top:25px;
  width:339px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:38px;
  top:43px;
  width:350px;
  height:26px;
  color:#666666;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:27px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:38px;
  top:14px;
  width:350px;
  height:26px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:22px;
  color:#666666;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:27px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  word-wrap:break-word;
}
#u20_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:344px;
  height:90px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u20_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:85px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  height:86px;
}
#u28 {
  position:absolute;
  left:2px;
  top:34px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:38px;
  top:32px;
  width:352px;
  height:26px;
  color:#666666;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:27px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:38px;
  top:4px;
  width:352px;
  height:26px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:22px;
  color:#666666;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:27px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:38px;
  top:58px;
  width:352px;
  height:26px;
  color:#666666;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:27px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  word-wrap:break-word;
}
#u20_state2 {
  position:absolute;
  left:0px;
  top:0px;
  width:344px;
  height:90px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u20_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:85px;
  font-size:18px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  height:86px;
}
#u36 {
  position:absolute;
  left:2px;
  top:34px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:13px;
  top:25px;
  width:352px;
  height:22px;
  color:#666666;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:23px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:13px;
  top:4px;
  width:352px;
  height:22px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#666666;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:23px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:13px;
  top:45px;
  width:352px;
  height:22px;
  font-size:18px;
  color:#666666;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:23px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:13px;
  top:64px;
  width:352px;
  height:22px;
  font-size:18px;
  color:#666666;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:23px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  word-wrap:break-word;
}
