<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <div class="pull-center text-center">
      <form action="#/home" role="form">
        <div class="form-group">
          <label for="userName">Username</label>
          <input type="text" class="form-control" id="userName" placeholder="Enter username" />
        </div>
        <div class="form-group">
          <label for="pwd">Password</label>
          <input type="password" class="form-control" id="pwd" placeholder="Password" />
        </div>
        <button type="submit" class="btn btn-lg btn-primary">{{'btn_login' | i18next}}</button>
      </form>
    </div>
  </div>
</div>
