body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../Game_Configuration_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:0px;
    top:0px;
    width:1024px;
    height:768px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:1024px;
    height:768px;
}

.u1 {
    position:absolute;
    left:2px;
    top:376px;
    width:1020px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../Game_Configuration_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:283px;
    top:212px;
    width:423px;
    height:99px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:429px;
    height:105px;
}

.u3 {
    position:absolute;
    left:2px;
    top:42px;
    width:419px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u4 {
    position:absolute;
    left:111px;
    top:398px;
    width:772px;
    height:117px
}

.u5_normal {
    background-image: url('../Game_Configuration_files/u5_normal.png');
}

.u5_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:20px;
}

#u5_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u6 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7_normal {
    background-image: url('../Game_Configuration_files/u5_normal.png');
}

.u7_container {
    position:absolute;
    left:100px;
    top:0px;
    width:100px;
    height:20px;
}

#u7_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u8 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9_normal {
    background-image: url('../Game_Configuration_files/u5_normal.png');
}

.u9_container {
    position:absolute;
    left:200px;
    top:0px;
    width:100px;
    height:20px;
}

#u9_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u10 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11_normal {
    background-image: url('../Game_Configuration_files/u11_normal.png');
}

.u11_container {
    position:absolute;
    left:300px;
    top:0px;
    width:393px;
    height:20px;
}

#u11_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:399px;
    height:26px;
}

.u12 {
    position:absolute;
    left:2px;
    top:2px;
    width:389px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13_normal {
    background-image: url('../Game_Configuration_files/u13_normal.png');
}

.u13_container {
    position:absolute;
    left:693px;
    top:0px;
    width:74px;
    height:20px;
}

#u13_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:80px;
    height:26px;
}

.u14 {
    position:absolute;
    left:2px;
    top:2px;
    width:70px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15_normal {
    background-image: url('../Game_Configuration_files/u15_normal.png');
}

.u15_container {
    position:absolute;
    left:0px;
    top:20px;
    width:100px;
    height:31px;
}

#u15_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:37px;
}

.u16 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17_normal {
    background-image: url('../Game_Configuration_files/u15_normal.png');
}

.u17_container {
    position:absolute;
    left:100px;
    top:20px;
    width:100px;
    height:31px;
}

#u17_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:37px;
}

.u18 {
    position:absolute;
    left:2px;
    top:8px;
    width:96px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19_normal {
    background-image: url('../Game_Configuration_files/u15_normal.png');
}

.u19_container {
    position:absolute;
    left:200px;
    top:20px;
    width:100px;
    height:31px;
}

#u19_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:37px;
}

.u20 {
    position:absolute;
    left:2px;
    top:8px;
    width:96px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21_normal {
    background-image: url('../Game_Configuration_files/u21_normal.png');
}

.u21_container {
    position:absolute;
    left:300px;
    top:20px;
    width:393px;
    height:31px;
}

#u21_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:399px;
    height:37px;
}

.u22 {
    position:absolute;
    left:2px;
    top:8px;
    width:389px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23_normal {
    background-image: url('../Game_Configuration_files/u23_normal.png');
}

.u23_container {
    position:absolute;
    left:693px;
    top:20px;
    width:74px;
    height:31px;
}

#u23_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:80px;
    height:37px;
}

.u24 {
    position:absolute;
    left:2px;
    top:8px;
    width:70px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25_normal {
    background-image: url('../Game_Configuration_files/u25_normal.png');
}

.u25_container {
    position:absolute;
    left:0px;
    top:51px;
    width:100px;
    height:30px;
}

#u25_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:36px;
}

.u26 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27_normal {
    background-image: url('../Game_Configuration_files/u25_normal.png');
}

.u27_container {
    position:absolute;
    left:100px;
    top:51px;
    width:100px;
    height:30px;
}

#u27_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:36px;
}

.u28 {
    position:absolute;
    left:2px;
    top:8px;
    width:96px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29_normal {
    background-image: url('../Game_Configuration_files/u25_normal.png');
}

.u29_container {
    position:absolute;
    left:200px;
    top:51px;
    width:100px;
    height:30px;
}

#u29_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:36px;
}

.u30 {
    position:absolute;
    left:2px;
    top:8px;
    width:96px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31_normal {
    background-image: url('../Game_Configuration_files/u31_normal.png');
}

.u31_container {
    position:absolute;
    left:300px;
    top:51px;
    width:393px;
    height:30px;
}

#u31_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:399px;
    height:36px;
}

.u32 {
    position:absolute;
    left:2px;
    top:8px;
    width:389px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33_normal {
    background-image: url('../Game_Configuration_files/u33_normal.png');
}

.u33_container {
    position:absolute;
    left:693px;
    top:51px;
    width:74px;
    height:30px;
}

#u33_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:80px;
    height:36px;
}

.u34 {
    position:absolute;
    left:2px;
    top:7px;
    width:70px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35_normal {
    background-image: url('../Game_Configuration_files/u15_normal.png');
}

.u35_container {
    position:absolute;
    left:0px;
    top:81px;
    width:100px;
    height:31px;
}

#u35_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:37px;
}

.u36 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37_normal {
    background-image: url('../Game_Configuration_files/u15_normal.png');
}

.u37_container {
    position:absolute;
    left:100px;
    top:81px;
    width:100px;
    height:31px;
}

#u37_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:37px;
}

.u38 {
    position:absolute;
    left:2px;
    top:8px;
    width:96px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39_normal {
    background-image: url('../Game_Configuration_files/u15_normal.png');
}

.u39_container {
    position:absolute;
    left:200px;
    top:81px;
    width:100px;
    height:31px;
}

#u39_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:37px;
}

.u40 {
    position:absolute;
    left:2px;
    top:8px;
    width:96px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41_normal {
    background-image: url('../Game_Configuration_files/u21_normal.png');
}

.u41_container {
    position:absolute;
    left:300px;
    top:81px;
    width:393px;
    height:31px;
}

#u41_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:399px;
    height:37px;
}

.u42 {
    position:absolute;
    left:2px;
    top:8px;
    width:389px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43_normal {
    background-image: url('../Game_Configuration_files/u23_normal.png');
}

.u43_container {
    position:absolute;
    left:693px;
    top:81px;
    width:74px;
    height:31px;
}

#u43_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:80px;
    height:37px;
}

.u44 {
    position:absolute;
    left:2px;
    top:8px;
    width:70px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u45 {
    position:absolute;
    left:113px;
    top:424px;
    width:101px;
    height:20px;
    overflow:hidden;
}

#pd1u45 {
    position:absolute;
    left:0px;
    top:0px;
    width:101px;
    height:20px;
    
}

.u46_normal {
    background-image: url('../Switcher_files/u46_normal.png');
}

.u46_container {
    position:absolute;
    left:5px;
    top:3px;
    width:85px;
    height:15px;
}

#u46_img {
    position:absolute;
    left:0px;
    top:0px;
    width:85px;
    height:15px;
}

.u47 {
    position:absolute;
    left:2px;
    top:0px;
    width:81px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd0u45 {
    position:absolute;
    left:0px;
    top:0px;
    width:101px;
    height:20px;
    
}

.u48_normal {
    background-image: url('../Switcher_files/u48_normal.png');
}

.u48_container {
    position:absolute;
    left:5px;
    top:3px;
    width:85px;
    height:15px;
}

#u48_img {
    position:absolute;
    left:0px;
    top:0px;
    width:85px;
    height:15px;
}

.u49 {
    position:absolute;
    left:2px;
    top:0px;
    width:81px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u51_normal {
    background-image: url('../Game_Configuration_files/u51_normal.png');
}

.u51_container {
    position:absolute;
    left:831px;
    top:424px;
    width:20px;
    height:20px;
}

#u51_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u52 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u53_normal {
    background-image: url('../Game_Configuration_files/u51_normal.png');
}

.u53_container {
    position:absolute;
    left:831px;
    top:452px;
    width:20px;
    height:20px;
}

#u53_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u54 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u55_normal {
    background-image: url('../Game_Configuration_files/u51_normal.png');
}

.u55_container {
    position:absolute;
    left:831px;
    top:484px;
    width:20px;
    height:20px;
}

#u55_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u56 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u57_normal {
    background-image: url('../Game_Configuration_files/u57_normal.png');
}

.u57_container {
    position:absolute;
    left:426px;
    top:536px;
    width:117px;
    height:44px;
}

#u57_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:123px;
    height:50px;
}

.u58 {
    position:absolute;
    left:2px;
    top:3px;
    width:113px;
    height:38px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u59 {
    position:absolute;
    left:559px;
    top:536px;
    width:51px;
    height:46px;
    overflow:hidden;
}

#pd1u59 {
    position:absolute;
    left:0px;
    top:0px;
    width:51px;
    height:46px;
    
}

.u60_normal {
    background-image: url('../Game_Configuration_files/u60_normal.png');
}

.u60_container {
    position:absolute;
    left:0px;
    top:0px;
    width:40px;
    height:40px;
}

#u60_img {
    position:absolute;
    left:0px;
    top:0px;
    width:40px;
    height:40px;
}

.u61 {
    position:absolute;
    left:2px;
    top:12px;
    width:36px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd0u59 {
    position:absolute;
    left:0px;
    top:0px;
    width:51px;
    height:46px;
    
}

.u62 {
    position:absolute;
    left:339px;
    top:264px;
    width:350px;
    height:33px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u63 {
    position:absolute;
    left:339px;
    top:222px;
    width:350px;
    height:33px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u64 {
    position:absolute;
    left:113px;
    top:355px;
    width:350px;
    height:33px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u65 {
    position:absolute;
    left:559px;
    top:15px;
    width:395px;
    height:265px;
    overflow:hidden;
}

#pd0u65 {
    position:absolute;
    left:0px;
    top:0px;
    width:395px;
    height:265px;
    
}

.u66_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u66_container {
    position:absolute;
    left:10px;
    top:10px;
    width:379px;
    height:131px;
}

#u66_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:385px;
    height:137px;
}

.u67 {
    position:absolute;
    left:2px;
    top:58px;
    width:375px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u68 {
    position:absolute;
    left:33px;
    top:47px;
    width:358px;
    height:215px;
    overflow:hidden;
}

#pd1u68 {
    position:absolute;
    left:0px;
    top:0px;
    width:358px;
    height:215px;
    
}

.u69_mouseOver {
    background-image: url('../resources/images/transparent.gif');
}

.u69_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u69_container {
    position:absolute;
    left:0px;
    top:0px;
    width:309px;
    height:37px;
}

#u69_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:315px;
    height:43px;
}

.u70 {
    position:absolute;
    left:2px;
    top:2px;
    width:305px;
    height:33px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u71_mouseOver {
    background-image: url('../Header_files/u71_mouseOver.png');
}

.u71_normal {
    background-image: url('../Header_files/u71_mouseOver.png');
}

.u71_container {
    position:absolute;
    left:0px;
    top:37px;
    width:309px;
    height:37px;
}

#u71_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:315px;
    height:43px;
}

.u72 {
    position:absolute;
    left:2px;
    top:2px;
    width:305px;
    height:33px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd0u68 {
    position:absolute;
    left:0px;
    top:0px;
    width:358px;
    height:215px;
    
}

.u73_normal {
    background-image: url('../Header_files/u73_normal.png');
}

.u73_container {
    position:absolute;
    left:10px;
    top:10px;
    width:309px;
    height:37px;
}

#u73_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:315px;
    height:43px;
}

.u74 {
    position:absolute;
    left:2px;
    top:2px;
    width:305px;
    height:33px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u76 {
    position:absolute;
    left:113px;
    top:454px;
    width:101px;
    height:20px;
    overflow:hidden;
}

#pd1u76 {
    position:absolute;
    left:0px;
    top:0px;
    width:101px;
    height:20px;
    
}

.u77_normal {
    background-image: url('../Switcher_files/u46_normal.png');
}

.u77_container {
    position:absolute;
    left:5px;
    top:3px;
    width:85px;
    height:15px;
}

#u77_img {
    position:absolute;
    left:0px;
    top:0px;
    width:85px;
    height:15px;
}

.u78 {
    position:absolute;
    left:2px;
    top:0px;
    width:81px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd0u76 {
    position:absolute;
    left:0px;
    top:0px;
    width:101px;
    height:20px;
    
}

.u79_normal {
    background-image: url('../Switcher_files/u48_normal.png');
}

.u79_container {
    position:absolute;
    left:5px;
    top:3px;
    width:85px;
    height:15px;
}

#u79_img {
    position:absolute;
    left:0px;
    top:0px;
    width:85px;
    height:15px;
}

.u80 {
    position:absolute;
    left:2px;
    top:0px;
    width:81px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u82 {
    position:absolute;
    left:113px;
    top:484px;
    width:101px;
    height:20px;
    overflow:hidden;
}

#pd1u82 {
    position:absolute;
    left:0px;
    top:0px;
    width:101px;
    height:20px;
    
}

.u83_normal {
    background-image: url('../Switcher_files/u46_normal.png');
}

.u83_container {
    position:absolute;
    left:5px;
    top:3px;
    width:85px;
    height:15px;
}

#u83_img {
    position:absolute;
    left:0px;
    top:0px;
    width:85px;
    height:15px;
}

.u84 {
    position:absolute;
    left:2px;
    top:0px;
    width:81px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd0u82 {
    position:absolute;
    left:0px;
    top:0px;
    width:101px;
    height:20px;
    
}

.u85_normal {
    background-image: url('../Switcher_files/u48_normal.png');
}

.u85_container {
    position:absolute;
    left:5px;
    top:3px;
    width:85px;
    height:15px;
}

#u85_img {
    position:absolute;
    left:0px;
    top:0px;
    width:85px;
    height:15px;
}

.u86 {
    position:absolute;
    left:2px;
    top:0px;
    width:81px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

