body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0 {
    position:absolute;
    left:234px;
    top:14px;
    width:350px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u1_normal {
    background-image: url('../Points_details_files/u1_normal.png');
}

.u1_container {
    position:absolute;
    left:12px;
    top:45px;
    width:545px;
    height:234px;
}

#u1_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:551px;
    height:240px;
}

.u2 {
    position:absolute;
    left:2px;
    top:10px;
    width:541px;
    height:213px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u3 {
    position:absolute;
    left:146px;
    top:330px;
    width:305px;
    height:86px
}

.u4_normal {
    background-image: url('../Points_details_files/u4_normal.png');
}

.u4_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:20px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u5 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6_normal {
    background-image: url('../Points_details_files/u4_normal.png');
}

.u6_container {
    position:absolute;
    left:100px;
    top:0px;
    width:100px;
    height:20px;
}

#u6_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u7 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8_normal {
    background-image: url('../Points_details_files/u4_normal.png');
}

.u8_container {
    position:absolute;
    left:200px;
    top:0px;
    width:100px;
    height:20px;
}

#u8_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u9 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10_normal {
    background-image: url('../Points_details_files/u10_normal.png');
}

.u10_container {
    position:absolute;
    left:0px;
    top:20px;
    width:100px;
    height:30px;
}

#u10_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:36px;
}

.u11 {
    position:absolute;
    left:2px;
    top:8px;
    width:96px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12_normal {
    background-image: url('../Points_details_files/u10_normal.png');
}

.u12_container {
    position:absolute;
    left:100px;
    top:20px;
    width:100px;
    height:30px;
}

#u12_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:36px;
}

.u13 {
    position:absolute;
    left:2px;
    top:8px;
    width:96px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14_normal {
    background-image: url('../Points_details_files/u10_normal.png');
}

.u14_container {
    position:absolute;
    left:200px;
    top:20px;
    width:100px;
    height:30px;
}

#u14_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:36px;
}

.u15 {
    position:absolute;
    left:2px;
    top:7px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16_normal {
    background-image: url('../Points_details_files/u16_normal.png');
}

.u16_container {
    position:absolute;
    left:0px;
    top:50px;
    width:100px;
    height:31px;
}

#u16_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:37px;
}

.u17 {
    position:absolute;
    left:2px;
    top:8px;
    width:96px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18_normal {
    background-image: url('../Points_details_files/u16_normal.png');
}

.u18_container {
    position:absolute;
    left:100px;
    top:50px;
    width:100px;
    height:31px;
}

#u18_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:37px;
}

.u19 {
    position:absolute;
    left:2px;
    top:8px;
    width:96px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20_normal {
    background-image: url('../Points_details_files/u16_normal.png');
}

.u20_container {
    position:absolute;
    left:200px;
    top:50px;
    width:100px;
    height:31px;
}

#u20_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:37px;
}

.u21 {
    position:absolute;
    left:2px;
    top:8px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22 {
    position:absolute;
    left:183px;
    top:299px;
    width:350px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23_normal {
    background-image: url('../Points_details_files/u23_normal.png');
}

.u23_container {
    position:absolute;
    left:360px;
    top:355px;
    width:80px;
    height:19px;
}

#u23_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:86px;
    height:25px;
}

.u24 {
    position:absolute;
    left:2px;
    top:3px;
    width:76px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25_normal {
    background-image: url('../Points_details_files/u23_normal.png');
}

.u25_container {
    position:absolute;
    left:360px;
    top:384px;
    width:80px;
    height:19px;
}

#u25_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:86px;
    height:25px;
}

.u26 {
    position:absolute;
    left:2px;
    top:3px;
    width:76px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27_normal {
    background-image: url('../Points_details_files/u27_normal.png');
}

.u27_container {
    position:absolute;
    left:410px;
    top:299px;
    width:20px;
    height:20px;
}

#u27_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u28 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

