* html .u0_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Home_files/u0_normal.png");
}

* html .u2_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Home_files/u2_normal.png");
}

* html .u8_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Home_files/u8_normal.png");
}

