<div data-ng-controller="MonitorCtrl">
	<div class="monitor-row" data-ng-repeat="player in playerStates">
			<div class="monitor-box">{{player.playerId}} llfgkfglfgkflgkflgklfhjklfghjlfjhflgjflghjglhjlfg</div>
			<div data-ng-repeat="elem in player.state['PointConcept']" class="monitor-box point-box">
			    {{elem.name}} 
				<div style="font-size: 2.5em; display:block;">{{elem.score}}</div>
			</div>
		<button type="button" class="pull-right game-btn btn btn-defalt btn-circle right-spaced" data-ng-click="openDetails($index)" data-toggle="collapse" data-target="#player-details" data-tooltip="{{'tool_details' | i18next}}">
        		<span class="glyphicon" data-ng-class="{'glyphicon-chevron-down': expandIdx != $index, 'glyphicon-chevron-up': expandIdx == $index}" ></span>
      		</button>
		<div id="player-details-{{$index}}" class="monitor-row collapse" data-ng-class="{'in': expandIdx == $index}">
			<table class="badge-box">
				<tr data-ng-repeat="elem in player.state['BadgeCollectionConcept']">
					<td style="width:20%;">{{elem.name}} <span style="color:#4A3B3B; font-size: 10px;">(6)</span> </td>
					<td style="width:80%;"><span class="badge-elem" data-ng-repeat="badge in elem.badgeEarned  track by $index">{{badge}}</span></td>
				</tr>
			
			</table>
		</div>
	</div>
</div>
