<div data-ng-controller="MonitorCtrl">
<div class="row">
	<h3>Game : {{game.name}}</h3>
	<h4>{{'lbl_monitor_menu' | i18next}}</h4>
</div>
	<div class="row">
	  <div class="col-md-12 text-center">
	    <alert ng-if="err" type="danger" close="closeAlert()">{{'err' | i18next}}</alert>
	  </div>
	</div>
	
	<div class="row">
		<div class="col-md-12">
				<div  class="form-group">
					<label for="player">{{'lbl_filter' | i18next}}</label>
					<input id="player" type="text" data-ng-model="playerIdFilter" class="form-control"/>
				</div>
				 <input type="submit" class="btn btn-default" data-ng-click="filter()" value="{{'btn_filter' | i18next}}"/>
		</div>
	</div>
	
	
	<div class="row">
		<div class="col-md-6 col-md-offset-4">
			<pagination boundary-links="true" total-items="totalItems" items-per-page="items4Page" data-ng-change="update()" ng-model="currentPage" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>
		</div>
	</div>
	
	<div class="monitor-row" data-ng-repeat="player in playerStates.content">
			<div class="monitor-box player-box">{{player.playerId}}</div>
			<div data-ng-repeat="elem in player.state['PointConcept']" class="monitor-box point-box">
			    {{elem.name}} 
				<div style="font-size: 2.5em; display:block;">{{elem.score}}</div>
			</div>
		<button type="button" class="pull-right game-btn btn btn-defalt btn-circle right-spaced" data-ng-click="openDetails($index)" data-toggle="collapse" data-target="#player-details" data-tooltip="{{'tool_details' | i18next}}">
        		<span class="glyphicon" data-ng-class="{'glyphicon-chevron-down': expandIdx != $index, 'glyphicon-chevron-up': expandIdx == $index}" ></span>
      		</button>
		<div id="player-details-{{$index}}" class="monitor-row collapse" data-ng-class="{'in': expandIdx == $index}">
			<table class="badge-box">
				<tr data-ng-repeat="elem in player.state['BadgeCollectionConcept']">
					<td style="width:20%;">{{elem.name}} <span style="color:#4A3B3B; font-size: 10px;">({{elem.badgeEarned.length}})</span> </td>
					<td style="width:80%;"><span class="badge-elem" data-ng-repeat="badge in elem.badgeEarned  track by $index">{{badge}}</span></td>
				</tr>
			
			</table>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6 col-md-offset-4">
			<pagination boundary-links="true" total-items="totalItems" items-per-page="items4Page" data-ng-change="update()" ng-model="currentPage" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>
		</div>
	</div>
</div>
