<ul class="nav nav-pills nav-stacked">
  <li data-role="presentation"><a  href="javascript:void(0)" data-ng-click="openEditModal()">{{'lbl_edit_game_menu' | i18next}}</a></li>
  <li data-role="presentation" data-ng-class="{'active' : menuItem == 'concepts'}"><a href="javascript:void(0)" data-ng-click="goto('concepts')">{{'lbl_concepts_menu' | i18next}}</a></li>
  <li data-role="presentation" data-ng-class="{'active' : menuItem == 'actions'}"><a href="javascript:void(0)" data-ng-click="goto('actions')">{{'lbl_actions_menu' | i18next}}</a></li>
  <li data-role="presentation" data-ng-class="{'active' : menuItem == 'rules'}"><a href="javascript:void(0)" data-ng-click="goto('rules')">{{'lbl_rules_menu' | i18next}}</a></li>
  <li data-role="presentation" data-ng-class="{'active' : menuItem == 'tasks'}"><a href="javascript:void(0)" data-ng-click="goto('tasks')">{{'lbl_tasks_menu' | i18next}}</a></li> 
</ul>