<!-- <div class="row">
  <div class="col-md-8">
    <ol class="breadcrumb">
      <li><a href="#/home">Home</a>
      </li>
      <li><a ng-href="#/game/{{game.id}}">{{game.name}}</a>
      </li>
      <li class="active">{{pluginNames[selectedInstance]}}</li>
    </ol>
  </div>
</div> -->
<div class="row">
  <div class="col-md-12 text-center">
    <alert ng-if="alerts.loadGameError" type="danger" close="closeAlert('loadGameError')">{{'msg_load_games_error' | i18next}}</alert>
  </div>
</div>
<div class="row">
  <div class="col-md-12 text-center">
    <alert ng-if="alerts.cantCreateLeaderboards" type="danger" close="closeAlert('cantCreateLeaderboards')">{{'msg_leaderboards_error' | i18next}}</alert>
  </div>
</div>
<div class="row">
  <div class="col-md-12 text-center">
    <alert ng-if="alerts.settingsEdited" type="success" close="closeAlert('settingsEdited')">{{'msg_game_settings_edited' | i18next}}</alert>
  </div>
</div>
<div class="row">
  <div class="col-md-8">
    <h2>Game : {{game.name}}</h2>
  </div>
 <!--  <div class="col-md-4 top-margined">
    <div class="pull-right">
      <button type="button" class="btn btn-success btn-circle" ng-click="openEditModal()" data-tooltip="{{'tool_edit' | i18next}}">
        <span class="glyphicon glyphicon-pencil"></span>
      </button>
      <button type="button" class="btn btn-danger btn-circle right-spaced" ng-click="deleteGame()" data-tooltip="{{'tool_delete' | i18next}}">
        <span class="glyphicon glyphicon-remove"></span>
      </button>
    </div>
  </div> -->
</div>
<hr />

<div class="row">
<div class="col-md-2" data-ng-include="'templates/game-menu.html'">
</div>

<div class="col-md-10" data-ng-include="'templates/'+viewName+'.html'"></div>
</div>
