<br />
<div class="row">
  <div class="col-md-12 text-center">
    <alert ng-if="alerts.loadGameError" type="danger" close="closeAlert('loadGameError')">{{'msg_load_games_error' | i18next}}</alert>
  </div>
</div>
<div class="row vertical-spacing">
  <div class="col-md-4 col-md-offset-8 text-center">
    <button type="button" class="btn btn-lg btn-primary" ng-click="openGameModal()">
      {{'btn_add_game' | i18next}} <span class="glyphicon glyphicon-plus-sign"></span>
    </button>
  </div>
</div>
<!--

Text will be soon placed in the middle of the panel-body

-->
<div class="row vertical-spacing">
  <ul class="list-unstyled list-inline">
    <li class="col-md-4" data-ng-repeat="game in games">
       <div class="panel panel-info panel-games">
        <div class="panel-heading table-style" data-ng-class="{terminated : game.terminated }">
	      	<a href="javascript:void(0)" data-ng-click="goto('#/game/' + game.id)"><h3 class="ellipsis game-title">{{game.name}}</h3></a>
           <button type="button" class="pull-right game-btn btn btn-danger btn-circle right-spaced" data-ng-click="deleteGame(game)" data-tooltip="{{'tool_delete' | i18next}}">
        		<span class="glyphicon glyphicon-remove"></span>
      		</button>
          </div>
         
        <div class="panel-body">
          <p>
            <strong>{{'lbl_points' | i18next}}:</strong> <span ng-i18next="[i18next]({total: {{getLength(game, 'points')}}})game_info"></span>
            <br/><strong>{{'lbl_badges_collections' | i18next}}:</strong> <span ng-i18next="[i18next]({total: {{getLength(game, 'badges_collections')}}})game_info"></span>
          </p>
        </div>
        </div>
    </li>
  </ul>
</div>
