<div data-ng-controller="RulesCtrl">
<div class="row">
	<div class="text-center">
		<alert ng-if="alerts.error" type="danger"
			close="closeAlert('loadGameError')">{{ msg_code
		| i18next}}</alert>
	</div>
</div>
<div class="row">
	<div class="text-center">
		<alert ng-if="alerts.success" type="success"
			close="closeAlert('loadGameError')">{{ msg_code
		| i18next}}</alert>
	</div>
</div>
	
			<div class="row top-margined">
					 <button type="button" class="btn btn-success btn-circle pull-right" style="margin-right: 0.6em" data-ng-click="openAddRuleModal()" data-tooltip="{{'tool_add' | i18next}}">
			          <span class="glyphicon glyphicon-plus"></span>
			        </button>
				</div>
	<div class="row vertical-spacing top-margined">
				<div class="table-actions">
					<table class="table table-striped table-bordered">
						<tbody>
							<tr data-ng-repeat="rule in game.rules">
								<td>
									{{rule.name ? rule.name : rule.id}}
									 <button type="button" class="btn btn-danger btn-circle pull-right" data-ng-click="deleteRule(rule)" data-tooltip="{{'tool_delete' | i18next}}">
			         				 <span class="glyphicon glyphicon-remove"></span>
			        			</button>
								 <button type="button" class="btn btn-success btn-circle pull-right" style="margin-right: 1em;" data-ng-click="editRule(rule)" data-tooltip="{{'tool_edit' | i18next}}">
			         				 <span class="glyphicon glyphicon-pencil"></span>
			        			 </button>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
</div>
</div>