<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
<!--     	<link href="../../webapp/css/bootstrap.css" rel="stylesheet" /> -->
<!-- 		<link href="../../webapp/css/bootstrap-theme.min.css" rel="stylesheet" /> -->
        <title th:remove="all">GreenGame Riepilogo</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
    	<div class="container-fluid">
    		<div class="row" style="width:700px">
    			<div class="col-md-6" >
				    <div style="margin: 50px 5px 5px 5px" align="center">
				    	<table style="padding: 20px;">
				    		<tr>
				    			<td valign="middle" align="center">
				    				<img src="img/foglie03.png" th:src="'cid:' + ${imageRNFoglie03}" width="60px" alt="" title="" />
				    			</td>
				    			<td rowspan="2" valign="middle" align="center">
									<h1>
										<font face="Raleway-bold" size="48" color="gray"><strong>GreenGame</strong></font>
									</h1>
									<h2>
										<font face="Raleway">con ViaggiaRovereto</font>
									</h2>
								</td>
				    			<td></td>
				    		</tr>
				    		<tr>
				    			<td></td>		
								<td valign="middle" align="center">
									<img src="img/foglie04.png" th:src="'cid:' + ${imageRNFoglie04}" width="60px" alt="" title="" />
				    			</td>
							</tr>
						</table>
					</div>
				</div>
	    	</div>
	    	<div class="row" style="width:1000px">
	    		<div class="col-md-10 col-md-offset-1">
			        <h3 th:text="#{greeting(${name})}">
			            Caro Utente,
			        </h3>
			        <h3 th:text="#{only_points}">
			        	i punti che hai accumulato fin'ora sono:
			        </h3>
			        <div style="margin: 50px 5px 5px 50px">
				        <table>
					        <tr>
						       	<td>
						       		<img src="img/green/greenLeavesbase.png" th:src="'cid:' + ${imageRNGreenScore}" width="100px" alt="" title="" />
								</td>
							   	<td><font size="3" ><strong th:text="#{green_points(${g_point})}">Punti verdi</strong></font></td>
							</tr>
							<tr>
						       	<td>
						       		<img src="img/health/healthLeavesBase.png" th:src="'cid:' + ${imageRNHealthScore}" width="100px" alt="" title="" />
								</td>
							   	<td><font size="3" ><strong th:text="#{health_points(${h_point})}">Punti salute</strong></font></td>
							</tr>
							<tr>
						       	<td>
						       		<img src="img/pr/prLeaves.png" width="100px"  th:src="'cid:' + ${imageRNPrScore}" alt="" title="" />
								</td>
							   	<td><font size="3" ><strong th:text="#{pr_points(${p_point})}">Punti parkAndride</strong></font></td>
							</tr>
						</table>
					</div>
			        
			        <!-- th:if="${name.length() gt 10}" -->
			        
			        <h3 th:if="${n_summ ne null or not #lists.isEmpty(n_summ)}">
			            Riepilogo Utenti e Mails:
			        </h3>
			        <div style="margin: 50px 5px 5px 50px" >
				        
				        <table th:if="${n_summ ne null}" width="100%">
					        <tr th:each="s : ${n_summ}">
					        	<td width="20%" valign="middle"><font size="3" >Utente : <strong th:text="${s.user}">Utente</strong></font></td>
						       	<td width="35%" valign="middle"><font size="3" >Punti : <strong th:text="${s.scores}">Punti</strong></font></td>
						       	<td width="45%" valign="middle"><font size="3" >Badges : <strong th:text="${s.notifications}">Badges</strong></font></td>
						    </tr>
				        </table>
			        </div>
			        
			
			        <h3>
			        	Per vedere tutti i tuoi risultati e le classifiche generali del gioco
						visita il tuo sito personalizzato! <br />Clicca <b><a href="https://vas-dev.smartcampuslab.it/gamificationweb">QUI</a></b>.
			        </h3>
			        
<!-- 			        <img src="img/foglie03.svg" th:src="'cid:' + ${imageResourceName}" /> -->
			        
			        <h3>
			            Buona fortuna, <br />
						&emsp;<em>Lo staff di GreenGame</em>
			        </h3>
		        </div>
	        </div>
        </div>
        <footer>
        	<br />
        	<br />
        	<br />
        	<div class="row">
	    		<div class="col-md-6 col-md-offset-1">
					<img src="img/footer.png" th:src="'cid:' + ${imageResourceName}" alt="" title="" />
				</div>
			</div>
		</footer>
    </body>
</html>
