<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
<!--     	<link href="../../webapp/css/bootstrap.css" rel="stylesheet" /> -->
<!-- 		<link href="../../webapp/css/bootstrap-theme.min.css" rel="stylesheet" /> -->
        <title th:remove="all">Play&amp;Go Module</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
    	<div class="container-fluid">
    		<div class="row" style="width:700px">
    			<div class="col-md-6" >
				    <div style="margin: 50px 5px 5px 5px" align="center">
				    	<table style="padding: 20px;">
				    		<tr>
				    			<td valign="middle" align="center">
				    				<img src="img/foglie03.png" th:src="'cid:' + ${imageRNFoglie03}" width="60px" alt="" title="" />
				    			</td>
				    			<td rowspan="2" valign="middle" align="center">
									<h1>
										<font face="Raleway-bold" size="48" color="gray"><strong>Play&amp;Go</strong></font>
									</h1>
									<h2>
										<font face="Raleway">with ViaggiaTrento</font>
									</h2>
								</td>
				    			<td></td>
				    		</tr>
				    		<tr>
				    			<td></td>		
								<td valign="middle" align="center">
									<img src="img/foglie04.png" th:src="'cid:' + ${imageRNFoglie04}" width="60px" alt="" title="" />
				    			</td>
							</tr>
						</table>
					</div>
				</div>
	    	</div>
	    	<div class="row" style="width:700px">
	    		<div class="col-md-6 col-md-offset-1">
			        <h3 th:text="#{greeting(${name})}">
			            Hello Utente,
			        </h3>
			        <p style="font-size: 1.17em" th:if="${show_survey_ok} == true">
			        	Our game is now over; thanks a lot for your participation and the precious feedback you provided us by filling our final QUESTIONNAIRE!
			        </p>
			        <p style="font-size: 1.17em" th:if="${show_survey_ok} == false">
			        	Our game is now over; thanks a lot for your participation!<br/>
			        	You still have time to provide us with your feedback on Play&amp;Go, by filling the final QUESTIONNAIRE you can find at this link:  <u><b><a href="https://tn.smartcommunitylab.it/gamificationweb" th:href="${surveyLink}" target="_blank"><span th:text="${surveyLinkShort}">https://tn.smarcommunitylab.it/gamificationweb/compile_survey</span></a></b></u>.
			        	That feedback is very important to give us your previous advice, and new ideas about the game.
			        </p>
			        <p style="font-size: 1.17em">
			        	You will find in attachment your <b>game certificate</b>! We thought to issue it via email to avoid using additional resources, and be even more "green".
			        </p>
			        <div th:if="${show_final_event} == true">
				        <p style="font-size: 1.17em">
				        	We would like to remind you once more the game final event:<br/>
							<b>on Tuesday December 6, at 5 PM, we will hold a FINAL AWARDS ceremony at the Municipal press room, on the ground floor of Palazzo Geremia, via Belenzani 20;</b> during that event we will HAND OUT THE PRIZES for the global leaderboard, as well as for the last game week.
				        </p>
				        <p style="font-size: 1.17em">
				        	Moreover, among all players that will come to that event with a sustainable mode of transportation and using the Viaggia Trento Play&amp;Go App, we will randomly draw <b>further prizes</b> made available by our sponsors.
				        </p>
				        <p style="font-size: 1.17em">
				        	IMPORTANT!<br/>
				        	<b>That is the last chance to pick up any prizes of yours!</b><br/>
							It is allowed to delegate someone else to pick up a prize, by providing a written delegation statement signed by the winner, accompanied by a photocopy of the winner's ID document.
				        </p>
				        <p style="font-size: 1.17em">
					        The awards ceremony will end at about 6 PM, with an informal get-together and some refreshments.
				        </p>
			        </div>
			        <p style="font-size: 1.17em">
			        	Keep moving in healthy and sustainable ways, and you'll do your part in making your city smarter.
			        </p>
			        <p style="font-size: 1.17em">
			            Happy playing!<br/>
						&emsp;<em>Play&amp;Go staff</em>
			        </p>
		        </div>
	        </div>
        </div>
        <footer>
        	<br />
        	<br />
        	<br />
        	<div class="row">
	    		<div class="col-md-6 col-md-offset-1">
					<img src="img/footer.png" width="650px" th:src="'cid:' + ${imageResourceName}" alt="" title="" />
				</div>
			</div>
		</footer>
    </body>
</html>
