<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
<!--     	<link href="../../webapp/css/bootstrap.css" rel="stylesheet" /> -->
<!-- 		<link href="../../webapp/css/bootstrap-theme.min.css" rel="stylesheet" /> -->
        <title th:remove="all">Play&amp;Go Update</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
    	<div class="container-fluid">
    		<div class="row" style="width:700px">
    			<div class="col-md-6" >
				    <div style="margin: 50px 5px 5px 5px" align="center">
				    	<table style="padding: 20px;">
				    		<tr>
				    			<td valign="middle" align="center">
				    				<img src="img/foglie03.png" th:src="'cid:' + ${imageRNFoglie03}" width="60px" alt="" title="" />
				    			</td>
				    			<td rowspan="2" valign="middle" align="center">
									<h1>
										<font face="Raleway-bold" size="48" color="gray"><strong>Play&amp;Go</strong></font>
									</h1>
									<h2>
										<font face="Raleway">with ViaggiaTrento</font>
									</h2>
								</td>
				    			<td></td>
				    		</tr>
				    		<tr>
				    			<td></td>		
								<td valign="middle" align="center">
									<img src="img/foglie04.png" th:src="'cid:' + ${imageRNFoglie04}" width="60px" alt="" title="" />
				    			</td>
							</tr>
						</table>
					</div>
				</div>
	    	</div>
	    	<div class="row" style="width:700px">
	    		<div class="col-md-6 col-md-offset-1">
			        <!-- <h3 th:text="#{greeting(${name})}">
			            Caro Utente,
			        </h3>
			        <h3>
			        	stiamo per entrare nella <strong th:text="${next_week_num}">X+1</strong>^a settimana di gioco.<br/>
			        	Nel seguito le sfide di questa settimana e i tuoi risultati recenti.
			        </h3>
			        <div th:if="${n_challenges ne null}">
				        <h3 th:text="#{week_desc(${next_week_theme})}">
				            Questa sar&agrave; la settimana DELLA BICI
				        </h3>
				        <h3 th:if="${are_challenges}">
				            Ecco le tue CHALLENGE per questa settimana, mettiti alla prova per superarle:
				        </h3>
				        <table th:if="${n_challenges ne null}">
						    <tr th:each="ch : ${n_challenges}">
						        <td><font size="2"><strong>CH<span th:text="${ch.challId}">id</span></strong></font></td>
						       	<td><font size="2"><strong> - <span th:text="${ch.challDesc}">Descrizione challenge</span></strong></font></td>
						    </tr>
					    </table>
			        </div>
			        <div th:if="${n_prizes ne null and are_prizes}">
				        <h3>
				            I premi in palio per la <strong th:text="${next_week_num}">X+1</strong>^a settimana sono i seguenti:
				        </h3>
				        <table th:if="${n_prizes ne null}" width="85%">
				        	<tr align="left">
				        		<th width="25%">Premio</th>
				        		<th width="50%">Traguardo</th>
				        		<th width="25%">Offerto da</th>
				        	</tr>
						    <tr th:each="p : ${n_prizes}">
						        <td><font size="2" ><strong> - <span th:text="${p.prize}">tessera mitt</span></strong></font></td>
						        <td><font size="2" ><span th:text="${p.target}">primo posto green point</span></font></td>
						       	<td><font size="2" ><span th:text="${p.sponsor}">AMR</span></font></td>
						    </tr>
					    </table>
			        </div>
			        <br/>
			        <h3>
				    	Risultati della <strong th:text="${week_num}">X</strong>^a settimana di gioco
				    </h3> -->
<!-- 			        <div> -->
<!-- 				        <h3> -->
<!-- 				        	VINCITORI DELLA SCORSA SETTIMANA -->
<!-- 				        </h3> -->
<!-- 				        <h3> -->
<!-- 				        	Complimenti ai vincitori dei premi della scorsa settimana: -->
<!-- 				        </h3> -->
<!-- 				        <table th:if="${n_winners ne null}" width="95%"> -->
<!-- 				        	<tr align="left"> -->
<!-- 				        		<th width="20%">Giocatore</th> -->
<!-- 				        		<th width="25%">Premio</th> -->
<!-- 				        		<th width="55%">Traguardo</th> -->
<!-- 				        	</tr> -->
<!-- 						    <tr th:each="w : ${n_winners}"> -->
<!-- 						        <td><font size="2" > - <strong th:text="${w.nickPlayer}">Nick giocatore</strong></font></td> -->
<!-- 						        <td><font size="2" ><span th:text="${w.prizesDesc}">1 ingresso al MART</span></font></td> -->
<!-- 						       	<td><font size="2" ><span th:text="${w.prizesTarget}">Primo posto green leaves</span></font></td> -->
<!-- 						    </tr> -->
<!-- 					    </table> -->
<!-- 			        </div> -->
<!-- 			        <h3> -->
<!-- 			        	IL TUO STATO DI GIOCO -->
<!-- 			        </h3> -->
			        <h3 th:text="#{greeting(${name})}">
			            Hello Utente,
			        </h3>
			        <p style="font-size: 1.17em">
			        	the challenges are now drawing to a close, you still have a few days to collect points in our game!
			        </p>
			        <p style="font-size: 1.17em">
			        	If you have not already done, you can contribute to improve Play&amp;Go by completing a <b>SURVEY</b>, <br/>which you will find clicking <u><b><a href="https://tn.smartcommunitylab.it/gamificationweb" th:href="${surveyLink}" target="_blank">HERE</a></b></u>.<br/>
			        	To thank you for your feedback, you will be awarded <span th:style="'color: green'">350 GREEN LEAVES POINTS</span>.
			        </p>
			        <p style="font-size: 1.17em">
			        	We also encourage you to diarize the final meeting of the game:<br/>
						<b>Tuesday, December 6, 2016 - 17.00 at the municipal press room, the ground floor of Palazzo Geremia in Belenzani street 20</b> will be held the FINAL AWARD of the game during which they will be delivered the prizes of the global standings and last week of play.
			        </p>
			        <p style="font-size: 1.17em">
			        	Moreover, among all the players who come to the appointment using the app Viaggia Trento Play&amp;Go in a sustainable mode, will be extracts <b>additional awards</b> made available from sponsors.
			        </p>
			        <p style="font-size: 1.17em">
			        	NOTICE!<br/>
			        	<b>This is the last opportunity to pick up prizes!</b><br/>
						It is allowed to delegate the withdrawal of prize with presentation of a proxy signed by the winner and including a photocopy of the identity document.
			        </p>
			        <p style="font-size: 1.17em">
				        The event will conclude at 18:00 with a convivial and light refreshments.
			        </p>
			        <p style="font-size: 1.17em">
			            <b>WE WAIT FOR YOU!!!</b><br/><br/>
						&emsp;<em>Play&amp;Go staff</em>
			        </p>
		        </div>
	        </div>
        </div>
        <footer>
        	<br />
        	<br />
        	<br />
        	<div class="row">
	    		<div class="col-md-6 col-md-offset-1">
					<img src="img/footer.png" width="650px" th:src="'cid:' + ${imageResourceName}" alt="" title="" />
				</div>
			</div>
		</footer>
    </body>
</html>
