<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
<!--     	<link href="../../webapp/css/bootstrap.css" rel="stylesheet" /> -->
<!-- 		<link href="../../webapp/css/bootstrap-theme.min.css" rel="stylesheet" /> -->
        <title th:remove="all">Play&amp;Go Aggiornamento</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
    	<div class="container-fluid">
    		<div class="row" style="width:700px">
    			<div class="col-md-6" >
				    <div style="margin: 50px 5px 5px 5px" align="center">
				    	<table style="padding: 20px;">
				    		<tr>
				    			<td valign="middle" align="center">
				    				<img src="img/foglie03.png" th:src="'cid:' + ${imageRNFoglie03}" width="60px" alt="" title="" />
				    			</td>
				    			<td rowspan="2" valign="middle" align="center">
									<h1>
										<font face="Raleway-bold" size="48" color="gray"><strong>Play&amp;Go</strong></font>
									</h1>
									<h2>
										<font face="Raleway">con ViaggiaTrento</font>
									</h2>
								</td>
				    			<td></td>
				    		</tr>
				    		<tr>
				    			<td></td>		
								<td valign="middle" align="center">
									<img src="img/foglie04.png" th:src="'cid:' + ${imageRNFoglie04}" width="60px" alt="" title="" />
				    			</td>
							</tr>
						</table>
					</div>
				</div>
	    	</div>
	    	<div class="row" style="width:700px">
	    		<div class="col-md-6 col-md-offset-1">
			        <h3 th:text="#{greeting(${name})}">
			            Ciao Utente,
			        </h3>
			        <h3>
			        	stiamo per entrare nella <strong th:text="${next_week_num}">X+1</strong>^a settimana di gioco.
			        	<span th:if="${g_point} > 0"><br/>Continua a giocare e a muoverti smart!</span>
			        </h3>
			        <h3>
				        Dal 10 settembre saranno attivi i premi settimanali e le sfide personalizzate.
				    </h3>
			        <div th:if="${g_point} > 0">
				        <h3>
					    	Risultati della <strong th:text="${week_num}">X</strong>^a settimana di gioco
					    </h3>
				        <h3>
				        	I TUOI RISULTATI
				        </h3>
				        <h3>
				        	complimenti, ecco i tuoi risultati di gioco:
				        </h3>
				        <div style="margin: 50px 5px 5px 150px">
					        <table>
						        <tr>
							       	<td>
							       		<img src="img/green/greenLeavesbase.png" th:src="'cid:' + ${imageRNGreenScore}" width="90px" alt="" title="" />
									</td>
								   	<td><font size="3" ><strong th:text="#{green_points(${g_point})}">Punti Green Leaves</strong></font></td>
								</tr>
							</table>
						</div>
				        
				        <!-- <div th:if="${n_lw_win_challenges ne null and not #lists.isEmpty(n_lw_win_challenges)}">
					        <h3>
					            Hai superato le challenge:
					        </h3>
					        <table th:if="${n_lw_win_challenges ne null}">
							    <tr th:each="ch : ${n_lw_win_challenges}" th:if="${ch.success} == true" valign="top" >
							        <td><font size="2" ><strong>CH<span th:text="${ch.challId}">id</span></strong></font></td>
							       	<td><font size="2" ><strong> - <span th:text="${ch.challDesc}">Descrizione challenge</span></strong></font></td>
							    </tr>
						    </table>
				        </div> -->
				        
				        <h3 th:if="${n_badge ne null or not #lists.isEmpty(n_badges)}" th:text="#{new_badges}">
				            Inoltre, durante la settimana hai guadagnato:
				        </h3>
				        <div style="margin: 50px 5px 5px 150px" >
					        <table th:if="${n_badges ne null}">
						        <tr th:each="b : ${n_badges}">
						        	<td><img src="img/green/greenLeavesbase.png" width="90px"  th:src="'cid:' + ${b.imageName}" alt="" title="" /></td>
							       	<td><font size="3" >Badge : <strong th:text="${b.showedText}">Badge Name</strong></font></td>
							    </tr>
					        </table>
				        </div>
			        </div>
			        <div th:if="${g_point} == 0">
				        <h3 th:if="${n_badge eq null and #lists.isEmpty(n_badges)}">
				            Questa settimana non hai guadagnato punti Green Leaves. <br/>Prova a giocare e a muoverti smart!
				        </h3>
				        <font size="3" >Guadagnare punti &egrave; facile:</font>
				        <table>
						    <tr valign="top">
						       	<td> - </td>
						       	<td><font size="3" >Pianifica i tuoi viaggi con ViaggiaTrento Play&amp;Go (<strong>"Pianifica viaggio"</strong> nella home);</font></td>
						    </tr>
						    <tr valign="top">
						       	<td> - </td>
						       	<td><font size="3" >Salva il tuo itinerario (<strong>"Salva itinerario"</strong> nella pagina di dettaglio);</font></td>
						    </tr>
						    <tr valign="top">
						       	<td> - </td>
						       	<td><font size="3" >Ricordati di tracciare il tuo percorso quando esegui il viaggio (<strong>"Inizia"</strong> e <strong>"Termina Viaggio"</strong> in dettaglio viaggio ne <strong>"I miei viaggi"</strong>);</font></td>
						    </tr>
					    </table><br/>
					    <font size="3" >Ogni viaggio ti permette di guadagnare <strong>punti Green Leaves</strong> in proporzione ai km fatti con mezzi sostenibili (a piedi, in bici/bike sharing, e con i mezzi pubblici).</font>
			        </div>
			        <h3>
			        	Per vedere i tuoi risultati completi e le classifiche  aggiornate consulta la app ViaggaTrento nella sezione Play&amp;Go.
			        </h3>
			        <p>
			        	<font size="3" >
			        		Per qualsiasi dubbio o domanda non esitare a contattarci: <strong><a href="mailto:europa@comune.trento.tn.it">europa@comune.trento.tn.it</a></strong>.
			        	</font>
			        </p>
			        <h3>
			            Buona fortuna, <br />
						&emsp;<em>Lo staff di Play&amp;Go</em>
			        </h3>
		        </div>
	        </div>
        </div>
        <footer>
        	<br />
        	<br />
        	<br />
        	<div class="row">
	    		<div class="col-md-6 col-md-offset-1">
					<img src="img/footer.png" width="700px" th:src="'cid:' + ${imageResourceName}" alt="" title="" />
				</div>
			</div>
		</footer>
    </body>
</html>
