<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
<!--     	<link href="../../webapp/css/bootstrap.css" rel="stylesheet" /> -->
<!-- 		<link href="../../webapp/css/bootstrap-theme.min.css" rel="stylesheet" /> -->
        <title th:remove="all">GreenGame Aggiornamento</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
    	<div class="container-fluid">
    		<div class="row" style="width:700px">
    			<div class="col-md-6" >
				    <div style="margin: 50px 5px 5px 5px" align="center">
				    	<table style="padding: 20px;">
				    		<tr>
				    			<td valign="middle" align="center">
				    				<img src="img/foglie03.png" th:src="'cid:' + ${imageRNFoglie03}" width="60px" alt="" title="" />
				    			</td>
				    			<td rowspan="2" valign="middle" align="center">
									<h1>
										<font face="Raleway-bold" size="48" color="gray"><strong>GreenGame</strong></font>
									</h1>
									<h2>
										<font face="Raleway">con ViaggiaRovereto</font>
									</h2>
								</td>
				    			<td></td>
				    		</tr>
				    		<tr>
				    			<td></td>		
								<td valign="middle" align="center">
									<img src="img/foglie04.png" th:src="'cid:' + ${imageRNFoglie04}" width="60px" alt="" title="" />
				    			</td>
							</tr>
						</table>
					</div>
				</div>
	    	</div>
	    	<div class="row" style="width:700px">
	    		<div class="col-md-6 col-md-offset-1">
			        <h3 th:text="#{greeting(${name})}">
			            Caro Utente,
			        </h3>
			        <h3 th:if="${n_badge ne null or not #lists.isEmpty(n_badges)}" th:text="#{points}">
			        	complimenti, oggi hai raggiunto:
			        </h3>
			        <h3 th:if="${n_badge eq null and #lists.isEmpty(n_badges)}" th:text="#{only_points}">
			        	i punti che hai accumulato fin'ora sono:
			        </h3>
			        <div style="margin: 50px 5px 5px 150px">
				        <table>
					        <tr>
						       	<td>
						       		<img src="img/green/greenLeavesbase.png" th:src="'cid:' + ${imageRNGreenScore}" width="100px" alt="" title="" />
								</td>
							   	<td><font size="3" ><strong th:text="#{green_points(${g_point})}">Punti verdi</strong></font></td>
							</tr>
							<tr>
						       	<td>
						       		<img src="img/health/healthLeavesBase.png" th:src="'cid:' + ${imageRNHealthScore}" width="100px" alt="" title="" />
								</td>
							   	<td><font size="3" ><strong th:text="#{health_points(${h_point})}">Punti salute</strong></font></td>
							</tr>
							<tr>
						       	<td>
						       		<img src="img/pr/prLeaves.png" width="100px"  th:src="'cid:' + ${imageRNPrScore}" alt="" title="" />
								</td>
							   	<td><font size="3" ><strong th:text="#{pr_points(${p_point})}">Punti parkAndride</strong></font></td>
							</tr>
						</table>
					</div>
			        
			        <!-- th:if="${name.length() gt 10}" -->
			        
			        <h3 th:if="${n_badge ne null or not #lists.isEmpty(n_badges)}" th:text="#{new_badges}">
			            Inoltre hai guadagnato:
			        </h3>
			        <div style="margin: 50px 5px 5px 150px" >
				      	<table th:if="${n_badge ne null}">
					        <tr>
					        	<td><img src="../../webapp/img/green/greenLeaves10.svg" th:src="${'../../webapp/img/green/greenLeaves10.svg'}" width="100px"></img></td>
						       	<td th:text="${n_badge}">Badge</td>
						    </tr>
				        </table>
				        
				        <table th:if="${n_badges ne null}">
					        <tr th:each="b : ${n_badges}">
					        	<td><img src="img/green/greenLeavesbase.png" width="100px"  th:src="'cid:' + ${b.imageName}" alt="" title="" /></td>
						       	<td><font size="3" >Badge : <strong th:text="${b.showedText}">Badge Name</strong></font></td>
						    </tr>
				        </table>
			        </div>
			        
			        <h3 th:if="${n_badge eq null and #lists.isEmpty(n_badges)}">
			            Oggi non hai guadagnato nuovi badge! Gioca ancora ed otterrai nuovi punti!
			        </h3>
			        
			        <p th:if="${u_position ne null}" th:text="#{position(${u_position})}">
			            La tua posizione in classifica è x°!
			        </p>
			        
			
			        <h3>
			        	Per vedere tutti i tuoi risultati e le classifiche generali del gioco
						visita il tuo sito personalizzato! <br />Clicca <b><a href="https://dev.smartcommunitylab.it/gamificationweb" th:href="${greengame_url}" target="_blank">QUI</a></b>.
			        </h3>
			        
<!-- 			        <img src="img/foglie03.svg" th:src="'cid:' + ${imageResourceName}" /> -->
			        
			        <h3>
			            Buona fortuna, <br />
						&emsp;<em>Lo staff di GreenGame</em>
			        </h3>
		        </div>
	        </div>
        </div>
        <footer>
        	<br />
        	<br />
        	<br />
        	<div class="row">
	    		<div class="col-md-6 col-md-offset-1">
					<img src="img/footer.png" th:src="'cid:' + ${imageResourceName}" alt="" title="" />
				</div>
			</div>
		</footer>
    </body>
</html>
