<!DOCTYPE html>
<html xmlns:th="http://www.gamificationweb.it">
    <head>
        <title th:remove="all">Template for HTML email with inline image</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <p th:text="#{greeting(${name})}">
            Ciao, Utente Test!
        </p>
        <!-- th:if="${name.length() gt 10}" -->
        <p th:if="${g_point ne null}" th:text="#{green_points(${g_point})}">
            Complimenti! Hai raggiunto quota x punti verdi!
        </p>
        
        <p th:if="${n_badge ne null}" th:text="#{badge(${n_badge})}">
            Complimenti! Hai guadagnato il badge x!
        </p>
        
        <p th:if="${not #lists.isEmpty(n_badges)}" >
            Complimenti! Hai guadagnato i seguenti badges :
        </p>    
        <table th:if="${n_badges ne null}">
	        <tr th:each="b : ${n_badges}">
		       <td th:text="${b.badge}">Badge</td>
		    </tr>
        </table>
        
        <p th:if="${n_badge eq null and #lists.isEmpty(n_badges)}">
            Oggi non hai guadagnato nuovi badge! Gioca ancora ed otterrai nuovi punti!
        </p>
        
        <p th:if="${u_position ne null}" th:text="#{position(${u_position})}">
            La tua posizione in classifica è x°!
        </p>
        
        
<!--         <p> -->
<!--             You have been successfully subscribed to the <b>Fake newsletter</b> on -->
<!--             <span th:text="${#dates.format(subscriptionDate)}">28-12-2012</span> -->
<!--         </p> -->
<!--         <p>Your hobbies are:</p> -->
<!--         <ul th:remove="all-but-first"> -->
<!--             <li th:each="hobby : ${hobbies}" th:text="${hobby}">Reading</li> -->
<!--             <li>Writing</li> -->
<!--             <li>Bowling</li> -->
<!--         </ul> -->
        <p>
            Collegati all'indirizzo <b>https://vas-dev.smartcampuslab.it/gamificationweb</b> 
            per visualizzare il tuo profilo e la classifica aggiornata.
        </p>
<!--         <p> -->
<!--             <img src="img/gamification_small.png" /> -->
<!--         </p> -->
        <p>
            A presto, <br />
            &emsp; <em>Il Gamification Team</em>
        </p>
    </body>
</html>
