<div class="modal-header">
  <h3 class="modal-title">{{'lbl_edit_task' | i18next}}</h3>
</div>
<form role="form" name="taskForm">
  <div class="modal-body">
    <div class="row">
      <div class="col-md-12 text-center">
        <alert ng-if="!!alerts.taskErr" type="danger" close="closeAlert('taskErr')">{{alerts.taskErr | i18next}}</alert>
      </div>
    </div>
    <div class="form-group">
      <label for="name">{{'lbl_name' | i18next}}</label>
      <input data-ng-readonly="input.edit" type="text" class="form-control" id="name" data-ng-model="input.name" placeholder="{{'lbl_enter_new_name' | i18next}}" required />
    </div>
    <div class="form-group">
      <label for="schedule">{{'lbl_task_schedule' | i18next}}</label>
      <input type="text" class="form-control" name="schedule" id="schedule" data-ng-model="input.schedule" placeholder="{{'lbl_enter_new_name' | i18next}}"  required/>
    </div>
    <div class="form-group">
      <label for="itemToNotificate">{{'lbl_task_itemToNotificate' | i18next}}</label>
      <input type="text" class="form-control" name="itemToNotificate" id="itemToNotificate" data-ng-model="input.itemToNotificate" placeholder="{{'lbl_enter_new_name' | i18next}}" data-ng-pattern="/^\d+$/" required/>
      <alert type="danger" data-ng-show="taskForm.itemToNotificate.$error.pattern">{{'msg_error_integer' | i18next}}</alert>
    </div>
    <div class="form-group">
      <label for="itemType">{{'lbl_task_itemType' | i18next}}</label>
      <input type="text" class="form-control" id="itemType" data-ng-model="input.itemType" placeholder="{{'lbl_enter_new_name' | i18next}}" required />
    </div>
    <div class="form-group">
      <label for="className">{{'lbl_task_classificationName' | i18next}}</label>
      <input type="text" class="form-control" id="className" data-ng-model="input.classificationName" placeholder="{{'lbl_enter_new_name' | i18next}}" required/>
    </div>
  </div>
  <div class="modal-footer clearfix">
    <button type="reset" class="btn btn-default" data-ng-click="cancel()">{{'btn_cancel' | i18next}}</button>
    <button type="submit" class="btn btn-primary" data-ng-click="ok()">{{'btn_ok' | i18next}}</button>
  </div>
</form>
