.myheader{
    	text-align: left;
     	padding: 1em;
	}
  
	.navbar-default {
		background: #c2c2c2;
		font-weight: bold;
	}
	
	.navbar-default .navbar-text {
  		color: #2a2a2a;
	}
	.navbar-default .navbar-nav > li > a {
	  	color: #2a2a2a;
	}
	.navbar-default .navbar-nav
	
/* 	.navbar-default .navbar-nav > .active { */
/* 	  	color: #00984a; /*#555555;*/ */
/* 	  	background-color: #c2c2c2; */
/* 	} */
	
	.navbar-default .navbar-nav > .active > a, 
	.navbar-default .navbar-nav > .active > a:hover, 
	.navbar-default .navbar-nav > .active > a:focus {
	 	color: #00984a; /*#555555;*/
	  	background: #c2c2c2;
	}
	
	.dropdown-menu .open {
 		width: 100px;
 		display: inline-block;
 	}
	
	.navbar-default .navbar-nav .open .dropdown-menu > li > a {
		color: #2a2a2a; /*#555555;*/
		font-size: 24px;
	}
	
	.navbar-default .navbar-nav .open .dropdown-menu {
		color: #2a2a2a; /*#555555;*/
	  	background: #c2c2c2;
/* 	  	display: inline-block; */
	}
	
	.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
	.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
	.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
		color: #00984a; /*#555555;*/
	  	background: #c2c2c2;
	}
	
	.progress-bar-success {
		background-image: linear-gradient(to bottom, #50d090 0, #449d44 100%);	/* aligned to green used in app */
	}

  	.tab-content {
    	border-left: 3px solid #c2c2c2;
    	border-right: 3px solid #c2c2c2;
    	border-bottom: 3px solid #c2c2c2;
    	background-color: #e5e4e2;
    	padding: 25px;
	}
	.nav-tabs {
		font-weight: bold;
        color: #2a2a2a;
        background-color: #e5e4e2;
    }
	
	.nav-tabs.nav-justified > li > a,
    .nav-tabs.nav-justified > li > a:hover,
    .nav-tabs.nav-justified > li > a:focus {
        color: #2a2a2a;
        background-color: #e5e4e2;
        border-top: 3px solid #c2c2c2;
        border-right: 3px solid #c2c2c2;
      	border-left: 3px solid #c2c2c2;
     	border-bottom: 3px solid #c2c2c2;
/* 		border-bottom-color: transparent; */
    } 
	
	.nav-tabs.nav-justified > li.active > a,
    .nav-tabs.nav-justified > li.active > a:hover,
    .nav-tabs.nav-justified > li.active > a:focus {
        color: #00984a;
        background-color: #e5e4e2;
        border-top: 3px solid #c2c2c2;
        border-right: 3px solid #c2c2c2;
      	border-left: 3px solid #c2c2c2;
		border-bottom: 3px solid #e5e4e2;
    } 
    
    #prof-nav.tab-content {
    	background-color: trasparent;
    	padding: 25px;
	}
	
	.panel-success {
		background-color: #f5f5f5;
        border-top: 2px solid #bdbdbd;
        border-right: 2px solid #bdbdbd;
      	border-left: 2px solid #bdbdbd;
		border-bottom: 2px solid #bdbdbd;
	}
	
	.panel-success.success {
		background-color: #f5f5f5;
        border-top: 3px dotted #00984a;
        border-right: 3px dotted #00984a;
      	border-left: 3px dotted #00984a;
		border-bottom: 3px dotted #00984a;
	}
	.panel-success.success .panel-body {
		padding-left: 10px;
		padding-right: 10px;
		padding-bottom: 0px;
		padding-top: 0px;
	}
	
	.panel-success.failed {
		background-color: #f5f5f5;
        border-top: 2px solid #bdbdbd;
        border-right: 2px solid #bdbdbd;/*#ff7f7f;*/
      	border-left: 2px solid #bdbdbd;
		border-bottom: 2px solid #bdbdbd;
	}
	.panel-success.failed .panel-body {
		padding-left: 10px;
		padding-right: 10px;
		padding-bottom: 5px;
		padding-top: 0px;
	}
	.small {
		text-align: left;
		font-size: 14px;
	}
	
	.panel-body {
		padding-left: 10px;
		padding-right: 10px;
		padding-bottom: 5px;
	}
	.headercol {
		margin-top: 5px;
		margin-left: 15px;
		padding-left: 10px;
		padding-right: 0px;
	}
	.headercol-success {
		margin-top: 20px;
		margin-left: 15px;
		padding-left: 10px;
		padding-right: 0px;
	}
	.headercol-failed {
		margin-top: 20px;
		margin-left: 15px;
		padding-left: 10px;
		padding-right: 0px;
	}
	.progresscol {
		margin-top: 15px;
		margin-left: 15px;
	}
	.iconcol {
		margin-top: 2px;
	}
	.iconcolsmall {
		margin-top: 2px;
		padding-right: 0px;
		padding-left: 10px;
	}
	.iconcol-success {
		margin-top: 17px;
	}
	.iconcol-failed {
		margin-top: 17px;
	}
	.imagecol {
		margin-top: 10px;
		padding-right: 2px;
		padding-left: 10px;
	}
	.image-bonus-info {
		position: absolute;
		top: -13px;
		left: 60%;
		font-weight: bold;
		color: #6ab64d;
		opacity: 0.4;
	}
	.image-status-info {
		position: absolute;
		bottom: 0px;
		left: 55%;
		font-weight: bold;
	}
	.image-bonus-info-small {
		position: absolute;
		top: -13px;
		left: 80%;
		font-weight: bold;
		color: #6ab64d;
		opacity: 0.4;
	}
	.image-status-info-small {
		position: absolute;
		bottom: 0px;
		left: 75%;
		font-weight: bold;
	}
	.image-bonus-success-num {
		position: absolute;
		top: 3px;
		left: 38px;
		font-weight: bold;
		font-size: 15px;
		color: #fff;
		text-align: center;
	}
	.image-bonus-success {
		position: absolute;
		top: 19px;
		left: 31px;
		font-weight: bold;
		font-size: 11px;
		line-height: 11px;
		color: #fff;
		text-align: center;
		max-width: 35px;
	}
	.image-bonus-success-num-small {
		position: absolute;
		top: 5px;
		left: 53%;
		font-weight: bold;
		font-size: 15px;
		color: #fff;
		text-align: center;
	}
	.image-bonus-success-small {
		position: absolute;
		top: 20px;
		left: 50%;
		font-weight: bold;
		font-size: 11px;
		line-height: 11px;
		color: #fff;
		text-align: center;
		max-width: 10%;
	}
	.oriz_space_2 {
		left: 35px%;
	}
	.oriz_space_3 {
		left: 34px;
	}
	.oriz_space_4 {
		left: 32px;
	}
	.oriz_space_5 {
		left: 30px;
	}
	.oriz_space_bonus_2 {
		left: 35px;
	}
	.oriz_space_bonus_3 {
		left: 34px;
	}
	.oriz_space_bonus_4 {
		left: 32px;
	}
	.oriz_space_2_small {
		left: 54%;
	}
	.oriz_space_3_small {
		left: 52%;
	}
	.oriz_space_4_small {
		left: 50%;
	}
	.oriz_space_5_small {
		left: 49%;
	}
	.oriz_space_bonus_2_small {
		left: 53%;
	}
	.oriz_space_bonus_3_small {
		left: 51%;
	}
	.oriz_space_bonus_4_small {
		left: 50%;
	}
	
	.spacedrow {
		margin-top: 25px;
		margin-bottom: 10px;
	}
	.headerleftcol {
		margin-top: 15px;
		margin-left: 45px;
	}
	.headercolsmall {
		margin-top: 10px;
		padding-right: 35%;
		padding-left: 35%;
		text-align: center;
	}
	.desc-wrapper {
		margin-bottom: 15px;
	}
	.days-wrapper {
		margin-top: 5px;
	}
	.info-wrapper {
		position: absolute;
		top: -10px;
	}
	.info-wrapper-small {
		position: absolute;
		top: -15px;
	}
	.days-wrapper-failed {
		margin-top: 5px;
		color: #dd2c00;
	}
	.days-wrapper-success {
		margin-top: 5px;
		color: #00984a;
	}
	.verticalpad {
		padding-top: 5px;
		vertical-align: middle; 
	}
	
	.headercol > a,
	.headercol > a:hover,
	.headercol > a:focus {
		color: #00984a;
	}
	
	.headercolsmall > a,
	.headercolsmall > a:hover,
	.headercolsmall > a:focus {
		color: #00984a;
	}
	
	.required label.control-label:after {
    	color: #000;
    	content: ' *';
    	display:inline;
	}
	
	.required_desc {
		margin: 0 0 7px 20px;
	}
	.required_desc > p{
		font-size: small;
		font-weight: bold;
		margin: 0;
	}
	
	.modal-body {
		padding-bottom: 8px;
	}

	#my-small-menu { display: block; }   /* hide it elsewhere */
  	#my-big-menu { display: none; }   /* show it elsewhere */
  	#my-small-footer { display: block; }
  	#my-big-footer { display: none; }
  	/* Block for green score */
  	#green-small-score { display: block; }
	#green-big-score { display: none; }
	#green-small-score-king { display: block; }
	#green-big-score-king { display: none; }
	/* Block for health score */
  	#health-small-score { display: block; }
	#health-big-score { display: none; }
	#health-small-score-king { display: block; }
	#health-big-score-king { display: none; }
	/* Block for pr score */
  	#pr-small-score { display: block; }
	#pr-big-score { display: none; }
	#pr-small-score-king { display: block; }
	#pr-big-score-king { display: none; }
	/* Block for challeng */
	#ch-small-block {display: block; }
	#ch-big-block {display: none; }
	#ch-small-details-block {display: block; }
	#ch-big-details-block {display: none; }
	#ch-small-title {display: block; }
	#ch-big-title {display: none; }
	
	/* Block for page head titles */
	#my-prof-head-title { 
		display: block;
		color: gray;
		font-size: 32px;
		font-weight: bold;
	}
	#my-class-head-title { 
		display: block;
		color: gray;
		font-size: 32px;
		font-weight: bold;
	}
	#my-rules-head-title { 
		display: block;
		color: gray;
		font-size: 32px;
		font-weight: bold;
	}
	

	@media (min-width:768px) {
		#my-small-menu { display: none; }   /* hide it elsewhere */
  		#my-big-menu { display: block; }   /* show it elsewhere */
  		#my-small-footer { display: none; }
  		#my-big-footer { display: block; }
/*   	#my-small-tabs { dispaly: none; } */
/*   	#my-big-tabs { dispaly: block; } */
		/* Block for green score */
		#green-small-score { display: none; }
		#green-big-score { display: block; }
		#green-small-score-king { display: none; }
		#green-big-score-king { display: block; }
		/* Block for health score */
  		#health-small-score { display: none; }
		#health-big-score { display: block; }
		#health-small-score-king { display: none; }
		#health-big-score-king { display: block; }
		/* Block for pr score */
  		#pr-small-score { display: none; }
		#pr-big-score { display: block; }
		#pr-small-score-king { display: none; }
		#pr-big-score-king { display: block; }
		/* Block for page head titles */
		#my-prof-head-title { display: none; }
		#my-class-head-title { display: none; }
		#my-rules-head-title { display: none; }
		/* Block for challeng */
		#ch-small-block {display: none; }
		#ch-big-block {display: block; }
		#ch-small-details-block {display: none; }
		#ch-big-details-block {display: block; }
		#ch-small-title {display: none; }
		#ch-big-title {display: block; }
	}