	.myheader{
    	text-align: left;
     	padding: 1em;
	}
	
	.buttonaccess {
		margin: 10px;
	}
  
	.navbar-default {
		background: #c2c2c2;
		font-weight: bold;
	}
	
	.upper-letters {
		text-transform: uppercase;
	}
	
	.navbar-default .navbar-text {
  		color: #2a2a2a;
	}
	.navbar-default .navbar-nav > li > a {
	  	color: #2a2a2a;
	}
	.navbar-default .navbar-nav
	
/* 	.navbar-default .navbar-nav > .active { */
/* 	  	color: #00984a; /*#555555;*/ */
/* 	  	background-color: #c2c2c2; */
/* 	} */
	
	.navbar-default .navbar-nav > .active > a, 
	.navbar-default .navbar-nav > .active > a:hover, 
	.navbar-default .navbar-nav > .active > a:focus {
	 	color: #00984a; /*#555555;*/
	  	background: #c2c2c2;
	}
	
	.dropdown-menu .open {
 		width: 100px;
 		display: inline-block;
 	}
 	.open > .dropdown-menu {
 		width: 100%;
 	}
 	.dropdown-menu > li > a {
 		line-height: 2.2;
 		font-size: 15px;
 	}
 	.dropdown-menu > .active > a, 
 	.dropdown-menu > .active > a:hover, 
 	.dropdown-menu > .active > a:focus {
 		background: #00984a;
 	}
 	
	.btn-default,
	.btn-default:hover, 
	.btn-default:focus, 
	.btn-default:active, 
	.btn-default.active, 
	.open .dropdown-toggle.btn-default {
		/*width: 100%;*/
		color: #00984a;
		/* background: #fff;
		border: 1px;
		box-shadow: none;
		font-size: 15px;
    	line-height: 2.2; */
	}
	
	.navbar-default .navbar-nav .open .dropdown-menu > li > a {
		color: #2a2a2a; /*#555555;*/
		font-size: 24px;
	}
	
	.navbar-default .navbar-nav .open .dropdown-menu {
		color: #2a2a2a; /*#555555;*/
	  	background: #c2c2c2;
/* 	  	display: inline-block; */
	}
	
	.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
	.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
	.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
		color: #00984a; /*#555555;*/
	  	background: #c2c2c2;
	}
	
	.progress-bar-success {
		background-image: linear-gradient(to bottom, #50d090 0, #449d44 100%);	/* aligned to green used in app */
	}

	.all-width {
		width: 100%;
	}
  	.tab-content {
    	border-left: 3px solid #c2c2c2;
    	border-right: 3px solid #c2c2c2;
    	border-bottom: 3px solid #c2c2c2;
    	background-color: #fff; /*#e5e4e2*/;
    	padding: 7px;
	}
	.nav-tabs {
		font-weight: bold;
        color: #2a2a2a;
        background-color: #fff; /*#e5e4e2*/;
        border-bottom: none;
        width: 100%;
    }
    .noborder {
    	border: none;
    	background-color: #fff;
    }
    
	.nav-tabs.nav-justified {
		max-height: 45px;
		/* float: left; */
    }
    .nav-tabs.nav-justified > li {
		float: left;
    }
    
    .nav-tabs.nav-justified-big {
		max-height: 45px;
    } 
    
    .nav-justified > li {
		display: table-cell;
		width: 33.33%;
		/* resize: horizontal; */
		float: left;
    }
    
    .nav-justified-big > li {
		display: table-cell;
		width: 100%;
		/* resize: horizontal; */
		float: none;
    }
	
	.nav-tabs.nav-justified > li > a,
    .nav-tabs.nav-justified > li > a:hover,
    .nav-tabs.nav-justified > li > a:focus {
        color: #2a2a2a;
        background-color: #fff; /*#e5e4e2*/
        border-top: 3px solid #c2c2c2;
        border-right: 3px solid #c2c2c2;
      	border-left: 3px solid #c2c2c2;
     	border-bottom: 3px solid #c2c2c2;
/* 		border-bottom-color: transparent; */
    } 
	
	.nav-tabs.nav-justified > li.active > a,
    .nav-tabs.nav-justified > li.active > a:hover,
    .nav-tabs.nav-justified > li.active > a:focus {
        color: #00984a;
        background-color: #fff; /*#e5e4e2*/
        border-top: 3px solid #c2c2c2;
        border-right: 3px solid #c2c2c2;
      	border-left: 3px solid #c2c2c2;
		border-bottom: 3px solid #fff; /*#e5e4e2*/
    }     
    
    .nav-tabs.nav-justified-big > li > a,
    .nav-tabs.nav-justified-big > li > a:hover,
    .nav-tabs.nav-justified-big > li > a:focus {
        color: #2a2a2a;
        background-color: #fff; /*#e5e4e2*/
        /* border-top: 3px solid #c2c2c2;
        border-right: 3px solid #c2c2c2;
      	border-left: 3px solid #c2c2c2;
     	border-bottom: 3px solid #c2c2c2; */
     	border: none;
/* 		border-bottom-color: transparent; */
    } 
	
	.nav-tabs.nav-justified-big > li.active > a,
    .nav-tabs.nav-justified-big > li.active > a:hover,
    .nav-tabs.nav-justified-big > li.active > a:focus {
        color: #00984a;
        background-color: #fff; /*#e5e4e2*/
        /* border-top: 3px solid #c2c2c2;
        border-right: 3px solid #c2c2c2;
      	border-left: 3px solid #c2c2c2;
		border-bottom: 3px solid #fff; */
		border: none;
    } 
    
    #prof-nav.tab-content {
    	background-color: trasparent;
    	padding: 25px;
	}
	
	.homepanel {
		margin-top: 40px;
		border-width: 0px;
		box-shadow: none;
	}
	
	.homeheadertitle {
		margin-bottom: 25px;
		max-height: 115px;
	}
	
	.h1_reduced_margin {
		margin-top: 10px;
	}
	
	.twitter_btn_wrapper {
		max-width: 22px;
		overflow: hidden;
		position: absolute;
		top: 1px;
		left: 23px;
	}
	
	.twitter_btn_wrapper_large {
		max-width: 60px;
		height: 25px;
		overflow: hidden;
		position: absolute;
		top: 1px;
		right: 15px;
	}
	
	.facebook_btn_wrapper_large {
		max-width: 60px;
		height: 25px;
		overflow: hidden;
		position: absolute;
		top: 0px;
		right: 85px;
	}
	
	.twitter_btn_wrapper_ch {
		max-width: 60px;
		height: 25px;
		overflow: hidden;
		position: absolute;
		top: 1px;
		left: 65px;
	}
	
	.facebook_btn_wrapper_ch {
		max-width: 60px;
		height: 25px;
		overflow: hidden;
		position: absolute;
		top: 0px;
		left: 0px;
	}
	
	.sharing_wrapper {
		position: relative;
	}
	
	.view_body_wrapper {
		margin:10px 5px;
	}
	
	.panel-body .panel-body-nopadding {
		padding: 5px;
	}
	
	.nopadding {
		padding-left: 5px;
		padding-right: 5px;
		padding-top: 4px;
	}
	.norightpadding {
		padding-right: 0px;
	}
	.nopadding-absolute {
		padding: 0px;
	}
	
	.alert-success {
		text-align: center;
		border: none;
		box-shadow: none;
		background-image: none;
		color: #fff;
		background-color: #60b35c;
		background: #60b35c; /* For browsers that do not support gradients */
    	background: -webkit-linear-gradient(#60b35c, #fff); /* For Safari 5.1 to 6.0 */
    	background: -o-linear-gradient(#60b35c, #fff); /* For Opera 11.1 to 12.0 */
    	background: -moz-linear-gradient(#60b35c, #fff); /* For Firefox 3.6 to 15 */
    	background: linear-gradient(#60b35c, #fff); /* Standard syntax */
	}
	.alert h4 {
		margin-bottom: 0;
		margin-top: 0;
	}
	
	.padding_btm {
		padding-bottom: 10px;
		text-align: center;
	}
	.padding_btm_only {
		padding-bottom: 5px;
	}
	.banner-imgs {
		/*margin-top: 15px;*/
		max-width: 95%;
		max-height: 200px;
	}
	
	.panel-success {
		background-color: #f5f5f5;
        border-top: 2px solid #bdbdbd;
        border-right: 2px solid #bdbdbd;
      	border-left: 2px solid #bdbdbd;
		border-bottom: 2px solid #bdbdbd;
	}
	
	.panel-success-trasparent {
		background-color: #fff;
        border-top: 0px solid #bdbdbd;
        border-right: 0px solid #bdbdbd;
      	border-left: 0px solid #bdbdbd;
		border-bottom: 0px solid #bdbdbd;
		box-shadow: none;
	}
	
	.panel-success.success {
		background-color: #f5f5f5;
        border-top: 2px solid #00984a;
        border-right: 2px solid #00984a;
      	border-left: 2px solid #00984a;
		border-bottom: 2px solid #00984a;
	}
	.panel-success.success .panel-body {
		padding-left: 10px;
		padding-right: 10px;
		padding-bottom: 0px;
		padding-top: 0px;
	}
	
	.panel-success.failed {
		background-color: #f5f5f5;
        border-top: 2px solid #bdbdbd;
        border-right: 2px solid #bdbdbd;/*#ff7f7f;*/
      	border-left: 2px solid #bdbdbd;
		border-bottom: 2px solid #bdbdbd;
	}
	.panel-success.failed .panel-body {
		padding-left: 10px;
		padding-right: 10px;
		padding-bottom: 5px;
		padding-top: 0px;
	}
	.small {
		text-align: left;
		font-size: 14px;
	}
	
	.image-succ-wrapper {
    	position: relative;
    	text-align: center;
    	width: 60px;
    }
	
	.panel-body {
		padding-left: 10px;
		padding-right: 10px;
		padding-bottom: 5px;
	}
	.headercol {
		margin-top: 5px;
		margin-left: 15px;
		padding-left: 10px;
		padding-right: 0px;
	}
	.headercol-success {
		margin-top: 20px;
		margin-left: 15px;
		padding-left: 10px;
		padding-right: 0px;
	}
	.headercol-failed {
		margin-top: 20px;
		margin-left: 15px;
		padding-left: 10px;
		padding-right: 0px;
	}
	.progresscol {
		margin-top: 15px;
		margin-left: 15px;
	}
	.iconcol {
		margin-top: 2px;
	}
	.iconcolsmall {
		margin-top: 2px;
		padding-right: 0px;
		padding-left: 10px;
	}
	.iconcol-success {
		margin-top: 17px;
	}
	.iconcol-failed {
		margin-top: 17px;
	}
	.imagecol {
		margin-top: 10px;
		padding-right: 2px;
		padding-left: 10px;
	}
	.image-bonus-info {
		position: absolute;
		top: -13px;
		left: 60%;
		font-weight: bold;
		color: #6ab64d;
		opacity: 0.4;
	}
	.image-status-info {
		position: absolute;
		bottom: 0px;
		left: 55%;
		font-weight: bold;
	}
	.image-bonus-info-small {
		position: absolute;
		top: -13px;
		left: 80%;
		font-weight: bold;
		color: #6ab64d;
		opacity: 0.4;
	}
	.image-status-info-small {
		position: absolute;
		bottom: 0px;
		left: 75%;
		font-weight: bold;
	}
	.image-bonus-success-num_2 {
		position: absolute;
		top: 10px;
		left: 38px;
		font-weight: bold;
		font-size: 15px;
		color: #fff;
		text-align: center;
	}
	.image-bonus-success-num_3 {
		position: absolute;
		top: 10px;
		left: 35px;
		font-weight: bold;
		font-size: 15px;
		color: #fff;
		text-align: center;
	}
	.image-bonus-success {
		position: absolute;
		top: 19px;
		left: 31px;
		font-weight: bold;
		font-size: 11px;
		line-height: 11px;
		color: #fff;
		text-align: center;
		max-width: 35px;
	}
	.image-bonus-success-num_2_small {
		position: absolute;
		top: 10px;
		left: 21px;
		font-weight: bold;
		font-size: 15px;
		color: #fff;
		text-align: center;
	}
	.image-bonus-success-num_3_small {
		position: absolute;
		top: 10px;
		left: 18px;
		font-weight: bold;
		font-size: 15px;
		color: #fff;
		text-align: center;
	}
	.image-bonus-success-small {
		position: absolute;
		top: 20px;
		left: 16px;
		font-weight: bold;
		font-size: 11px;
		line-height: 11px;
		color: #fff;
		text-align: center;
		max-width: 10%;
	}
	.oriz_space_2 {
		left: 35px%;
	}
	.oriz_space_3 {
		left: 34px;
	}
	.oriz_space_4 {
		left: 32px;
	}
	.oriz_space_5 {
		left: 28px;
	}
	.oriz_space_6 {
		left: 23px;
	}
	.oriz_space_bonus_2 {
		left: 35px;
	}
	.oriz_space_bonus_3 {
		left: 34px;
	}
	.oriz_space_bonus_4 {
		left: 32px;
	}
	.oriz_space_2_small {
		left: 25px;
	}
	.oriz_space_3_small {
		left: 20px;
	}
	.oriz_space_4_small {
		left: 16px;
	}
	.oriz_space_5_small {
		left: 13px;
	}
	.oriz_space_6_small {
		left: 9px;
	}
	.oriz_space_bonus_2_small {
		left: 22px;
	}
	.oriz_space_bonus_3_small {
		left: 18px;
	}
	.oriz_space_bonus_4_small {
		left: 14px;
	}
	
	.spacedrow {
		margin-top: 25px;
		margin-bottom: 10px;
	}
	.headerleftcol {
		margin-top: 15px;
		margin-left: 45px;
	}
	.headercolsmall {
		margin-top: 10px;
		padding-right: 28%;
		padding-left: 35%;
		text-align: center;
	}
	.desc-wrapper {
		margin-bottom: 15px;
	}
	.days-wrapper {
		margin-top: 5px;
	}
	.info-wrapper {
		position: absolute;
		top: -10px;
	}
	.info-wrapper-small {
		position: absolute;
		top: -15px;
	}
	.days-wrapper-failed {
		margin-top: 5px;
		color: #dd2c00;
	}
	.days-wrapper-success {
		margin-top: 5px;
		color: #00984a;
	}
	.verticalpad {
		padding-top: 5px;
		vertical-align: middle; 
	}
	.social-absolute {
		position: absolute;
		top: 60%;
		right: 20px;
	}
	.small_b {
		padding-left: 0px;
		padding-right: 5px;
	}
	.center-text {
		text-align: center;
	}
	.right-text {
		text-align: right;
	}
	
	.small-content {
		padding: 0px;
	}
	
	.headercol > a,
	.headercol > a:hover,
	.headercol > a:focus {
		color: #00984a;
	}
	
	.headercolsmall > a,
	.headercolsmall > a:hover,
	.headercolsmall > a:focus {
		color: #00984a;
	}
	
	.required label.control-label:after {
    	color: #000;
    	content: ' *';
    	display:inline;
	}
	
	.required_desc {
		margin: 15px 0 15px 10px;
	}
	.required_desc > p{
		font-size: small;
		font-weight: bold;
		margin: 0;
	}
	
	.modal-body {
		padding-bottom: 8px;
	}
	
	.modal {
		-webkit-overflow-scrolling: touch !important;
	}
	
	.modal-header {
		position: relative;
	}
	
	.btn.btn-left {
		position: absolute;
		top: 10px;
		right: 10px;
	}
	
	.center-bottom {
		text-align: center;
		vertical-align: bottom;
		display: inline-block;
		float: none;
	}
	
	.center-bottom-small {
		text-align: center;
		vertical-align: bottom;
		padding-top: 20px;
		padding-bottom: 5px;
	}
	.center-bottom-small-fbk {
		text-align: center;
		vertical-align: bottom;
		padding-top: 35px;
	}
	
	.margin-row {
		margin-top: 30px;
	}
	
	p.big-text {
		font-size: 16px;
	}

	#my-small-menu { display: block; }   /* hide it elsewhere */
  	#my-big-menu { display: none; }   /* show it elsewhere */
  	#my-small-menu { display: block; }   /* hide it elsewhere */
  	#my-big-login { display: none; }   /* show it elsewhere */
  	#my-small-login { display: block; }
  	#my-big-footer { display: none; }
  	/* Block for green score */
  	#green-small-score { display: block; }
	#green-big-score { display: none; }
	#green-small-score-king { display: block; }
	#green-big-score-king { display: none; }
	/* Block for health score */
  	#health-small-score { display: block; }
	#health-big-score { display: none; }
	#health-small-score-king { display: block; }
	#health-big-score-king { display: none; }
	/* Block for pr score */
  	#pr-small-score { display: block; }
	#pr-big-score { display: none; }
	#pr-small-score-king { display: block; }
	#pr-big-score-king { display: none; }
	/* Block for challeng */
	#ch-small-block {display: block; }
	#ch-big-block {display: none; }
	#ch-small-details-block {display: block; }
	#ch-big-details-block {display: none; }
	#ch-small-title {display: block; }
	#ch-big-title {display: none; }
	/* Block for badges */
	#small-badges {display: block; }
	#big-badges {display: none; }
	#small-badges-bike-trips {display: block; }
	#big-badges-bike-trips {display: none; }
	#small-badges-bike-sharing {display: block; }
	#big-badges-bike-sharing {display: none; }
	#small-badges-zero-impact {display: block; }
	#big-badges-zero-impact {display: none; }
	#small-badges-public-transport {display: block; }
	#big-badges-public-transport {display: none; }
	#small-badges-park-and-ride {display: block; }
	#big-badges-park-and-ride {display: none; }
	#small-badges-user-recommendation {display: block; }
	#big-badges-user-recommendation {display: none; }
	#small-badges-leaderboards-top-3 {display: block; }
	#big-badges-leaderboards-top-3 {display: none; }
	/* Block for classification */
	#small-class-table-green {display: block; }
	#big-class-table-green {display: none; }
	#small-tab-classification {display: block; }
	#big-tab-classification {display: none; }
	/* Extra pages */
	#small-rules-page {display: block; }
	#big-rules-page {display: none; }
	#small-rules-view {display: block; }
	#big-rules-view {display: none; }
	#small-privacy-page {display: block; }
	#big-privacy-page {display: none; }
	#small-privacy-view {display: block; }
	#big-privacy-view {display: none; }
	#small-prizes-page {display: block; }
	#big-prizes-page {display: none; }
	#small-prizes-view {display: block; }
	#big-prizes-view {display: none; }
	#small-credits-view {display: block; }
	#big-credits-view {display: none; }
	#small-dropdown-classification {display: block; }
	#big-dropdown-classification {display: none; }
	/* loading panel */
	#small-loading {display: block; }
	#big-loading {display: none; }
	/* sharing buttons in classification */
	#small-sharing-class {display: block; }
	#big-sharing-class {display: none; }
	
	/* Block for page head titles */
	#my-prof-head-title { 
		display: block;
		color: gray;
		font-size: 32px;
		font-weight: bold;
	}
	#my-class-head-title { 
		display: block;
		color: gray;
		font-size: 32px;
		font-weight: bold;
	}
	#my-rules-head-title { 
		display: block;
		color: gray;
		font-size: 32px;
		font-weight: bold;
	}
	#my-credits-head-title { 
		display: block;
		color: gray;
		font-size: 32px;
		font-weight: bold;
	}

	@media (min-width:768px) {
		.nav-tabs.nav-justified > li { float: none; }
		/*.btn-default { width: 90% }*/
		.open > .dropdown-menu { width: 90% }
		#my-small-menu { display: none; }   /* hide it elsewhere */
  		#my-big-menu { display: block; }   /* show it elsewhere */
  		#my-small-login { display: none; }   /* hide it elsewhere */
  		#my-big-login { display: block; }   /* show it elsewhere */
  		#my-small-footer { display: none; }
  		#my-big-footer { display: block; }
/*   	#my-small-tabs { dispaly: none; } */
/*   	#my-big-tabs { dispaly: block; } */
		/* Block for green score */
		#green-small-score { display: none; }
		#green-big-score { display: block; }
		#green-small-score-king { display: none; }
		#green-big-score-king { display: block; }
		/* Block for health score */
  		#health-small-score { display: none; }
		#health-big-score { display: block; }
		#health-small-score-king { display: none; }
		#health-big-score-king { display: block; }
		/* Block for pr score */
  		#pr-small-score { display: none; }
		#pr-big-score { display: block; }
		#pr-small-score-king { display: none; }
		#pr-big-score-king { display: block; }
		/* Block for page head titles */
		#my-prof-head-title { display: none; }
		#my-class-head-title { display: none; }
		#my-rules-head-title { display: none; }
		/* Block for challeng */
		#ch-small-block {display: none; }
		#ch-big-block {display: block; }
		#ch-small-details-block {display: none; }
		#ch-big-details-block {display: block; }
		#ch-small-title {display: none; }
		#ch-big-title {display: block; }
		/* Block for badges */
		#small-badges {display: none; }
		#big-badges {display: block; }
		#small-badges-bike-trips {display: none; }
		#big-badges-bike-trips {display: block; }
		#small-badges-bike-sharing {display: none; }
		#big-badges-bike-sharing {display: block; }
		#small-badges-zero-impact {display: none; }
		#big-badges-zero-impact {display: block; }
		#small-badges-public-transport {display: none; }
		#big-badges-public-transport {display: block; }
		#small-badges-park-and-ride {display: none; }
		#big-badges-park-and-ride {display: block; }
		#small-badges-user-recommendation {display: none; }
		#big-badges-user-recommendation {display: block; }
		#small-badges-leaderboards-top-3 {display: none; }
		#big-badges-leaderboards-top-3 {display: block; }
		/* Block for classification */
		#small-class-table-green {display: none; }
		#big-class-table-green {display: block; }
		#small-tab-classification {display: none; }
		#big-tab-classification {display: block; }
		/* Extra pages */
		#small-rules-page {display: none; }
		#big-rules-page {display: block; }
		#small-rules-view {display: none; }
		#big-rules-view {display: block; }
		#small-privacy-page {display: none; }
		#big-privacy-page {display: block; }
		#small-privacy-view {display: none; }
		#big-privacy-view {display: block; }
		#small-prizes-page {display: none; }
		#big-prizes-page {display: block; }
		#small-prizes-view {display: none; }
		#big-prizes-view {display: block; }
		#small-credits-view {display: none; }
		#big-credits-view {display: block; }
		#small-dropdown-classification {display: none; }
		#big-dropdown-classification {display: block; }
		/* loading panel */
		#small-loading {display: none; }
		#big-loading {display: block; }
		/* sharing buttons in classification */
		#small-sharing-class {display: none; }
		#big-sharing-class {display: block; }
	}