body {
  margin:0px;
  background-image:none;
  touch-action:none;
  position:static;
  left:auto;
  width:1024px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:768px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:768px;
}
#u1 {
  position:absolute;
  left:2px;
  top:376px;
  width:1020px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:283px;
  top:212px;
  width:423px;
  height:99px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:100px;
}
#u3 {
  position:absolute;
  left:2px;
  top:42px;
  width:419px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:111px;
  top:398px;
  width:772px;
  height:117px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:21px;
}
#u6 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:100px;
  top:0px;
  width:100px;
  height:20px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:21px;
}
#u8 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:200px;
  top:0px;
  width:100px;
  height:20px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:21px;
}
#u10 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:300px;
  top:0px;
  width:393px;
  height:20px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:394px;
  height:21px;
}
#u12 {
  position:absolute;
  left:2px;
  top:2px;
  width:389px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:693px;
  top:0px;
  width:74px;
  height:20px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:21px;
}
#u14 {
  position:absolute;
  left:2px;
  top:2px;
  width:70px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:0px;
  top:20px;
  width:100px;
  height:31px;
  text-align:center;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:32px;
}
#u16 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:100px;
  top:20px;
  width:100px;
  height:31px;
  text-align:center;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:32px;
}
#u18 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:200px;
  top:20px;
  width:100px;
  height:31px;
  text-align:center;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:32px;
}
#u20 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:300px;
  top:20px;
  width:393px;
  height:31px;
  text-align:center;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:394px;
  height:32px;
}
#u22 {
  position:absolute;
  left:2px;
  top:8px;
  width:389px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:693px;
  top:20px;
  width:74px;
  height:31px;
  text-align:center;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:32px;
}
#u24 {
  position:absolute;
  left:2px;
  top:8px;
  width:70px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:0px;
  top:51px;
  width:100px;
  height:30px;
  text-align:center;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:31px;
}
#u26 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:100px;
  top:51px;
  width:100px;
  height:30px;
  text-align:center;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:31px;
}
#u28 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:200px;
  top:51px;
  width:100px;
  height:30px;
  text-align:center;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:31px;
}
#u30 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:300px;
  top:51px;
  width:393px;
  height:30px;
  text-align:center;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:394px;
  height:31px;
}
#u32 {
  position:absolute;
  left:2px;
  top:8px;
  width:389px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:693px;
  top:51px;
  width:74px;
  height:30px;
  text-align:center;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:31px;
}
#u34 {
  position:absolute;
  left:2px;
  top:7px;
  width:70px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:0px;
  top:81px;
  width:100px;
  height:31px;
  text-align:center;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:32px;
}
#u36 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:100px;
  top:81px;
  width:100px;
  height:31px;
  text-align:center;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:32px;
}
#u38 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:200px;
  top:81px;
  width:100px;
  height:31px;
  text-align:center;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:32px;
}
#u40 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:300px;
  top:81px;
  width:393px;
  height:31px;
  text-align:center;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:394px;
  height:32px;
}
#u42 {
  position:absolute;
  left:2px;
  top:8px;
  width:389px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:693px;
  top:81px;
  width:74px;
  height:31px;
  text-align:center;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:32px;
}
#u44 {
  position:absolute;
  left:2px;
  top:8px;
  width:70px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:113px;
  top:424px;
  width:101px;
  height:20px;
  overflow:hidden;
}
#u46_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:20px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u46_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u47 {
  position:absolute;
  left:5px;
  top:3px;
  width:85px;
  height:15px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:15px;
}
#u48 {
  position:absolute;
  left:2px;
  top:0px;
  width:81px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:20px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u46_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u49 {
  position:absolute;
  left:5px;
  top:3px;
  width:85px;
  height:15px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:15px;
}
#u50 {
  position:absolute;
  left:2px;
  top:0px;
  width:81px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:831px;
  top:424px;
  width:20px;
  height:20px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u52 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:831px;
  top:452px;
  width:20px;
  height:20px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u54 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:831px;
  top:484px;
  width:20px;
  height:20px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u56 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:426px;
  top:536px;
  width:117px;
  height:44px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:45px;
}
#u58 {
  position:absolute;
  left:2px;
  top:3px;
  width:113px;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:559px;
  top:536px;
  width:51px;
  height:46px;
  overflow:hidden;
}
#u59_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:46px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u59_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u59_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:46px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u59_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u61 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u62 {
  position:absolute;
  left:339px;
  top:264px;
  width:350px;
  height:33px;
  color:#666666;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:34px;
}
#u63 {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  word-wrap:break-word;
}
#u64 {
  position:absolute;
  left:339px;
  top:222px;
  width:350px;
  height:33px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#666666;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:34px;
}
#u65 {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  word-wrap:break-word;
}
#u66 {
  position:absolute;
  left:113px;
  top:355px;
  width:350px;
  height:33px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#666666;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:34px;
}
#u67 {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:559px;
  top:15px;
  width:395px;
  height:265px;
  overflow:hidden;
}
#u69_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:395px;
  height:265px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u69_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u70 {
  position:absolute;
  left:10px;
  top:10px;
  width:379px;
  height:131px;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:132px;
}
#u71 {
  position:absolute;
  left:2px;
  top:58px;
  width:375px;
  visibility:hidden;
  word-wrap:break-word;
}
#u72 {
  position:absolute;
  left:33px;
  top:47px;
  width:358px;
  height:215px;
  overflow:hidden;
}
#u72_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:215px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u72_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u72_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:215px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u72_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u73 {
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  height:37px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#666666;
  text-align:left;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:38px;
}
#u73_img.mouseOver {
}
#u73.mouseOver {
}
#u74 {
  position:absolute;
  left:2px;
  top:2px;
  width:305px;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:0px;
  top:37px;
  width:309px;
  height:37px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#666666;
  text-align:left;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:38px;
}
#u75_img.mouseOver {
}
#u75.mouseOver {
}
#u76 {
  position:absolute;
  left:2px;
  top:2px;
  width:305px;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:10px;
  top:10px;
  width:309px;
  height:37px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:38px;
}
#u78 {
  position:absolute;
  left:2px;
  top:2px;
  width:305px;
  word-wrap:break-word;
}
#u80 {
  position:absolute;
  left:113px;
  top:454px;
  width:101px;
  height:20px;
  overflow:hidden;
}
#u80_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:20px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u80_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u81 {
  position:absolute;
  left:5px;
  top:3px;
  width:85px;
  height:15px;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:15px;
}
#u82 {
  position:absolute;
  left:2px;
  top:0px;
  width:81px;
  visibility:hidden;
  word-wrap:break-word;
}
#u80_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:20px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u80_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u83 {
  position:absolute;
  left:5px;
  top:3px;
  width:85px;
  height:15px;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:15px;
}
#u84 {
  position:absolute;
  left:2px;
  top:0px;
  width:81px;
  visibility:hidden;
  word-wrap:break-word;
}
#u86 {
  position:absolute;
  left:113px;
  top:484px;
  width:101px;
  height:20px;
  overflow:hidden;
}
#u86_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:20px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u86_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u87 {
  position:absolute;
  left:5px;
  top:3px;
  width:85px;
  height:15px;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:15px;
}
#u88 {
  position:absolute;
  left:2px;
  top:0px;
  width:81px;
  visibility:hidden;
  word-wrap:break-word;
}
#u86_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:20px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u86_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u89 {
  position:absolute;
  left:5px;
  top:3px;
  width:85px;
  height:15px;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:15px;
}
#u90 {
  position:absolute;
  left:2px;
  top:0px;
  width:81px;
  visibility:hidden;
  word-wrap:break-word;
}
