<div ng-show="!isLoading">
	<table class="table table-hover" style="width: 100%">
		<tr ng-show="GameClassification.length != 0">
			<th width="25%" align="left">{{ 'player_position' | i18n }}</th>
			<th width="50%" align="center">{{ 'player_name' | i18n }}</th>
			<!-- <th width="23%">{{ 'game_code' | i18n }}</th> -->
			<!-- <th width="23%">{{ 'player_state_badge' | i18n }}</th> -->
			<th width="25%">{{ 'player_state_score' | i18n }}</th>
		</tr>
		<tbody class="animate-repeat"
			ng-repeat="p_h in GameClassification | filter:q | orderBy: '-score[1].score' |  startFrom:currentPage*maxPlayers | limitTo:maxPlayers">
			<tr ng-show="p_h.id == userId" class="success">
				<td align="left">{{ p_h.class_pos_h }}</td>
				<td align="left">{{ p_h.name }}</td>
				<!-- <td align="left">{{ p.gameId }}</td> -->
				<!-- <td align="left">{{ p.badge }}</td> -->
				<td align="left">{{ p_h.score[1].score }}</td>
			</tr>
			<tr ng-show="p_h.id != userId">
				<td align="left">{{ p_h.class_pos_h }}</td>
				<td align="left">{{ p_h.name }}</td>
				<!-- <td align="left">{{ p.gameId }}</td> -->
				<!-- <td align="left">{{ p.badge }}</td> -->
				<td align="left">{{ p_h.score[1].score }}</td>
			</tr>
		</tbody>
		<tr ng-show="GameClassification.length == 0">
			<td colspan="3"><strong>{{ 'no_player_in_lists' | i18n }}</strong></td>
		</tr>
	</table>
	<button class="btn btn-success"
		ng-disabled="currentPage == 0"
		ng-click="currentPage=currentPage-1">{{ 'previous_label' | i18n }}</button>
		{{currentPage+1}}/{{numberOfPages()}}
	<button class="btn btn-success"
		ng-disabled="currentPage >= GameClassification.length/maxPlayers - 1"
		ng-click="currentPage=currentPage+1">{{ 'next_label' | i18n }}</button>
</div>