<div ng-show="!isLoading">
	<div class="padding_btm">
		<div class="row" id="big-sharing-class" align="center" ng-if="playerClassActual">
			<div class="col-md-8">
				<strong>Sei al {{ playerClassActual.class_pos_aw }}^o posto con {{ playerClassActual.score[3].score }} punti.</strong>
			</div>
			<div class="col-md-4">
				<div>
					<a facebook-feed-share class="facebookShare" data-title="{{ title }}" data-url="{{ url }}" data-shares='shares' data-caption="{{ caption }}" data-picture="{{ image_url }}" data-description="{{ getPosFb_class(playerClassActual, 1) }}" data-callback="callback"></a><!-- {{ shares }} -->
						&nbsp;&nbsp;
					<a twitter data-count='horizontal' data-title="{{ title }}" data-url="{{ url }}"  data-size="medium" data-text='{{ getPosTw_class(playerClassActual, 1) }}' ></a>
				</div>
			</div>
		</div>
		<div class="row" id="small-sharing-class" align="center" ng-if="playerClassActual">
			<div class="col-xs-9 norightpadding">
				<strong>Sei al {{ playerClassActual.class_pos_aw }}^o posto con {{ playerClassActual.score[3].score }} punti.</strong>
			</div>
			<div class="col-xs-1 nopadding-absolute">
				<div class="sharing_wrapper">
					<a facebook-feed-share class="facebookShare buttonFBSmall" data-title="{{ title }}" data-url="{{ url }}" data-shares='shares' data-caption="{{ caption }}" data-picture="{{ image_url }}" data-description="{{ getPosFb_class(playerClassActual, 1) }}" data-callback="callback"></a><!-- {{ shares }} -->
						&nbsp;&nbsp;
					<div class="twitter_btn_wrapper"><a twitter data-count='horizontal' data-title="{{ title }}" data-url="{{ url }}"  data-size="medium" data-text='{{ getPosTw_class(playerClassActual, 1) }}' ></a></div>
				</div>
			</div>
		</div>
		<div id="big-class-table-green">
			<table class="table table-hover" style="width: 100%">
				<tr ng-show="GameClassificationActual.length != 0">
					<th width="20%" align="left">{{ 'player_position' | i18n }}</th>
					<th width="60%" align="center">{{ 'player_name' | i18n }}</th>
					<th width="20%">{{ 'player_state_score' | i18n }}</th>
					<!-- <th width="25%" class="center-text">{{ 'player_state_social' | i18n }}</th> -->
				</tr>
				<tbody class="animate-repeat"
					ng-repeat="p_g in GameClassificationActual | filter:q | orderBy: '-score[3].score' |  startFrom:currentPage*maxPlayers | limitTo:maxPlayers">
					<tr ng-show="p_g.id == userId" class="success" href="#/profile/{{ gameId }}" ng-click="showProfile()">
						<td align="left">{{ p_g.class_pos_aw }}</td>
						<td align="left">{{ p_g.name }}</td>
						<td align="left">{{ p_g.score[3].score }}</td>
					</tr>
					<tr ng-show="p_g.id != userId">
						<td align="left">{{ p_g.class_pos_aw }}</td>
						<td align="left" ng-if="p_g.name">{{ p_g.name }}</td>
						<td align="left" ng-if="!p_g.name">{{ 'no_named_user' | i18n }}</td>
						<td align="left">{{ p_g.score[3].score }}</td>
					</tr>
				</tbody>
				<tr ng-show="GameClassificationActual.length == 0">
					<td colspan="3"><strong>{{ 'no_player_in_lists' | i18n }}</strong></td>
				</tr>
			</table>
		</div>
		<div id="small-class-table-green">
			<table class="table table-hover" style="width: 100%">
				<tr ng-show="GameClassificationActual.length != 0">
					<th width="20%" align="left">{{ 'player_position' | i18n }}</th>
					<th width="60%" align="center">{{ 'player_name' | i18n }}</th>
					<th width="20%">{{ 'player_state_score' | i18n }}</th>
				<!-- <th width="30%" class="center-text">{{ 'player_state_social' | i18n }}</th> -->
				</tr>
				<tbody class="animate-repeat"
					ng-repeat="p_g in GameClassificationActual | filter:q | orderBy: '-score[3].score' |  startFrom:currentPage*maxPlayers | limitTo:maxPlayers">
					<tr ng-show="p_g.id == userId" class="success" href="#/profile/{{ gameId }}" ng-click="showProfile()">
						<td align="left">{{ p_g.class_pos_aw }}</td>
						<td align="left">{{ p_g.name }}</td>
						<td align="left">{{ p_g.score[3].score }}</td>
					</tr>
					<tr ng-show="p_g.id != userId">
						<td align="left">{{ p_g.class_pos_aw }}</td>
						<td align="left" ng-if="p_g.name">{{ p_g.name }}</td>
						<td align="left" ng-if="!p_g.name">{{ 'no_named_user' | i18n }}</td>
						<td align="left">{{ p_g.score[3].score }}</td>
					</tr>
				</tbody>
				<tr ng-show="GameClassificationActual.length == 0">
					<td colspan="3"><strong>{{ 'no_player_in_lists' | i18n }}</strong></td>
				</tr>
			</table>
		</div>
		<button class="btn btn-success"
			ng-disabled="currentPage == 0"
			ng-click="currentPage=currentPage-1">{{ 'previous_label' | i18n }}</button>
			{{currentPage+1}}/{{numberOfPages()}}
		<button class="btn btn-success"
			ng-disabled="currentPage >= GameClassificationActual.length/maxPlayers - 1"
			ng-click="currentPage=currentPage+1">{{ 'next_label' | i18n }}</button><!--  -->
	</div>	
</div>